.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    padding:.5rem
}

.banner > p {

    color: var(--card-foreground);
}

.banner.big {
    justify-content: center;
    padding: 3rem 2rem;

    border: 1px solid var(--border);
    border-radius: 0.5rem;
}