.osc-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--osc-card);
    padding:.5rem
}

.osc-banner > p {

    color: var(--osc-card-foreground);
}

.osc-banner.big {
    justify-content: center;
    padding: 3rem 2rem;
    border: 1px solid var(--osc-border);
    border-radius: 0.5rem;
}