{% extends 'layouts/main.html' %}

{% block body %}
<div>
  <div class="upper-box card-body">
    <h1 class="">
      {% if title %}
      {{title}}
      {% else %}
      Valideer two factor token
      {% endif %}
    </h1>
    <p class="intro">
      {% if description %}
      {{description}}
      {% else %}
      Vul de token in van je two factor authentication app.
      {% endif %}
    </p>
    <form
    method="post"
    action="{{postUrl}}?&clientId={{clientId}}&redirect_uri={{redirectUrl}}"
    class="validate-form"
    >
      <div class="form-group">
        {% include 'elements/error-flash.html' %}

        <label for="input_field">
          {{ label if label else 'Token' }}
        </label>

        <input
        type="text"
        name="twoFactorToken"
        class="form-input"
        required
        autofocus
        id="input_field"
        />
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="clientId" value="{{clientId}}">

      <input type="submit" value="{{ buttonText if buttonText else 'Valideer' }}" class="btn btn-primary">
    </form>
  </div>
  <br />
  <p>
    {% if info %}
    {{info | safe}}
    {% else %}
    Geen toegang meer tot je two factor app?
    <a href="mailto:{{clientEmail}}">neem contact met ons op om uw account te herstellen.</a>
    {% endif %}
  </p>
</div>
{% endblock %}
