<div id="register">
		<h1>Inloggen</h1>
		<p>
			Je ontvangt per email een link waarmee je kan inloggen.
			Hierna ben je gelijk ingelogd voor 6 maanden of totdat je uitlogt.
		</p>
    <p>
      Je hoeft je hiervoor niet apart te registreren.
    </p>
		<form method="post" action="/account/register?ref=">
				<div class="form-group">
					<input
						type="text"
						value=""
						placeholder="Voornaam"
						class="form-input"
						required
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						value=""
						placeholder="Acternaam"
						class="form-input"
						required
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						value=""
						placeholder="Acternaam"
						class="form-input"
						required
					/>
				</div>

				<input type="hidden" name="_csrf" value="{{$csrfToken}}">
				<input type="submit" value="Stuur mij e-mail">
		</form>
</div>
