{% extends 'layout.html' %}

{% block body %}
<div class="center-block">
  {% include 'elements/logo.html' %}
</div>

{% include 'elements/flash.html' %}

<div class="card">
  <div class="upper-box card-body">
      <form method="POST">
         <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <legend>Wachtwoord vergeten</legend>
        <div class="form-group">
          <p>
            Laat je e-mail achter en we mailen je instructies voor het resetten van je wachtwoord.
          </p>
          <input type="email" name="email" id="email" placeholder="Email" class="form-input" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Stuur e-mail</button>
      </form>
  </div>
</div>

<br />

<p class="text-center">
   <a href="/login">Terug naar inloggen</a>
</p>

{% endblock %}
