
 {% if not loginModalId %}
 {% set loginModalId = 'login' %}
 {% endif %}

  <div id="{{loginModalId}}" class="content-modal content-modal--s">
    <div class="content-modal-content">
      {% if loginModalHeader %}
      <h3 style="text-align: center">
        {{loginModalHeader}}
      </h3>
      {% endif %}
      {% include 'account/login-form.html' %}

      <a href="#closed" class="content-modal-close" >
        <img src="/img/close.svg" width="17" height="17"/>
      </a>
    </div>
  </div>
