{% extends 'layout-login.html' %}

{% block body %}
<div id="register">
	<div class="card">
		<div class="upper-box card-body">
			<legend>Registreren of inloggen <br />per e-mail</legend>
			<p>
				Je ontvangt per email een link waarmee je kan inloggen.
				Hierna ben je gelijk ingelogd voor 6 maanden of totdat je uitlogt.
			</p>
	    <p>
	      Je hoeft je hiervoor niet apart te registreren.
	    </p>
			<form method="post" action="/login-with-email-url">
					<div class="form-group">
						<input
							type="email"
							value=""
							name="email"
							placeholder="E-mail"
							class="form-input"
							required
						/>
					</div>
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="hidden" name="clientId" value="{{clientId}}">
					<input type="submit" value="Versturen e-mail" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>
{% endblock %}
