{% extends 'layout.html' %}

{% block body %}
<!-- Shown after the user clicks and gets an access token -->
<div class="container">
  <div class="row">
  <div class="col-xs-12">
<div id="accessTokenDiv" >
  <h2>
    Access Token
  </h2>

  <p>
    You can use your access token to call an endpoint such as a user info endpoint.
    To do this, set the Authorization Bearer to have your access token.
  </p>
    <pre>GET /api/userinfo HTTP/1.1
    Host: <span class="hostname">{{ssoUrl}}</span>
    Authorization: Bearer <span id="access_token">{{token}}</span>
    </pre>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    /**
     * Gets a parameter by name.  Lifted from stackoverflow here:
     * http://stackoverflow.com/questions/1403888/get-url-parameter-with-javascript-or-jquery
     * @param name The name of the parameter to get from the URL
     * @returns {*|string} the parameter name if matched
     */
    function getParameterByName(name) {
      var match = new RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
      return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    function getHashValue(key) {
      var matches = location.hash.match(new RegExp(key+'=([^&]*)'));
      return matches ? matches[1] : null;
    }

    var access_token = getHashValue('access_token');
    $("#access_token").text(access_token);
  });
</script>
{% endblock %}
