{% extends 'emails/layout.html' %}

{% block body %}
<h2 style="margin-bottom: 4px; font-size: 25px;">
    {{emailTitleText if emailTitleText else 'Wachtwoord herstellen'}}
</h2>

{% if name %}
<br />
<b> {{emailSalutationText if emailSalutationText else 'Beste'}} {{name}}, </b>
<br />
{% endif %}
<br />
{{emailDescriptionText if emailDescriptionText else 'Er is een aanvraag tot wachtwoord herstellen gedaan. Klik op de knop hieronder om het Wachtwoord opnieuw in te stellen.'}}
<br />
{{emailValidTimeText if emailValidTimeText else 'De knop is 60 minuten geldig.'}}
<br />
<br />
<p align="middle" style="margin: 10px 0;">
	<a
    href="{{resetUrl}}"
    style="background-color: #12B886; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
    target="_blank"
  >
		<b>
            {{emailButtonText if emailButtonText else 'Wachtwoord herstellen'}}
        </b>
	</a>
</p>
<br />


<p style="font-size:0.7em;font-style:italic;margin-bottom:5em" align="center">
    {{emaiLinkExplanationText if emaiLinkExplanationText else 'Of gebruik deze link in je browser:'}}
    <a
    href="{{resetUrl}}"
    style="color:#12B886"
    target="_blank"
  >
    {{resetUrl}}
  </a>
</p>
{% endblock %}
