
.osc.date-countdown-bar-container {
  display: flex;
  gap: var(--setCountdownBarGap, var(--countdownBarGap, var(--nlds-countdownbar-gap, 1rem)));
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--setCountdownBarBgColor, var(--countdownBarBgColor, var(--nlds-countdownbar-background-color, var(--nlds-default-background-color, #F0F4F8))));
  padding: var(--setCountdownBarPadding, var(--countdownBarPadding, var(--nlds-countdownbar-padding, 1rem)));
  height: var(--setCountdownBarHeight, var(--countdownBarHeight, var(--nlds-countdownbar-height, auto)));
}


.osc.date-countdown-bar-container.--horizontal {
  flex-direction: row;
}
.osc.date-countdown-bar-container.--vertical {
  flex-direction: column;
  text-align: center;
}

.osc-countdown-bar-nr-container{
  display: flex;
  gap: var(--setCountdownBarNrGap, var(--countdownBarNrGap, var(--nlds-countdownbar-nr-container-gap, .8rem)));
}

.osc.date-countdown-bar-container .osc-countdown-bar-text {
  font-weight: var(--setCountdownBarTitleWeight, var(--countdownBarTitleWeight, var(--nlds-countdownbar-title-font-weight, 700)));
}


.osc-countdown-bar-nr-left p{
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--setCountdownBarNrLeftGap, var(--countdownBarNrLeftGap, .3rem));
  white-space: nowrap;
}
.osc-countdown-bar-nr-left .nr-left-title,
.osc-countdown-bar-nr-left .nr-left-label {
  display: block;
}



.osc.date-countdown-bar-container .nr-left-title {
  font-weight: var(--setCountdownBarNumberWeight, var(--countdownBarNumberWeight, var(--nlds-countdownbar-label-number-font-weight, 700)));
  font-size: var(--setCountdownBarNumberSize, var(--countdownBarNumberSize, var(--nlds-countdownbar-label-number-font-size, 1rem)));
  line-height: var(--setCountdownBarNumberLineHeight, var(--countdownBarNumberLineHeight, var(--nlds-countdownbar-label-number-line-height, 2rem)));
}

.osc.date-countdown-bar-container .nr-left-label {
  font-weight: var(--setCountdownBarLabelWeight, var(--countdownBarLabelWeight, var(--nlds-countdownbar-label-title-font-weight, 400)));
  font-size: var(--setCountdownBarLabelSize, var(--countdownBarLabelSize, var(--nlds-countdownbar-label-title-font-size, .75rem)));
  line-height: var(--setCountdownBarLabelLineHeight, var(--countdownBarLabelLineHeight, var(--nlds-countdownbar-label-title-line-height, 1rem)));
}

.osc.date-countdown-bar-container .amount-item {
  font-size: var(--setCountdownBarAmountFontSize, var(--countdownBarAmountFontSize, var(--nlds-counter-amount-font-size, 1.3em)));
  font-weight: var(--setCountdownBarAmountWeight, var(--countdownBarAmountWeight, var(--nlds-counter-amount-font-weight, 700)));
  color: var(--setCountdownBarAmountColor, var(--countdownBarAmountColor, var(--nlds-counter-amount-color, #333)));

  background: var(--setCountdownBarAmountBg, var(--countdownBarAmountBg, var(--nlds-counter-amount-background-color, #fff)));
  padding: var(--setCountdownBarAmountPadding, var(--countdownBarAmountPadding, 2px 4px));
  border-radius: var(--setCountdownBarAmountBorderRadius, var(--countdownBarAmountBorderRadius, 4px));
  position: relative;
  overflow: clip;
  margin-inline-end: var(--setCountdownBarAmountMarginEnd, var(--countdownBarAmountMarginEnd, 0.2rem));
  display: inline-block;
}
.osc.date-countdown-bar-container .amount span {
  position: relative;
}
.osc.date-countdown-bar-container .amount-item:before {
  content: '';
  position: absolute;
  inset: 0 0 50% 0;
  background: rgba(0, 0, 0, .1);
}
