
.osc.date-countdown-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--nlds-countdownbar-border-radius, 0);
  background-color: var(--nlds-countdownbar-background-color, #F0F4F8);
  gap: var(--nlds-countdownbar-gap, .5rem);
  padding: var(--nlds-countdownbar-padding, .5rem 0rem);
  height: var(--nlds-countdownbar-height, auto);
}

.osc-countdown-bar-nr-container{
  display: flex;
  gap: var(--nlds-countdownbar-nr-container-gap, .5rem);
}

.osc.date-countdown-bar-container .osc-countdown-bar-text {
  color: var(--nlds-countdownbar-title-text-color, var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit)));
  font-weight: var(--nlds-countdownbar-title-font-weight, 700);
  font-size: var(--nlds-countdownbar-title-font-size, var(--utrecht-paragraph-font-size, var(--utrecht-document-font-size, inherit)));
  line-height: var(--nlds-countdownbar-title-line-height,var(--utrecht-paragraph-line-height, var(--utrecht-document-line-height, inherit)));
}


.osc-countdown-bar-nr-left p{
  text-align: center;
}
.osc-countdown-bar-nr-left .nr-left-title,
.osc-countdown-bar-nr-left .nr-left-label {
  display: block;
}

.osc.date-countdown-bar-container .nr-left-title {
  color: var(--nlds-countdownbar-label-number-color, var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit)));
  font-weight: var(--nlds-countdownbar-label-number-font-weight, 700);
  font-size: var(--nlds-countdownbar-label-number-font-size, 1.5rem);
  line-height: var(--nlds-countdownbar-label-number-line-height, 2rem);
}

.osc.date-countdown-bar-container .nr-left-label {
  color: var(--nlds-countdownbar-label-title-color, var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit)));
  font-weight: var(--nlds-countdownbar-label-title-font-weight, 400);
  font-size: var(--nlds-countdownbar-label-title-font-size, .75rem);
  line-height: var(--nlds-countdownbar-label-title-line-height, 1rem);
}