.documentMap--container {
  height: calc(100vh - 193px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.documentMap--container .content{
  overflow: auto;
  padding: 2rem;
}

.documentMap--container .content .content-intro{
  margin-block-end: 2rem;
}


.documentMap--container .content .content-intro p{
  margin-block-start: .5rem;
}


.documentMap--container .map-container > div{
  width: 100%;
  height: 100%;
}

.documentMap--container .map-container form{
  display: grid;
  grid-gap: 10px;
}

.documentMap--container .map-container textarea{
  width: 300px;
}
.documentMap--container .map-container button{
  width: 100%;
  max-width: none;
  display: block;
}

.documentMap--container .content .comment{
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  padding: 0;
  background: unset;
  cursor: pointer;
}
.documentMap--container .content p{
  white-space: pre-wrap;
}

.documentMap--container .content button .flex{
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  opacity: .6;
  margin-top: .5rem;
  border-top: solid 1px rgba(0,0,0, .05);
  padding-top: .5rem;
}

.documentMap--container .content .comment{
  padding: 1rem;
}

.documentMap--container .content .comment.highlight{
  background: rgb(255, 227, 0, .35);
  border-radius: 4px;

}

.documentMap--container .content .comment + .comment{
  border-top: solid 1px rgba(0,0,0, .1);
}


.leaflet-container .leaflet-marker-pane img.defaultIcon{
  width: 26px;
  filter: hue-rotate(225deg);
}
.leaflet-container .leaflet-marker-pane img.highlightedIcon{
  width: 26px;
}

.leaflet-popup-content p.--error{
  margin: 0;
  color: #d30000;
  font-style: italic;
  font-size: 14px;

}