{% extends 'layouts/main.html' %}

{% block body %}
  <!-- HTML login screen form -->
  <h1> Inloggen </h1>
  <form action="{{loginUrl}}" method="POST" class="validate-form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="hidden" name="clientId" value="{{clientId}}" />

    <fieldset>
      <!-- Upper box with Title, username, and password -->
      <div class="card">

        <div class="upper-box card-body">
          <!-- Title -->
          <div>
          <!--  <div class="subtext">
              Mijn openstad
            </div> !-->
          </div>
          <div class="form-group">
            <!-- Username label and input -->
            <div class="input-fields">
              <label>
                E-mail:
              </label>
              <input
                id="name"
                type="text"
                name="email"
                class="form-input"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <!-- Password label and input -->
            <div class="input-fields">
              <label>
                Wachtwoord:
              </label>
              <input
                class="form-input"
                id="password"
                type="password"
                name="password"
                required
              />
            </div>
        </div>

        <!-- Bottom box with Sign in -->
        <div class="bottom-box form-group">
          <div class="pure-controls sign-in-button">
            <button
              type="submit"
              value="Submit"
              class="btn btn-primary"
            >
              Inloggen
            </button>
          </div>
        </div>
        <div class="form-group">
          <a href="/auth/local/forgot?clientId={{clientId}}">Wachtwoord vergeten?</a>
        </div>
        </div>
      </div>
    </fieldset>
  </form>

  <p>
    Nog geen account?
    <a href="/auth/local/register?clientId={{clientId}}">Registreren</a>
  </p>

{% endblock %}
