.osc.counter-container:not(.--link) {
  display: flex;
  text-decoration: none;
  border-radius: var(--setCounterBorderRadius, var(--counterBorderRadius, var(--nlds-counter-border-radius, 0)));
  padding: var(--setCounterPadding, var(--counterPadding, var(--nlds-counter-padding, 0.5rem 0.5rem)));
  height: var(--setCounterHeight, var(--counterHeight, var(--nlds-counter-height, auto)));
  color: var(--setCounterColor, var(--counterColor, var(--utrecht-button-secondary-action-background-color)));
  background-color: var(--setCounterBackgroundColor, var(--counterBackgroundColor, var(--utrecht-button-secondary-action-color)));
  max-width: none;
  justify-content: left;
  margin: 0;
}

.osc.counter-container.--link {
  max-width: none;
  width: 100%;
  justify-content: start;
  text-decoration: none;
  color: var(--setCounterLinkColor, var(--counterLinkColor, var(--utrecht-button-secondary-action-background-color)));
  background-color: var(--setCounterLinkBackgroundColor, var(--counterLinkBackgroundColor, var(--utrecht-button-secondary-action-color)));
  border: none;
  margin-top: 0;
}

.osc.counter-container p {
  display: flex;
  gap: var(--setCounterGap, var(--counterGap, var(--nlds-counter-gap, 0.25rem)));
  justify-content: var(--setCounterJustifyContent, var(--counterJustifyContent, var(--nlds-counter-justify-content, left)));
  align-items: var(--setCounterAlignItems, var(--counterAlignItems, var(--nlds-counter-align-items, center)));
  color: inherit;
}

.osc.counter-container {
  margin-block-start: var(
    --setCounterMarginBlockStart,
    var(--counterMarginBlockStart,
      var(--nlds-counter-margin-block-start,
        var(--nlds-default-margin-block-start, 1.5rem)
      )
    )
  );
  margin-block-end: var(
    --setCounterMarginBlockEnd,
    var(--counterMarginBlockEnd,
      var(--nlds-counter-margin-block-end,
        var(--nlds-default-margin-block-end, 1.5rem)
      )
    )
  );
}

.osc.counter-container .amount {
  margin-inline-end: .3rem;
}

.osc.counter-container .amount-item {
  font-size: var(--setCounterAmountFontSize, var(--counterAmountFontSize, var(--nlds-counter-amount-font-size, 1.3em)));
  font-weight: var(--setCounterAmountFontWeight, var(--counterAmountFontWeight, var(--nlds-counter-amount-font-weight, 700)));
  color: var(--setCounterAmountColor, var(--counterAmountColor, var(--nlds-counter-amount-color, #333)));

  background: var(--setCounterAmountBackground, var(--counterAmountBackground, var(--nlds-counter-amount-background-color, #fff)));
  padding: var(--setCounterAmountPadding, var(--counterAmountPadding, 2px 4px));
  border-radius: var(--setCounterAmountBorderRadius, var(--counterAmountBorderRadius, 4px));
  position: relative;
  overflow: clip;
  margin-inline-end: var(--setCounterAmountMarginInlineEnd, var(--counterAmountMarginInlineEnd, 0.2rem));
  display: inline-block;
}
.osc.counter-container .amount span {
  position: relative;
}
.osc.counter-container .amount-item:before {
  content: '';
  position: absolute;
  inset: 0 0 50% 0;
  background: rgba(0, 0, 0, .1);
}
