.osc.counter-container {
  display: flex;
  border-radius: .25rem;
  gap: .5rem;
  padding: .5rem 0rem;
  justify-content: left;
  align-items: left;
  background-color: var(--osc-card);
}

.osc.counter-container p {
  margin: 0;
  font-size: .875rem;
  float: left;
}

.osc.counter-container-amount {
  margin: 0;
  font-size: 1.5rem;
  float: left;
}