.user-activity{
  display: var(--setActivityDisplay, var(--activityDisplay, flex));
  flex-direction: var(--setActivityFlexDirection, var(--activityFlexDirection, column));
  gap: var(--setActivityContainerGap, var(--activityContainerGap, 3rem));
}

.user-activity ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: var(--setActivityDisplay, var(--activityDisplay, flex));
  flex-direction: var(--setActivityFlexDirection, var(--activityFlexDirection, column));
  gap: var(--setActivityGap, var(--activityGap, 1rem));
  margin-top: var(--setActivityListMarginTop, var(--activityListMarginTop, 1rem));
}

.user-activity ul .activity__item{
  background-color: var(--setActivityItemBgColor, var(--activityItemBgColor, #eee));
  padding: var(--setActivityPadding, var(--activityPadding, 1rem));
}

.user-activity ul .activity__item .activity__header .activity__header--label{
  font-size: var(--setActivityLabelFontSize, var(--activityLabelFontSize, 0.8rem));
  font-weight: var(--setActivityLabelFontWeight, var(--activityLabelFontWeight, lighter));
  border-radius: var(--setActivityLabelBorderRadius, var(--activityLabelBorderRadius, 30px));
  padding: var(--setActivityLabelPadding, var(--activityLabelPadding, 4px 17px));
  border: solid var(--setActivityLabelBorderWidth, var(--activityLabelBorderWidth, 1px)) var(--setActivityLabelBorderColor, var(--activityLabelBorderColor, #555));
  color: var(--setActivityLabelColor, var(--activityLabelColor, #555));
}
.user-activity ul .activity__item .activity__header{
  display: var(--setActivityDisplay, var(--activityDisplay, flex));
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--setActivityHeaderMarginBottom, var(--activityHeaderMarginBottom, 0.3rem));
}

.user-activity ul .activity__item div{
  margin-top: var(--setActivityItemDivMarginTop, var(--activityItemDivMarginTop, 0.5rem));
  padding-top: var(--setActivityItemDivPaddingTop, var(--activityItemDivPaddingTop, 0.5rem));
  border-top: solid var(--setActivityItemDivBorderWidth, var(--activityItemDivBorderWidth, 1px)) var(--setActivityItemDivBorderColor, var(--activityItemDivBorderColor, #ddd));
  display: var(--setActivityDisplay, var(--activityDisplay, flex));
  justify-content: space-between;
}
.user-activity ul .activity__item .activity__siteTitle,
.user-activity ul .activity__item .activity__date{
  font-size: var(--setActivityLabelFontSize, var(--activityLabelFontSize, 0.8rem));
  font-weight: normal;
  color: var(--setActivityLabelColor, var(--activityLabelColor, #555));
}