.user-activity{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.user-activity ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.user-activity ul .activity__item{
  background-color: #eee;
  padding: 1rem;
}

.user-activity ul .activity__item .activity__header .activity__header--label{
  font-size: .8rem;
  font-weight: lighter;
  border-radius: 30px;
  padding: 4px 17px;
  border: solid 1px #555;
  color: #555;
}
.user-activity ul .activity__item .activity__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .3rem;
}

.user-activity ul .activity__item div{
  margin-top: .5rem;
  padding-top: .5rem;
  border-top: solid 1px #ddd;
  display: flex;
  justify-content: space-between;
}
.user-activity ul .activity__item .activity__siteTitle,
.user-activity ul .activity__item .activity__date{
  font-size: .8rem;
  font-weight: normal;
  color: #555;
}