.arguments-title {
 margin-bottom: 1rem;

}
.arguments-container {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: initial;
}

.input-container {
  margin-bottom: 2.5rem;
}

p.reaction-name { 
  color: var(--foreground, black);
}
.argument-item-header {
  display: flex;
  justify-content: space-between;
}

.argument-item-footer {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.reaction-container {
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--border);
}