.osc-resource-detail-column-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.osc-resource-detail-container {
  display: block;
}

.resource-detail-side-column .aside--content {
  background-color: var(--nlds-default-background-color, #f0f4f8);
}

.resource-detail-side-column .aside--content .like-widget-container{
  margin-top: 0;
}

.aside--content + .aside--content{
  margin-top: 1rem;
}

.resource-detail-side-section {
  padding: 0rem 2rem;
}

.resource-detail-side-section:last-of-type {
  padding-bottom: 1rem;
}


.resource-detail-side-section-socials {
  display: flex;
  gap: 0.5rem;
}

.resource-detail-pil-list-content {
  display: flex;
  gap: .5rem;
  align-items: start;
  flex-wrap: wrap;
}

.resource-detail-comments-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.osc-resource-detail-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-detail-content-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;

}

.osc-resource-detail-content-item-row {
  background-color: var(
    --nlds-resource-detail-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
  color: var(--nlds-resource-detail-color, var(--utrecht-paragraph-color));
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
  border-radius: 4px;
}

@media (max-width: 1366px) {
  .osc-resource-detail-column-container {
    display: block;
  }
}

.osc-resource-detail-content-item-title {
  font-weight: bold !important;
}

/* Temporary until map component is finished */
.osc-resource-detail-content-item-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: var(--osc-card);
}

.osc .image-container > .osc-image-footer p:empty {
  padding: 0;
}

.resource-detail-modbreak-banner {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
}

.resource-detail-modbreak-banner > section {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.resource-detail-modbreak-banner > section > *:first-child {
  font-weight: bold;
}


.resource-detail-content .utrecht-paragraph{
  white-space-collapse: preserve;
}
.resource-detail-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.osc-resource-detail-content-item-row:empty{
  display: none;
}

.back-url{
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.back-url a{
  display: inline-block;
}

.osc-resource-detail-content .osc-resource-detail-content-items.resource-has-no-images .image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121' height='106' viewBox='0 0 121 106' fill='none'%3E%3Cpath d='M36.625 21.125C42.7188 21.125 47.875 26.2812 47.875 32.375C47.875 38.7031 42.7188 43.625 36.625 43.625C30.2969 43.625 25.375 38.7031 25.375 32.375C25.375 26.2812 30.2969 21.125 36.625 21.125ZM105.766 0.5C114.203 0.5 120.766 7.29688 120.766 15.5V90.5C120.766 98.9375 113.969 105.5 105.766 105.5H15.7656C7.5625 105.5 0.765625 98.9375 0.765625 90.5V15.5C0.765625 7.29688 7.5625 0.5 15.7656 0.5H105.766ZM109.516 89.0938V15.5C109.516 13.625 107.875 11.75 105.766 11.75H15.7656C13.8906 11.75 12.0156 13.625 12.0156 15.5L12.25 90.5L29.8281 68.4688C30.7656 67.5312 31.9375 66.8281 33.3438 66.8281C34.75 66.8281 35.9219 67.5312 36.8594 68.4688L45.5312 79.25L70.375 45.5C71.3125 44.3281 72.4844 43.625 74.125 43.625C75.5312 43.625 76.7031 44.3281 77.4062 45.5L109.516 89.0938Z' fill='%23AAAAAA'/%3E%3C/svg%3E");
  background-size: 9%;
  background-repeat: no-repeat;
  background-position: center;
}

.osc-resource-detail-content .osc-resource-detail-content-items.resource-has-no-images .image-container img {
  display: none;
}

/* Text Colors */
.color-FFFFFF { color: #FFFFFF; }
.color-000000 { color: #000000; }
.color-FF0000 { color: #FF0000; }
.color-00FF00 { color: #00FF00; }
.color-0000FF { color: #0000FF; }
.color-FFFF00 { color: #FFFF00; }
.color-FFA500 { color: #FFA500; }
.color-800080 { color: #800080; }
.color-FFC0CB { color: #FFC0CB; }
.color-A52A2A { color: #A52A2A; }
.color-808080 { color: #808080; }
.color-00FFFF { color: #00FFFF; }
.color-FFD700 { color: #FFD700; }
.color-ADFF2F { color: #ADFF2F; }
.color-4B0082 { color: #4B0082; }
.color-8B4513 { color: #8B4513; }
.color-FA8072 { color: #FA8072; }
.color-20B2AA { color: #20B2AA; }
.color-4682B4 { color: #4682B4; }
.color-D3D3D3 { color: #D3D3D3; }

/* Background Colors */
.bgColor-FFFFFF { background-color: #FFFFFF; }
.bgColor-000000 { background-color: #000000; }
.bgColor-FF0000 { background-color: #FF0000; }
.bgColor-00FF00 { background-color: #00FF00; }
.bgColor-0000FF { background-color: #0000FF; }
.bgColor-FFFF00 { background-color: #FFFF00; }
.bgColor-FFA500 { background-color: #FFA500; }
.bgColor-800080 { background-color: #800080; }
.bgColor-FFC0CB { background-color: #FFC0CB; }
.bgColor-A52A2A { background-color: #A52A2A; }
.bgColor-808080 { background-color: #808080; }
.bgColor-00FFFF { background-color: #00FFFF; }
.bgColor-FFD700 { background-color: #FFD700; }
.bgColor-ADFF2F { background-color: #ADFF2F; }
.bgColor-4B0082 { background-color: #4B0082; }
.bgColor-8B4513 { background-color: #8B4513; }
.bgColor-FA8072 { background-color: #FA8072; }
.bgColor-20B2AA { background-color: #20B2AA; }
.bgColor-4682B4 { background-color: #4682B4; }
.bgColor-D3D3D3 { background-color: #D3D3D3; }