.osc-resource-detail-column-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.osc-resource-detail-container {
  display: block;
}

.resource-detail-side-column {
  background-color: var(--osc-card);
}

.resource-detail-side-section {
  padding: 0rem 2rem;
}

.resource-detail-side-section-socials {
  display: flex;
  gap: 0.5rem;
}

.resource-detail-pil-list-content {
  display: flex;
  gap: .5rem;
  align-items: start;
  flex-wrap: wrap;
}

.resource-detail-comments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.osc-resource-detail-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-detail-content-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.osc-resource-detail-content-item-row {
  background-color: var(
    --nlds-resource-detail-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
  color: var(--nlds-resource-detail-color, var(--utrecht-paragraph-color));
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
  border-radius: 4px;
}

@media (max-width: 1366px) {
  .osc-resource-detail-column-container {
    display: block;
  }
}

.osc-resource-detail-content-item-title {
  font-weight: bold !important;
}

/* Temporary until map component is finished */
.osc-resource-detail-content-item-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: var(--osc-card);
}

.osc .image-container > .osc-image-footer p:empty {
  padding: 0;
}


.resource-detail-content .utrecht-paragraph{
  white-space-collapse: preserve;
}
.resource-detail-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}