.osc-resource-detail-column-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.resource-detail-side-column {
  background-color: var(--osc-card);
}

.resource-detail-side-section {
  padding: 0rem 2rem;
}

.resource-detail-side-section-socials {
  display: flex;
  gap: .5rem;
}

.resource-detail-pil-list-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.resource-detail-comments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.osc-resource-detail-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-detail-content-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.osc-resource-detail-content-item-row {
  background-color: var(--nlds-resource-detail-background-color, var(--nlds-default-background-color, #F0F4F8));
  color:var(--nlds-resource-detail-color, var(--utrecht-paragraph-color));
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  border-radius: 4px;
}

@media (min-width: 768px) { 
  .osc-resource-detail-content-item-row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1366px) { 
  .osc-resource-detail-column-container {
    display: block;
  }
}

h6.osc-resource-detail-content-item-title {
  font-weight: bold !important;
  color: var(--osc-card-foreground) !important;
}

/* Temporary until map component is finished */
.osc-resource-detail-content-item-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: var(--osc-card);
}
