.osc-resource-detail-column-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.osc-resource-detail-container {
  display: block;
}

.resource-detail-side-column .aside--content {
  background-color: var(--nlds-default-background-color, #f0f4f8);
}

.resource-detail-side-column .aside--content .like-widget-container {
  margin-top: 0;
}

.aside--content + .aside--content {
  margin-top: 1rem;
}

.resource-detail-side-section {
  padding: 0rem 2rem;
}

.resource-detail-side-section:last-of-type {
  padding-bottom: 1rem;
}

.resource-detail-side-section-socials {
  display: flex;
  gap: 0.5rem;
}

.resource-detail-pil-list-content {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  flex-wrap: wrap;
}

.resource-detail-comments-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.osc-resource-detail-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-detail-content-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.osc-resource-detail-content-item-row {
  background-color: var(
    --nlds-resource-detail-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
  color: var(--nlds-resource-detail-color, var(--utrecht-paragraph-color));
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
  border-radius: 4px;
}

@media (max-width: 1366px) {
  .osc-resource-detail-column-container {
    display: block;
  }
}

.osc-resource-detail-content-item-title {
  font-weight: bold !important;
}

/* Temporary until map component is finished */
.osc-resource-detail-content-item-location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: var(--osc-card);
}

.osc .image-container > .osc-image-footer p:empty {
  padding: 0;
}

.resource-detail-modbreak-banner {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
}

.resource-detail-modbreak-banner > section {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.resource-detail-modbreak-banner > section > *:first-child {
  font-weight: bold;
}

.resource-detail-content .utrecht-paragraph {
  white-space-collapse: preserve;
}
.resource-detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.osc-resource-detail-content-item-row:empty {
  display: none;
}

.back-url {
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.back-url a {
  display: inline-block;
}

.osc-resource-detail-content
  .osc-resource-detail-content-items.resource-has-no-images
  .image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121' height='106' viewBox='0 0 121 106' fill='none'%3E%3Cpath d='M36.625 21.125C42.7188 21.125 47.875 26.2812 47.875 32.375C47.875 38.7031 42.7188 43.625 36.625 43.625C30.2969 43.625 25.375 38.7031 25.375 32.375C25.375 26.2812 30.2969 21.125 36.625 21.125ZM105.766 0.5C114.203 0.5 120.766 7.29688 120.766 15.5V90.5C120.766 98.9375 113.969 105.5 105.766 105.5H15.7656C7.5625 105.5 0.765625 98.9375 0.765625 90.5V15.5C0.765625 7.29688 7.5625 0.5 15.7656 0.5H105.766ZM109.516 89.0938V15.5C109.516 13.625 107.875 11.75 105.766 11.75H15.7656C13.8906 11.75 12.0156 13.625 12.0156 15.5L12.25 90.5L29.8281 68.4688C30.7656 67.5312 31.9375 66.8281 33.3438 66.8281C34.75 66.8281 35.9219 67.5312 36.8594 68.4688L45.5312 79.25L70.375 45.5C71.3125 44.3281 72.4844 43.625 74.125 43.625C75.5312 43.625 76.7031 44.3281 77.4062 45.5L109.516 89.0938Z' fill='%23AAAAAA'/%3E%3C/svg%3E");
  background-size: 9%;
  background-repeat: no-repeat;
  background-position: center;
}

.osc-resource-detail-content
  .osc-resource-detail-content-items.resource-has-no-images
  .image-container
  img {
  display: none;
}

.osc-resource-detail-content
  .osc-resource-detail-content-items
  .carousel-image-description {
  position: absolute;
  top: 5px;
  left: 5px;
  right: auto;
  bottom: auto;
  color: #000;
  padding: 0.5rem;
  font-size: 14px;
  box-shadow: 0 2px 4px #00000026;
  background-color: white;
  line-height: 1.1;
  max-width: calc(100% - 10px);
}

.osc-resource-detail-widget-container > .utrecht-button-group {
  padding: 1rem;
}

.osc-resource-detail-widget-container > .utrecht-button-group > .spacer-2 {
  display: none;
}

/* Text Colors */
.color-FFFFFF {
  color: #ffffff;
}
.color-000000 {
  color: #000000;
}
.color-EC673E {
  color: #ec673e;
}
.color-7DB47B {
  color: #7db47b;
}
.color-98BFE6 {
  color: #98bfe6;
}
.color-FAE065 {
  color: #fae065;
}
.color-F59A02 {
  color: #f59a02;
}
.color-B078AF {
  color: #b078af;
}
.color-E881B0 {
  color: #e881b0;
}
.color-A52A2A {
  color: #a52a2a;
}
.color-D1D1D1 {
  color: #d1d1d1;
}
.color-00FFFF {
  color: #00ffff;
}
.color-FFD700 {
  color: #ffd700;
}
.color-ADFF2F {
  color: #adff2f;
}
.color-4B0082 {
  color: #4b0082;
}
.color-8B4513 {
  color: #8b4513;
}
.color-FA8072 {
  color: #fa8072;
}
.color-20B2AA {
  color: #20b2aa;
}
.color-4682B4 {
  color: #4682b4;
}
.color-D3D3D3 {
  color: #d3d3d3;
}

/* Background Colors */
.bgColor-FFFFFF {
  background-color: #ffffff;
}
.bgColor-000000 {
  background-color: #000000;
}
.bgColor-EC673E {
  background-color: #ec673e;
}
.bgColor-7DB47B {
  background-color: #7db47b;
}
.bgColor-98BFE6 {
  background-color: #98bfe6;
}
.bgColor-FAE065 {
  background-color: #fae065;
}
.bgColor-F59A02 {
  background-color: #f59a02;
}
.bgColor-B078AF {
  background-color: #b078af;
}
.bgColor-E881B0 {
  background-color: #e881b0;
}
.bgColor-A52A2A {
  background-color: #a52a2a;
}
.bgColor-D1D1D1 {
  background-color: #d1d1d1;
}
.bgColor-00FFFF {
  background-color: #00ffff;
}
.bgColor-FFD700 {
  background-color: #ffd700;
}
.bgColor-ADFF2F {
  background-color: #adff2f;
}
.bgColor-4B0082 {
  background-color: #4b0082;
}
.bgColor-8B4513 {
  background-color: #8b4513;
}
.bgColor-FA8072 {
  background-color: #fa8072;
}
.bgColor-20B2AA {
  background-color: #20b2aa;
}
.bgColor-4682B4 {
  background-color: #4682b4;
}
.bgColor-D3D3D3 {
  background-color: #d3d3d3;
}

/* Accordion component */
.dd-accordion {
  --accordion-minHeight: var(
    --set-accordion-minHeight,
    var(--dataAccordionLines, 100px)
  );
  --accordion-fontSize: var(
    --set-accordion-fontSize,
    var(--utrecht-paragraph-font-size, var(--utrecht-document-font-size, 1rem))
  );
  --accordion-lineHeight: var(--set-accordion-lineHeight, 1.65rem);
}
.dd-accordion .dd-accordion-trigger {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1rem;
}
.dd-accordion .dd-accordion-trigger .icon {
  font-size: 1.3rem;
}
.dd-accordion .dd-accordion-trigger[aria-expanded='true'] .icon {
  transform: rotate(-180deg);
}
.dd-accordion .dd-accordion-container {
  display: grid;
  transition: grid-template-rows 0.2s ease-in-out;
}
.dd-accordion .dd-accordion-container[aria-hidden='true'] {
  grid-template-rows: 0fr;
}
.dd-accordion
  .dd-accordion-container[aria-hidden='true']
  .dd-accordion-content {
  /* visibility: hidden; */
  transition: all 0.2s ease-in-out;
}
.dd-accordion .dd-accordion-container[aria-hidden='false'] {
  grid-template-rows: 1fr;
}
.dd-accordion
  .dd-accordion-container[aria-hidden='false']
  .dd-accordion-content {
  visibility: visible;
}
.dd-accordion .dd-accordion-container .dd-accordion-content-wrapper {
  overflow: hidden;
  min-height: var(--accordion-minHeight);
}

.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='0']) {
  --dataAccordionLines: 0px;
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='1']) {
  --dataAccordionLines: calc(1 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='2']) {
  --dataAccordionLines: calc(2 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='3']) {
  --dataAccordionLines: calc(3 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='4']) {
  --dataAccordionLines: calc(4 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='5']) {
  --dataAccordionLines: calc(5 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='6']) {
  --dataAccordionLines: calc(6 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='7']) {
  --dataAccordionLines: calc(7 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='8']) {
  --dataAccordionLines: calc(8 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='9']) {
  --dataAccordionLines: calc(9 * var(--accordion-lineHeight));
}
.dd-accordion:has(.dd-accordion-content-wrapper[data-visible-lines='10']) {
  --dataAccordionLines: calc(10 * var(--accordion-lineHeight));
}
