{% extends 'layout-admin.html' %}

{% block body %}
<div class="card">
  <div class="card-body">
<form
  method="post"
  action="/admin/client"
>
  <h3> Add a new client </h3>
  <div class="form-group">
    <label> Name </label>
    <input
      type="text"
      required
      name="name"
      maxlength="60"
      class="form-input"
    />
  </div>
  <div class="form-group">
    <label> Description </label>
    <textarea
      required
      name="description"
      maxlength="244"
      class="form-input"
    ></textarea>
  </div>
  <button class="btn" type="submit">
    Create
  </button>
</form>
</div>
</div>
{% endblock %}
