fieldset.utrecht-form-fieldset__fieldset {
  max-width: 100%;
  overflow: auto;
}

fieldset.utrecht-form-fieldset__fieldset table.utrecht-table,
fieldset.utrecht-form-fieldset__fieldset table.utrecht-table th,
fieldset.utrecht-form-fieldset__fieldset table.utrecht-table td {
  border: 1px solid var(--utrecht-table-row-border-block-end-color, transparent);
  border-collapse: collapse;

  @media only screen and (max-width: 479px) {
    border: none;
    height: auto;
  }
}

.form-container
  > div:nth-child(even)
  fieldset.utrecht-form-fieldset__fieldset
  table.utrecht-table
  .utrecht-table__body
  > .utrecht-table__row,
.form-container
  > div:nth-child(even)
  fieldset.utrecht-form-fieldset__fieldset
  table.utrecht-table
  .utrecht-table__header
  > .utrecht-table__row {
  background-color: white;
}

@media only screen and (min-width: 480px) {
  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='1'] {
    min-width: 400px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='2'] {
    min-width: 450px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='3'] {
    min-width: 500px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='4'] {
    min-width: 550px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='5'] {
    min-width: 600px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='6'] {
    min-width: 650px;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table[data-columns='7'] {
    min-width: 700px;
  }

  .cell-text {
    display: none;
  }

  fieldset.utrecht-form-fieldset__fieldset table.utrecht-table th {
    text-align: center;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table
    td:not(:first-child)
    .utrecht-form-label {
    justify-content: center;
    margin-bottom: 0;
  }

  fieldset.utrecht-form-fieldset__fieldset
    table.utrecht-table
    td:not(:first-child)
    .utrecht-form-label
    input {
    margin: 0;
  }
}

@media only screen and (max-width: 479px) {
  .form-container table.utrecht-table .utrecht-table__header {
    display: none;
  }

  .form-container
    table.utrecht-table
    .utrecht-table__body
    > .utrecht-table__row
    td {
    padding: 4px 0;
  }

  .form-container
    table.utrecht-table
    .utrecht-table__body
    > .utrecht-table__row
    td:first-child {
    font-weight: bold;
    padding-top: 10px;
  }

  .form-container
    table.utrecht-table
    .utrecht-table__body
    > .utrecht-table__row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
