.spacer-0 { margin-bottom: 0rem; }
.spacer-0-25 { margin-bottom: 0.25rem; }
.spacer-0-5 { margin-bottom: 0.5rem; }
.spacer-0-75 { margin-bottom: 0.75rem; }
.spacer-1 { margin-bottom: 1rem; }
.spacer-1-25 { margin-bottom: 1.25rem; }
.spacer-1-5 { margin-bottom: 1.5rem; }
.spacer-1-75 { margin-bottom: 1.75rem; }
.spacer-2 { margin-bottom: 2rem; }
.spacer-2-5 { margin-bottom: 2.5rem; }
.spacer-3 { margin-bottom: 3rem; }
.spacer-3-5 { margin-bottom: 3.5rem; }
.spacer-4 { margin-bottom: 4rem; }
.spacer-4-5 { margin-bottom: 4.5rem; }
.spacer-5 { margin-bottom: 5rem; }