.spacer-0 { margin-bottom: var(--setSpacerMargin0, var(--spacerMargin0, 0rem)); }
.spacer-0-25 { margin-bottom: var(--setSpacerMargin0-25, var(--spacerMargin0-25, 0.25rem)); }
.spacer-0-5 { margin-bottom: var(--setSpacerMargin0-5, var(--spacerMargin0-5, 0.5rem)); }
.spacer-0-75 { margin-bottom: var(--setSpacerMargin0-75, var(--spacerMargin0-75, 0.75rem)); }
.spacer-1 { margin-bottom: var(--setSpacerMargin1, var(--spacerMargin1, 1rem)); }
.spacer-1-25 { margin-bottom: var(--setSpacerMargin1-25, var(--spacerMargin1-25, 1.25rem)); }
.spacer-1-5 { margin-bottom: var(--setSpacerMargin1-5, var(--spacerMargin1-5, 1.5rem)); }
.spacer-1-75 { margin-bottom: var(--setSpacerMargin1-75, var(--spacerMargin1-75, 1.75rem)); }
.spacer-2 { margin-bottom: var(--setSpacerMargin2, var(--spacerMargin2, 2rem)); }
.spacer-2-5 { margin-bottom: var(--setSpacerMargin2-5, var(--spacerMargin2-5, 2.5rem)); }
.spacer-3 { margin-bottom: var(--setSpacerMargin3, var(--spacerMargin3, 3rem)); }
.spacer-3-5 { margin-bottom: var(--setSpacerMargin3-5, var(--spacerMargin3-5, 3.5rem)); }
.spacer-4 { margin-bottom: var(--setSpacerMargin4, var(--spacerMargin4, 4rem)); }
.spacer-4-5 { margin-bottom: var(--setSpacerMargin4-5, var(--spacerMargin4-5, 4.5rem)); }
.spacer-5 { margin-bottom: var(--setSpacerMargin5, var(--spacerMargin5, 5rem)); }