.video-slider {
    --videoSliderPrimaryColor: var(--setVideoSliderPrimaryColor, #f8d62d);
    --videoSliderSecondaryColor: var(--setVideoSliderSecondaryColor, #258641);
    --setVideoSliderBorderRadius: var(--videoSliderBorderRadius, 10px);

    --setVideoSliderTitleBackgroundColor: var(--videoSliderTitleBackgroundColor, var(--setVideoSliderPrimaryColor, var(--videoSliderPrimaryColor, #f8d62d)));
    --setVideoSliderTitleFontSize: var(--videoSliderTitleFontSize, 2rem);
    --setVideoSliderDescriptionFontSize: var(--videoSliderDescriptionFontSize, 12px);
    --setVideoSliderSwipeBackgroundColor: var(--videoSliderSwipeBackgroundColor, linear-gradient(153deg, rgb(238, 238, 238) 0%, rgb(220, 220, 220) 100%));

    --setVideoSliderCheckedBackgroundColor: var(--videoSliderCheckedBackgroundColor, var(--setVideoSliderPrimaryColor, var(--videoSliderPrimaryColor, #f8d62d)));
    --setVideoSliderCheckedColor: var(--videoSliderCheckedColor, #000);

    --setVideoSliderInputBackgroundColor: var(--videoSliderInputBackgroundColor, rgba(0, 0, 0, 0.4));
    --setVideoSliderInputColor: var(--videoSliderInputColor, #fff);
    --setVideoSliderInputNumberColor: var(--videoSliderInputNumberColor, var(--setVideoSliderSecondaryColor, var(--videoSliderSecondaryColor, #258641)));

    --setVideoSliderAnimationSpeed: var(--videoSliderAnimationSpeed, 0.5s);
    --setVideoSliderAnimationDelay: var(--videoSliderAnimationDelay, 0.3s);

    --setVideoSliderNextButtonBackgroundColor: var(--videoSliderNextButtonBackgroundColor, var(--setVideoSliderPrimaryColor, var(--videoSliderPrimaryColor, #f8d62d)));
    --setVideoSliderNextButtonColor: var(--videoSliderNextButtonColor, #000);

    --setVideoSliderSubmitButtonBackgroundColor: var(--videoSliderSubmitButtonBackgroundColor, var(--setVideoSliderPrimaryColor, var(--videoSliderPrimaryColor, #f8d62d)));
    --setVideoSliderSubmitButtonColor: var(--videoSliderSubmitButtonColor, #000);

    height: 100dvh;
    max-width: 650px;
    max-height: 1000px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    &:has(.video-slider-fullscreen-button.--fullscreen) {
        position: fixed;
        inset: 0;
        z-index: 1000;
        max-width: unset;
        max-height: unset;
        padding: 0.5rem;
        background: var(--swipeBackgroundColor);

        .swiper-video-content {
            background: unset;
        }

        .swiper-video-container .vid-container {
            margin: 1rem auto;
            padding: 20px 0;
            border-radius: var(--videoSliderBorderRadius);
        }
    }

    .video-slider-form {
        height: 100%;
        width: 100%;
        border-radius: var(--videoSliderBorderRadius);
        overflow: hidden;
    }

    .swiper {
        height: 100%;
    }

    .swiper-video-container {
        position: relative;
        width: 100%;
        height: 100%;

        .vid-container {
            max-width: var(--setVideoSliderVidContainerMaxWidth, var(--videoSliderVidContainerMaxWidth, 900px));
            overflow: hidden;
            position: absolute;
            inset: 0;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                inset: 0;
            }
        }

        .swiper-video-question {
            position: absolute;
            inset: 0;
            display: flex;
            gap: var(--setVideoSliderQuestionGap, var(--videoSliderQuestionGap, 30px));
            flex-direction: column;
            justify-content: space-between;
            z-index: 1;
            padding: var(--setVideoSliderQuestionPadding, var(--videoSliderQuestionPadding, 3rem 4rem 3rem 2rem));
            max-width: var(--setVideoSliderQuestionMaxWidth, var(--videoSliderQuestionMaxWidth, 600px));
            margin: 0 auto;
            text-align: left;

            h2 {
                font-style: bold;
                font-size: var(--setVideoSliderTitleFontSize);
                line-height: 120%;
            }

            p {
                font-weight: 500;
                font-size: var(--setVideoSliderDescriptionFontSize);
                line-height: 150%;
            }

            .--intro {
                align-self: start;
                padding: var(--setVideoSliderIntroPadding, var(--videoSliderIntroPadding, 1rem));
                position: relative;
                text-align: left;
                line-height: 150%;
                animation: FadeIn var(--setVideoSliderAnimationSpeed) ease-in-out;
                animation-delay: var(--setVideoSliderAnimationDelay);
                animation-fill-mode: forwards;
                margin: 0 auto;
                max-width: var(--setVideoSliderIntroMaxWidth, var(--videoSliderIntroMaxWidth, 90%));

                transform: translateY(var(--setVideoSliderIntroTranslateY, var(--videoSliderIntroTranslateY, -100px)));
                opacity: var(--setVideoSliderIntroOpacity, var(--videoSliderIntroOpacity, 0));

                &:before {
                    content: '';
                    background: var(--setVideoSliderTitleBackgroundColor);
                    position: absolute;
                    inset: 0 -30px;
                    z-index: -1;
                    transform: skew(-10deg);
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    z-index: -1;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid var(--setVideoSliderTitleBackgroundColor);
                    transform: skew(-10deg) translateX(-50%);
                }
            }

            .swiper-video-question-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: var(--setVideoSliderListGap, var(--videoSliderListGap, 1rem));
                animation: FadeUp var(--setVideoSliderAnimationSpeed) ease-in-out;
                animation-delay: var(--setVideoSliderAnimationDelay);
                animation-fill-mode: forwards;

                transform: translateY(var(--setVideoSliderListTranslateY, var(--videoSliderListTranslateY, 100px)));
                opacity: var(--setVideoSliderListOpacity, var(--videoSliderListOpacity, 0));

                &:has(.swipe-widget) {
                    height: 100%;
                }

                &.--radiofield {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: var(--setVideoSliderRadioFieldGap, var(--videoSliderRadioFieldGap, 2rem 1rem));

                    label {
                        flex-direction: column;
                        text-align: center;
                        padding: var(--setVideoSliderRadioLabelPadding, var(--videoSliderRadioLabelPadding, 0 20px 20px 20px));
                        height: 100%;
                        justify-content: space-between;

                        span {
                            margin-top: var(--setVideoSliderRadioLabelSpanMarginTop, var(--videoSliderRadioLabelSpanMarginTop, -20px));
                        }
                    }
                }

                li {
                    &:has(.swipe-widget) {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    input {
                        display: none;

                        &:checked+label {
                            background-color: var(--setVideoSliderCheckedBackgroundColor);
                            color: var(--setVideoSliderCheckedColor);
                        }
                    }

                    label {
                        color: var(--setVideoSliderInputColor);
                        font-size: var(--setVideoSliderLabelFontSize, var(--videoSliderLabelFontSize, 1.2rem));
                        gap: var(--setVideoSliderLabelGap, var(--videoSliderLabelGap, 20px));
                        border-radius: var(--setVideoSliderLabelBorderRadius, var(--videoSliderLabelBorderRadius, 3px));
                        padding: var(--setVideoSliderLabelPadding, var(--videoSliderLabelPadding, 10px 20px));
                        background: var(--setVideoSliderInputBackgroundColor);
                        display: flex;
                        align-items: center;
                    }

                    span {
                        display: block;
                        width: var(--setVideoSliderSpanSize, var(--videoSliderSpanSize, 40px));
                        height: var(--setVideoSliderSpanSize, var(--videoSliderSpanSize, 40px));
                        background: var(--setVideoSliderInputNumberColor);
                        color: #fff;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        line-height: 0;
                        flex-shrink: 0;
                    }

                }
            }
        }
    }

    .swiper-video-content {
        height: 100%;
        background: var(--setVideoSliderSwipeBackgroundColor);
    }

    .video-slider-controls {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        z-index: 1;
        display: flex;
        padding: 0.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: end;
        pointer-events: none;

        button {
            width: 42px;
            height: 42px;
            background: none;
            border: none;
            padding: 0;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            pointer-events: all;
            background-color: rgba(0, 0, 0, 0.2);

            span {
                display: none;
            }
        }

        .video-slider-mute-button {
            background-size: 22px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M191.9 201.9L304 102.3l0 307.3L191.9 310.1c-4.4-3.9-10.1-6.1-15.9-6.1l-88 0c-4.4 0-8-3.6-8-8l0-80c0-4.4 3.6-8 8-8l88 0c5.9 0 11.6-2.2 15.9-6.1zM322.2 32c-7.3 0-14.3 2.7-19.8 7.5L166.9 160 88 160c-30.9 0-56 25.1-56 56l0 80c0 30.9 25.1 56 56 56l78.9 0L302.4 472.5c5.5 4.8 12.5 7.5 19.8 7.5c16.5 0 29.8-13.3 29.8-29.8l0-388.4C352 45.3 338.7 32 322.2 32zm182.9 75c-10.3-8.4-25.4-6.8-33.8 3.5s-6.8 25.4 3.5 33.8C507.3 170.7 528 210.9 528 256s-20.7 85.3-53.2 111.8c-10.3 8.4-11.8 23.5-3.5 33.8s23.5 11.8 33.8 3.5c43.2-35.2 70.9-88.9 70.9-149s-27.7-113.8-70.9-149zm-60.5 74.5c-10.3-8.4-25.4-6.8-33.8 3.5s-6.8 25.4 3.5 33.8C425.1 227.6 432 241 432 256s-6.9 28.4-17.7 37.3c-10.3 8.4-11.8 23.5-3.5 33.8s23.5 11.8 33.8 3.5C466.1 312.9 480 286.1 480 256s-13.9-56.9-35.4-74.5z'/%3E%3C/svg%3E");

            &.--muted {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M159.9 201.9L272 102.3l0 307.3L159.9 310.1c-4.4-3.9-10.1-6.1-15.9-6.1l-88 0c-4.4 0-8-3.6-8-8l0-80c0-4.4 3.6-8 8-8l88 0c5.9 0 11.6-2.2 15.9-6.1zM290.2 32c-7.3 0-14.3 2.7-19.8 7.5L134.9 160 56 160c-30.9 0-56 25.1-56 56l0 80c0 30.9 25.1 56 56 56l78.9 0L270.4 472.5c5.5 4.8 12.5 7.5 19.8 7.5c16.5 0 29.8-13.3 29.8-29.8l0-388.4C320 45.3 306.7 32 290.2 32zM425 167c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l55 55-55 55c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l55-55 55 55c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-55-55 55-55c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-55 55-55-55z'/%3E%3C/svg%3E");
            }
        }

        .video-slider-fullscreen-button {
            background-size: 25px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M128 96C110.3 96 96 110.3 96 128L96 224C96 241.7 110.3 256 128 256C145.7 256 160 241.7 160 224L160 160L224 160C241.7 160 256 145.7 256 128C256 110.3 241.7 96 224 96L128 96zM160 416C160 398.3 145.7 384 128 384C110.3 384 96 398.3 96 416L96 512C96 529.7 110.3 544 128 544L224 544C241.7 544 256 529.7 256 512C256 494.3 241.7 480 224 480L160 480L160 416zM416 96C398.3 96 384 110.3 384 128C384 145.7 398.3 160 416 160L480 160L480 224C480 241.7 494.3 256 512 256C529.7 256 544 241.7 544 224L544 128C544 110.3 529.7 96 512 96L416 96zM544 416C544 398.3 529.7 384 512 384C494.3 384 480 398.3 480 416L480 480L416 480C398.3 480 384 494.3 384 512C384 529.7 398.3 544 416 544L512 544C529.7 544 544 529.7 544 512L544 416z'/%3E%3C/svg%3E");

            &.--fullscreen {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M256 128C256 110.3 241.7 96 224 96C206.3 96 192 110.3 192 128L192 192L128 192C110.3 192 96 206.3 96 224C96 241.7 110.3 256 128 256L224 256C241.7 256 256 241.7 256 224L256 128zM128 384C110.3 384 96 398.3 96 416C96 433.7 110.3 448 128 448L192 448L192 512C192 529.7 206.3 544 224 544C241.7 544 256 529.7 256 512L256 416C256 398.3 241.7 384 224 384L128 384zM448 128C448 110.3 433.7 96 416 96C398.3 96 384 110.3 384 128L384 224C384 241.7 398.3 256 416 256L512 256C529.7 256 544 241.7 544 224C544 206.3 529.7 192 512 192L448 192L448 128zM416 384C398.3 384 384 398.3 384 416L384 512C384 529.7 398.3 544 416 544C433.7 544 448 529.7 448 512L448 448L512 448C529.7 448 544 433.7 544 416C544 398.3 529.7 384 512 384L416 384z'/%3E%3C/svg%3E");
            }
        }

        .video-slider-play-button {
            background-size: 25px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Pro v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M147.6 101.6C135.5 108.8 128 121.9 128 136L128 504C128 518.1 135.5 531.2 147.6 538.4C159.7 545.6 174.8 545.9 187.2 539.1L523.2 355.1C536 348.1 544 334.6 544 320C544 305.4 536 291.9 523.2 284.9L187.2 100.9C174.8 94.1 159.8 94.4 147.6 101.6zM176 490.5L176 149.5L487.3 320L176 490.5z'/%3E%3C/svg%3E");

            &.--autoplay {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Pro v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M176 144L176 496L240 496L240 144L176 144zM128 144C128 117.5 149.5 96 176 96L240 96C266.5 96 288 117.5 288 144L288 496C288 522.5 266.5 544 240 544L176 544C149.5 544 128 522.5 128 496L128 144zM400 144L400 496L464 496L464 144L400 144zM352 144C352 117.5 373.5 96 400 96L464 96C490.5 96 512 117.5 512 144L512 496C512 522.5 490.5 544 464 544L400 544C373.5 544 352 522.5 352 496L352 144z'/%3E%3C/svg%3E");
            }
        }
    }


    .a-b-slider-container {
        background: var(--setVideoSliderSliderContainerBackground, var(--videoSliderSliderContainerBackground, #fff));
        padding: var(--setVideoSliderSliderContainerPadding, var(--videoSliderSliderContainerPadding, 2rem));
        margin-right: var(--setVideoSliderSliderContainerMarginRight, var(--videoSliderSliderContainerMarginRight, 1rem));
        border-radius: var(--setVideoSliderBorderRadius);
        box-shadow: var(--setVideoSliderSliderContainerBoxShadow, var(--videoSliderSliderContainerBoxShadow, 0 0 20px 0px rgba(0, 0, 0, 0.075)));
        display: flex;
        flex-direction: column-reverse;

        .range-slider-labels {
            &.smiley-scale {
                margin-bottom: var(--setVideoSliderSmileyScaleMarginBottom, var(--videoSliderSmileyScaleMarginBottom, 3.5rem));
            }
        }

        span {
            display: block;
            text-align: center;
            width: var(--setVideoSliderSpanSize, var(--videoSliderSpanSize, 40px));
            height: var(--setVideoSliderSpanSize, var(--videoSliderSpanSize, 40px));
            line-height: var(--setVideoSliderSpanLineHeight, var(--videoSliderSpanLineHeight, 40px));
            position: relative;
            pointer-events: none;

            div {
                transform: scale(1.5);
                transition: transform 0.2s ease-in-out;
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
            }

            span.value {
                display: block;
                top: 40px;

            }

            &:has(+ .active) div {
                transform: scale(2);
            }

            &.active {
                div {
                    transform: scale(3.25);
                }

                &+span div {
                    transform: scale(2);
                }
            }
        }
    }

    .swiper-slide-active:has(.video-slide--next) .swiper-video-question {
        padding-bottom: calc(3rem + 80px);
    }

    .video-slide--next {
        border-radius: var(--setVideoSliderBorderRadius);
        padding: var(--setVideoSliderNextButtonPadding, var(--videoSliderNextButtonPadding, 16px 20px));
        border: none;
        background: var(--setVideoSliderNextButtonBackgroundColor);
        color: var(--setVideoSliderNextButtonColor);
        font-weight: var(--setVideoSliderNextButtonFontWeight, var(--videoSliderNextButtonFontWeight, 700));
        position: absolute;
        bottom: var(--setVideoSliderNextButtonBottom, var(--videoSliderNextButtonBottom, 69px));
        z-index: 1;
        left: var(--setVideoSliderNextButtonLeft, var(--videoSliderNextButtonLeft, 2rem));
        right: var(--setVideoSliderNextButtonRight, var(--videoSliderNextButtonRight, 4rem));
        max-width: var(--setVideoSliderNextButtonMaxWidth, var(--videoSliderNextButtonMaxWidth, 500px));
        margin: 0 auto;
    }
}

.final-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--setVideoSliderFinalSlideBorderRadius, var(--videoSliderFinalSlideBorderRadius, 10px));
    color: var(--setVideoSliderFinalSlideColor, var(--videoSliderFinalSlideColor, #000));
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: var(--setVideoSliderSwipeBackgroundColor);
    padding: var(--setVideoSliderFinalSlidePadding, var(--videoSliderFinalSlidePadding, 0 15%));

    button {
        margin-top: var(--setVideoSliderSubmitButtonMarginTop, var(--videoSliderSubmitButtonMarginTop, 2rem));
        border-radius: var(--setVideoSliderBorderRadius);
        padding: var(--setVideoSliderSubmitButtonPadding, var(--videoSliderSubmitButtonPadding, 16px 20px));
        border: none;
        background: var(--setVideoSliderSubmitButtonBackgroundColor);
        color: var(--setVideoSliderSubmitButtonColor);
        font-weight: var(--setVideoSliderSubmitButtonFontWeight, var(--videoSliderSubmitButtonFontWeight, 700));
    }
}

@keyframes FadeIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes FadeUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}