.video-slider {
  height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.video-slider .swiper {
  height: 100%;
}
.video-slider .swiper-video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-slider .swiper-video-content {
  height: 100%;
}

.video-slider .swiper-video-container .swiper-video-question {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding: 3rem 4rem;
}

.video-slider .swiper-video-container .swiper-video-question .--intro {
  align-self: start;
  padding: 1rem;
  position: relative;
  text-align: center;
  line-height: 150%;
  animation: FadeIn 0.5s ease-in-out;
  margin: 0 auto;
}

@keyframes FadeIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes FadeUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.video-slider .swiper-video-container .swiper-video-question .--intro:before {
  content: '';
  background: #f8d62d;
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: skew(-10deg);
}

.video-slider .swiper-video-container .swiper-video-question .--intro:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: -1;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #f8d62d;
  transform: skew(-10deg) translateX(-50%);
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: FadeUp 0.5s ease-in-out;
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list.--radiofield {
  flex-direction: row;
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list.--radiofield
  label {
  flex-direction: column;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list.--radiofield
  label span {
    margin-top: -20px;
  }


.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list
  li
  input {
  display: none;
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list
  li
  input:checked
  + label {
  background-color: #f8d62d;
  color: #000;
}

.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list
  li
  label {
  color: #fff;
  font-size: 1.2rem;
  gap: 20px;
  border-radius: 3px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
.video-slider
  .swiper-video-container
  .swiper-video-question
  .swiper-video-question-list
  li
  span {
  display: block;
  width: 40px;
  height: 40px;
  background: #258641;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 0;
  flex-shrink: 0;
}

.video-slider .swiper-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.video-slider .video-slider-controls {
  position: absolute;
  right: 0;
  height: 100dvh;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 3rem .5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: end;
}

.video-slider .video-slider-controls .video-slider-mute-button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M191.9 201.9L304 102.3l0 307.3L191.9 310.1c-4.4-3.9-10.1-6.1-15.9-6.1l-88 0c-4.4 0-8-3.6-8-8l0-80c0-4.4 3.6-8 8-8l88 0c5.9 0 11.6-2.2 15.9-6.1zM322.2 32c-7.3 0-14.3 2.7-19.8 7.5L166.9 160 88 160c-30.9 0-56 25.1-56 56l0 80c0 30.9 25.1 56 56 56l78.9 0L302.4 472.5c5.5 4.8 12.5 7.5 19.8 7.5c16.5 0 29.8-13.3 29.8-29.8l0-388.4C352 45.3 338.7 32 322.2 32zm182.9 75c-10.3-8.4-25.4-6.8-33.8 3.5s-6.8 25.4 3.5 33.8C507.3 170.7 528 210.9 528 256s-20.7 85.3-53.2 111.8c-10.3 8.4-11.8 23.5-3.5 33.8s23.5 11.8 33.8 3.5c43.2-35.2 70.9-88.9 70.9-149s-27.7-113.8-70.9-149zm-60.5 74.5c-10.3-8.4-25.4-6.8-33.8 3.5s-6.8 25.4 3.5 33.8C425.1 227.6 432 241 432 256s-6.9 28.4-17.7 37.3c-10.3 8.4-11.8 23.5-3.5 33.8s23.5 11.8 33.8 3.5C466.1 312.9 480 286.1 480 256s-13.9-56.9-35.4-74.5z'/%3E%3C/svg%3E");
}
.video-slider .video-slider-controls .video-slider-mute-button.--muted {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3C!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M159.9 201.9L272 102.3l0 307.3L159.9 310.1c-4.4-3.9-10.1-6.1-15.9-6.1l-88 0c-4.4 0-8-3.6-8-8l0-80c0-4.4 3.6-8 8-8l88 0c5.9 0 11.6-2.2 15.9-6.1zM290.2 32c-7.3 0-14.3 2.7-19.8 7.5L134.9 160 56 160c-30.9 0-56 25.1-56 56l0 80c0 30.9 25.1 56 56 56l78.9 0L270.4 472.5c5.5 4.8 12.5 7.5 19.8 7.5c16.5 0 29.8-13.3 29.8-29.8l0-388.4C320 45.3 306.7 32 290.2 32zM425 167c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l55 55-55 55c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l55-55 55 55c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-55-55 55-55c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-55 55-55-55z'/%3E%3C/svg%3E");
}

.video-slider .video-slider-controls .video-slider-mute-button span {
  display: none;
}
