<nav id="navbar" class="navbar navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
        {% if backUrl %}
        <li class="nav-link hidden-xs">
          <a href="{{backUrl}}" class="backlink">
             Terug
          </a>
        </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if displayAccountLink %}
        <li class="nav-link hidden-xs">
          <a href="/account">
            <span class="glyphicon glyphicon-user"></span> Account
          </a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
