.osc-resources-filter {
    align-items: stretch;
    display: var(--nlds-budget-resources-filter-display, flex);    
    padding: var(--nlds-budget-resources-filter-padding, 1rem);
    gap: var(--nlds-budget-resources-filter-gap, 1rem);
    background-color: var(--nlds-budget-resources-filter-background-color, var(--nlds-default-background-color, #F0F4F8));
}

.osc-resources-filter > .utrecht-form-field,
.osc-resources-filter > button{
    flex-shrink: 0;
}

.osc-resources-filter input{
    height: 100%;
    max-width: none;
}

.osc-resources-filter.osc-flex-columned {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 1rem;
    gap: 1rem;
}

.osc-resources-filter.osc-flex-columned > .osc-filter-search-bar{
    max-width: unset;
}

.osc-resources-filter.osc-flex-columned > select {
    width: 100%;
    max-width: none;
}

.osc-resources-filter.osc-flex-columned > .multi-select {
    width: 100%;
    max-width: none;
}