.form-element.postcode-autofill {
 position: relative;
}

.form-element.postcode-autofill .suggestion-list li {
 font-size: 13px;
 list-style: none;
 padding: 3px 3px 3px 8px;
 margin: 0;
 line-height: 1.3;
 cursor: pointer;
}

.form-element.postcode-autofill .suggestion-list li:hover {
 background-color: #eaeaea;
}

.form-element.postcode-autofill .suggestion-list {
 padding: 3px 0 0;
 background-color: white;
 display: grid;
 position: absolute;
 z-index: 1;
 width: 100%;
 bottom: auto;
 top: 100%;
 max-height: 183px;
 overflow-y: auto;
 margin: 0;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-element.postcode-autofill .loading {
 font-size: 13px;
 padding: 3px 0;
 margin: 0;
 background-color: white;
 position: absolute;
 z-index: 1;
 width: 100%;
 bottom: auto;
 top: 100%;
}

.form-element.postcode-autofill .input-wrapper {
 position: relative;
}

.form-element.postcode-autofill .input-wrapper #locationField {
 padding-right: 27px;
}

.form-element.postcode-autofill .input-wrapper .clear-button {
 position: absolute;
 left: auto;
 right: 3px;
 background-color: transparent;
 border: none;
 top: 5px;
}