.form-element.postcode-autofill {
 position: relative;
}

.form-element.postcode-autofill .suggestion-list li {
 font-size: var(--setLocationSuggestionFontSize, var(--locationSuggestionFontSize, 13px));
 list-style: none;
 padding: var(--setLocationSuggestionPadding, var(--locationSuggestionPadding, 3px 3px 3px 8px));
 margin: 0;
 line-height: 1.3;
 cursor: pointer;
}

.form-element.postcode-autofill .suggestion-list li:hover,
.form-element.postcode-autofill .suggestion-list li:focus,
.form-element.postcode-autofill .suggestion-list li[aria-selected="true"] {
 background-color: var(--setLocationSuggestionHoverBackground, var(--locationSuggestionHoverBackground, #eaeaea));
}

.form-element.postcode-autofill .suggestion-list {
 padding: 3px 0 0;
 background-color: var(--setLocationSuggestionListBackground, var(--locationSuggestionListBackground, white));
 display: grid;
 position: absolute;
 z-index: 1;
 width: 100%;
 bottom: auto;
 top: 100%;
 max-height: 183px;
 overflow-y: auto;
 margin: 0;
 box-shadow: var(--setLocationSuggestionListShadow, var(--locationSuggestionListShadow, 0 4px 10px rgba(0, 0, 0, 0.3)));
}

.form-element.postcode-autofill .loading {
 font-size: var(--setLocationLoadingFontSize, var(--locationLoadingFontSize, 13px));
 padding: 3px 0;
 margin: 0;
 background-color: var(--setLocationLoadingBackground, var(--locationLoadingBackground, white));
 position: absolute;
 z-index: 1;
 width: 100%;
 bottom: auto;
 top: 100%;
}

.form-element.postcode-autofill .input-wrapper {
 position: relative;
}

.form-element.postcode-autofill .input-wrapper #locationField {
 padding-right: var(--setLocationFieldPaddingRight, var(--locationFieldPaddingRight, 27px));
}

.form-element.postcode-autofill .input-wrapper .clear-button {
 position: absolute;
 left: auto;
 right: 3px;
 background-color: var(--setLocationClearButtonBackground, var(--locationClearButtonBackground, transparent));
 border: var(--setLocationClearButtonBorder, var(--locationClearButtonBorder, none));
 top: 5px;
}