.env
node_modules/
.DS_Store
nginx.config.example
/apps/auth-server/certificate.pem
/apps/auth-server/privatekey.pem
/apps/auth-server/certrequest.csr
.packages-build-hash
secrets.yml
secrets.yaml
/.idea

*.agekey
