.env
node_modules/
.DS_Store
nginx.config.example
/apps/auth-server/certificate.pem
/apps/auth-server/privatekey.pem
/apps/auth-server/certrequest.csr
.packages-build-hash
secrets.yml
secrets.yaml
/.idea

*.agekey

docker-compose.override.yml

# Package lock files per app should not be committed, we use a monorepo approach with a package-lock.json at the root
apps/*/package-lock.json
/packages/ui/dist
/packages/ui/dist
