version: '3.4'
services:
  openstad-mysql:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-openstad-no-db}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - AUTH_DB_NAME=${AUTH_DB_NAME}
      - API_DB_NAME=${API_DB_NAME}
    command:
      - mysqld
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - 3306:3306
    volumes:
      # - ./export.sql:/docker-entrypoint-initdb.d/99-export.sql
      - ./scripts/init-sql.sh:/docker-entrypoint-initdb.d/init-sql.sh
      - openstad-mysql-data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

  openstad-mongo:
    image: mongo
    restart: always
    volumes:
      - openstad-mongo-data:/var/lib/mongo

  openstad-mailhog:
    image: mailhog/mailhog
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui

  openstad-api-server:
    build:
      target: development
      context: .
      dockerfile: Dockerfile
      args:
        - APP=api-server
        - PORT=${API_PORT}
    image: openstad/headless-api-server:${RELEASE_VERSION:-latest}
    # TODO: dit moet conditional: alleen als we deze db gebruiken
    depends_on:
      openstad-mysql:
        condition: service_healthy
    container_name: openstad-api-server
    restart: unless-stopped
    environment:
      - URL=${API_URL}
      - HOSTNAME=${API_HOSTNAME}
      - DB_USERNAME=${API_DATABASE_USER}
      - DB_PASSWORD=${API_DATABASE_PASSWORD}
      - DB_NAME=${API_DATABASE_DATABASE}
      - DB_HOST=${API_DATABASE_HOST}
      - EMAILADDRESS=${API_EMAILADDRESS}
      - PORT=${API_PORT}
      - MAIL_FROM=${API_MAIL_FROM}
      - MAIL_TRANSPORT_SMTP_PORT=${API_MAIL_TRANSPORT_SMTP_PORT}
      - MAIL_TRANSPORT_SMTP_HOST=${API_MAIL_TRANSPORT_SMTP_HOST}
      - MAIL_TRANSPORT_SMTP_REQUIRESSL=${API_MAIL_TRANSPORT_SMTP_REQUIRESSL}
      - MAIL_TRANSPORT_SMTP_AUTH_USER=${API_MAIL_TRANSPORT_SMTP_AUTH_USER}
      - MAIL_TRANSPORT_SMTP_AUTH_PASS=${API_MAIL_TRANSPORT_SMTP_AUTH_PASS}
      - NOTIFICATIONS_ADMIN_EMAILADDRESS=${API_NOTIFICATIONS_ADMIN_EMAILADDRESS}
      - AUTH_JWTSECRET=${API_AUTH_JWTSECRET}
      - AUTH_FIXEDAUTHTOKENS=${API_AUTH_FIXEDAUTHTOKENS}
      - AUTH_ADAPTER_OPENSTAD_SERVERURL=${AUTH_APP_URL}
      - AUTH_ADAPTER_OPENSTAD_SERVERURL_INTERNAL=http://openstad-auth-server:${AUTH_PORT}
      - IMAGE_APP_URL=${IMAGE_APP_URL}
      - IMAGE_VERIFICATION_TOKEN=${IMAGE_VERIFICATION_TOKEN}
      - NODE_ENV=development
      - CMS_URL=${CMS_URL}
      - BASE_DOMAIN=${BASE_DOMAIN}
    ports:
      - '${API_PORT}:${API_PORT}'
    volumes:
      - ./apps/api-server:/opt/openstad-headless/apps/api-server
      - openstad-api-server-node_modules:/opt/openstad-headless/apps/api-server/node_modules
      - openstad-api-server-init:/opt/openstad-headless/apps/api-server/init
      - ./packages:/opt/openstad-headless/packages

  openstad-auth-server:
    build:
      target: development
      context: .
      dockerfile: Dockerfile
      args:
        - APP=auth-server
        - PORT=${AUTH_PORT}
    image: openstad/headless-auth-server:${RELEASE_VERSION:-latest}
    # TODO: dit moet conditional: alleen als we deze db gebruiken
    depends_on:
      openstad-mysql:
        condition: service_healthy
    container_name: openstad-auth-server
    restart: unless-stopped
    environment:
      - APP_URL=${AUTH_APP_URL}
      - PORT=${AUTH_PORT}
      # - ADMIN_REDIRECT_URL=${AUTH_ADMIN_REDIRECT_URL}
      - DB_HOST=${AUTH_DB_HOST}
      - DB_USER=${AUTH_DB_USER}
      - DB_PASSWORD=${AUTH_DB_PASSWORD}
      - DB_NAME=${AUTH_DB_NAME}
      - MAIL_SERVER_URL=${AUTH_MAIL_SERVER_URL}
      - MAIL_SERVER_PORT=${AUTH_MAIL_SERVER_PORT}
      - MAIL_SERVER_SECURE=${AUTH_MAIL_SERVER_SECURE}
      - MAIL_SERVER_PASSWORD=${AUTH_MAIL_SERVER_PASSWORD}
      - MAIL_SERVER_USER_NAME=${AUTH_MAIL_SERVER_USER_NAME}
      - EMAIL_ASSETS_URL=${AUTH_EMAIL_ASSETS_URL}
      - FROM_NAME=${AUTH_FROM_NAME}
      - FROM_EMAIL=${AUTH_FROM_EMAIL}
      - AUTH_ADMIN_CLIENT_ID=${AUTH_ADMIN_CLIENT_ID}
      - AUTH_ADMIN_CLIENT_SECRET=${AUTH_ADMIN_CLIENT_SECRET}
      - AUTH_FIRST_CLIENT_ID=${AUTH_FIRST_CLIENT_ID}
      - AUTH_FIRST_CLIENT_SECRET=${AUTH_FIRST_CLIENT_SECRET}
      - AUTH_FIRST_LOGIN_CODE=${AUTH_FIRST_LOGIN_CODE}
      - SESSION_SECRET=${AUTH_SESSION_SECRET}
      - COOKIE_SECURE_OFF=${AUTH_COOKIE_SECURE_OFF}
      - API_URL=${API_URL}
      - ADMIN_URL=${ADMIN_URL}
      - ALLOWED_ADMIN_DOMAINS=["${ADMIN_DOMAIN}"]
      - NODE_ENV=development
    ports:
      - '${AUTH_PORT}:${AUTH_PORT}'
    volumes:
      - ./apps/auth-server:/opt/openstad-headless/apps/auth-server
      - openstad-auth-server-node_modules:/opt/openstad-headless/apps/auth-server/node_modules
      - openstad-auth-server-certs:/opt/openstad-headless/apps/auth-server/certs
      - openstad-auth-server-init:/opt/openstad-headless/apps/auth-server/init

  openstad-image-server:
    build:
      target: development
      context: .
      dockerfile: Dockerfile
      args:
        - APP=image-server
        - PORT=${IMAGE_PORT_API}
    image: openstad/headless-image-server:${RELEASE_VERSION:-latest}
    # TODO: dit moet conditional: alleen als we deze db gebruiken
    depends_on:
      openstad-mysql:
        condition: service_healthy
    container_name: openstad-image-server
    restart: unless-stopped
    environment:
      - APP_URL=${IMAGE_APP_URL}
      - PORT_API=${IMAGE_PORT_API}
      - PORT_IMAGE_SERVER=${IMAGE_PORT_IMAGE_SERVER}
      - IMAGES_DIR=${IMAGE_IMAGES_DIR}
      - THROTTLE=${IMAGE_THROTTLE}
      - THROTTLE_CC_PROCESSORS=${IMAGE_THROTTLE_CC_PROCESSORS}
      - THROTTLE_CC_PREFETCHER=${IMAGE_THROTTLE_CC_PREFETCHER}
      - THROTTLE_CC_REQUESTS=${IMAGE_THROTTLE_CC_REQUESTS}
      - NODE_ENV=development
      - IMAGE_VERIFICATION_TOKEN=${IMAGE_VERIFICATION_TOKEN}
    ports:
      - '${IMAGE_PORT_API}:${IMAGE_PORT_API}'
    volumes:
      - ./apps/image-server:/opt/openstad-headless/apps/image-server
      - openstad-image-server-node_modules:/opt/openstad-headless/apps/image-server/node_modules
      - openstad-image-server-images:/opt/openstad-headless/apps/image-server/images
      - openstad-image-server-init:/opt/openstad-headless/apps/image-server/init

  openstad-admin-server:
    build:
      target: development
      context: .
      dockerfile: Dockerfile
      args:
        - APP=admin-server
        - PORT=${ADMIN_PORT}
    image: openstad/headless-admin-server:${RELEASE_VERSION:-latest}
    container_name: openstad-admin-server
    restart: unless-stopped
    environment:
      - NEXTAUTH_URL=${ADMIN_URL}
      - NEXTAUTH_SECRET=${AUTH_ADMIN_CLIENT_SECRET}
      - CLIENT_ID=${AUTH_ADMIN_CLIENT_ID}
      - CLIENT_SECRET=${AUTH_ADMIN_CLIENT_SECRET}
      - OAUTH_URL=${AUTH_APP_URL}
      - OAUTH_URL_INTERNAL=http://openstad-auth-server:${AUTH_PORT}
      - API_URL=http://openstad-api-server:${API_PORT}
      - PORT=${ADMIN_PORT}
      - NEXT_PUBLIC_API_URL=${API_URL}
    ports:
      - '${ADMIN_PORT}:${ADMIN_PORT}'
    volumes:
      - ./apps/admin-server:/opt/openstad-headless/apps/admin-server
      - openstad-admin-server-node_modules:/opt/openstad-headless/apps/admin-server/node_modules
      - ./packages:/opt/openstad-headless/packages

  openstad-cms-server:
    build:
      target: development
      context: .
      dockerfile: Dockerfile
      args:
        - APP=cms-server
        - PORT=${CMS_PORT}
    image: openstad/headless-cms-server:${RELEASE_VERSION:-latest}
    # TODO: dit moet conditional: alleen als we deze db gebruiken
    # depends_on:
    #   openstad-mongo:
    #     condition: service_healthy
    container_name: openstad-cms-server
    restart: unless-stopped
    environment:
      - PORT=${CMS_PORT}
      - OVERWRITE_URL=${CMS_URL}
      - MONGODB_URI=${CMS_MONGODB_URI}
      - CMS_DEFAULTS=${CMS_DEFAULTS}
      - API_URL=${API_URL}
      - API_URL_INTERNAL=http://openstad-api-server:${API_PORT}
      - API_KEY=${API_FIXED_AUTH_KEY}
    ports:
      - '${CMS_PORT}:${CMS_PORT}'
    volumes:
      - ./apps/cms-server:/opt/openstad-headless/apps/cms-server
      - openstad-cms-server-node_modules:/opt/openstad-headless/apps/cms-server/node_modules
      - openstad-cms-server-init:/opt/openstad-headless/apps/cms-server/init

volumes:
  openstad-mysql-data: {}
  openstad-mongo-data: {}
  openstad-api-server-node_modules: {}
  openstad-api-server-init: {}
  openstad-auth-server-node_modules: {}
  openstad-auth-server-certs: {}
  openstad-auth-server-init: {}
  openstad-image-server-node_modules: {}
  openstad-image-server-images: {}
  openstad-image-server-init: {}
  openstad-admin-server-node_modules: {}
  openstad-cms-server-node_modules: {}
  openstad-cms-server-init: {}
