<!DOCTYPE html>
<html>
<head>
  <title>Gemeente Amsterdam</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/spectre.min.css">
  <link rel="stylesheet" href="/stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
  <div class="header">
        <header class="navbar">
          <section class="navbar-section">
            <a href="/admin/clients" class="navbar-brand mr-2">
              <img src="/img/andreas.svg" width="8" />
              <span class="text"> Openstad </span>
            </a>

          </section>
          <section class="navbar-section">
            <a href="/admin/clients" class="btn btn-link"> Clients </a>
            <a href="/admin/users" class="btn btn-link"> Users </a>
            <a href="/admin/codes" class="btn btn-link"> Codes </a>
            <a href="/admin/roles" class="btn btn-link"> Roles </a>
            <a href="/logout" class="btn btn-link">
              <i class="icon icon-shutdown"></i>
            </a>
          </section>
        </header>
  </div>
  <div class="container grid-sm">
    {% include 'elements/flash.html' %}

    <div class="toolbar">
      {% block toolbar %}{% endblock %}
    </div>

    {% block body %}{% endblock %}
  </div>
</body>
</html>
