.begroot-step-panel {
  padding: 1.5rem;
  background-color: var(--nlds-budget-background-color, #F0F4F8);
}

.begroot-step-panel + *{
  margin-top: var(--nlds-budget-spacing, 4rem);
}

#stem-begroot-resource-selections-list h3{
  margin-bottom: var(--nlds-budget-resources-filter-heading-margin-bottom, 1rem);
  font-size: var(--nlds-budget-resources-filter-heading-font-size, var(--utrecht-heading-3-font-size, revert));
  font-weight: var(--utrecht-heading-3-font-weight, var(--utrecht-heading-font-weight, bold));
  color: var(--nlds-budget-resources-filter-heading-color, var(--utrecht-heading-3-color, var(--utrecht-heading-color, var(--utrecht-document-color, inherit))));
  
}

.stembegroot-content-item-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.stembegroot-content-item-header-taglist {
  display: flex;
  gap: 1rem;
}

.stembegroot-content-item-header-taglist p {
  margin: 0;
}

.osc-stem-begroot-content-item-footer {
  display: flex;
  gap: 1rem;
}

.osc-stem-begroot-content-item-footer .osc-stem-begroot-item-action-btn {
  flex-grow: 1;
  width: 100%;
  max-width: none;
}

.begroot-step-panel-navigation-section {
  display: flex;
  gap: 1rem;
  justify-content: end;
}


.begroot-step-2-instruction-budget-status-panel {
  display: grid;
  grid-template-columns: var(--nlds--budget-budget-columns, 1fr auto);
}

.budget-two-text-row-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.budget-overview-panel {
  background-color: var(--nlds-budget-overview-panel-background-color, #DBDFE5);
  padding: var(--nlds-budget-overview-panel-padding, 1rem);
}

.budget-two-text-row-spaced > * {
  margin: 0;
}

.budget-unused-panel-step-2 {
  background-color: var(--nlds-budget-overview-panel-total-background-color, #768391);
  padding: var(--nlds-budget-overview-panel-total-padding, 1rem);

}

.stem-begroot-filter {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #F0F4F8;
}

.osc-stem-begroot-paginator {
  display: flex;
  justify-content: center;
}