.osc-resource-overview-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-overview-content {
  display: grid;
  grid-template-columns: var(--resource-overview-content--grid-columms, 1fr 1fr 1fr);
  gap: 2rem;
}

.osc-resource-overview-filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: var(
    --nlds-agenda-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
}

.osc-resource-overview-resource-collection .utrecht-paragraph + .utrecht-paragraph {
  margin-top: .75rem;
  opacity: .75;
}

.osc-resource-overview-resource-collection .utrecht-paragraph {
  margin-top: .75rem;
}

.osc-resource-overview-resource-collection {
  display: grid;
  grid-column-start: span 2;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.osc-resource-overview-content.full .osc-resource-overview-resource-collection {
  grid-column-start: span 3;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .osc-resource-overview-content {
    grid-template-columns: 1fr;
    gap: 2rem 0rem;
  }

  .osc-resource-overview-content .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr;
  }

  .osc-resource-overview-content.full
    .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr;
  }
  #stem-begroot-filter {
    grid-column: 1 / -1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1360px) {
  .osc-resource-overview-content {
    grid-template-columns: 1fr;
    gap: 2rem 0rem;
  }

  .osc-resource-overview-content .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr 1fr;
  }

  .osc-resource-overview-content.full
    .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr 1fr;
  }
  #stem-begroot-filter {
    grid-column: 1 / -1;
  }
  #stem-begroot-filter .osc-resources-filter.osc-flex-columned {
    flex-direction: row;
  }
}

.osc .image-container .osc-image-footer .osc-resource-overview-content-item-status {
  display: inline-block;
  margin: 0;
  padding: .25rem .5rem;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
}

.osc-resource-overview-content-item-description {
  max-height: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.osc-resource-overview-content-item-footer {
  display: flex;
  gap: 1rem;
}

.osc-resourceoverview-search-container {
  display: flex;
  justify-content: center;
}
.osc-resourceoverview-search-container:empty{
  display: none;
}

p.osc-searchtext {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(
    --nlds-agenda-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
}

.osc-resource-overview-paginator {
  display: flex;
  justify-content: center;
}

.banner + .osc-resource-overview-title-container {
  margin-top: 2rem;
}
.osc-resource-overview-title-container {
  margin-bottom: 2rem;
}

.osc .col-span-full {
  grid-column: 1 / -1;
}

.utrecht-button.resource-card--link {
  --_utrecht-link-state-text-decoration: none;

  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0;
  border: none;
  max-width: revert;
  color: var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit));
}

.utrecht-button.resource-card--link h4,
.utrecht-button.resource-card--link h5,
.utrecht-button.resource-card--link p {
  color: inherit;
}
.utrecht-button.resource-card--link p {
  font-weight: 400;
}

.status-label + .status-label::before {
  content: ', ';
}

.osc .map-container {
  margin-bottom: 2rem;
}


.osc.--compact{
  --resource-overview-content--grid-columms: 1fr 1fr;
}

.osc.--compact #stem-begroot-filter .osc-resources-filter.osc-flex-columned{
    flex-direction: row;
}

.osc.--compact #stem-begroot-filter {
    grid-column: 1 / -1;
}
.osc.--compact .osc-resource-overview-content .osc-resource-overview-resource-collection{
    grid-template-columns: 1fr 1fr 1fr;
}