.osc-resource-overview-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc-resource-overview-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.osc-resource-overview-filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--osc-card);
}

.osc-resource-overview-search {
  padding: .75rem;
}

.osc-resource-overview-resource-collection {
  display: grid;
  grid-column-start: span 2;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.osc-resource-overview-content.full .osc-resource-overview-resource-collection {  
  grid-column-start: span 3;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .osc-resource-overview-content {
    grid-template-columns: 1fr;
    gap: 2rem 0rem;
  }

  .osc-resource-overview-content .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr;
  }
  
  .osc-resource-overview-content.full .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1360px) {
  .osc-resource-overview-content {
    grid-template-columns: 1fr;
    gap: 2rem 0rem;
  }

  .osc-resource-overview-content .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr 1fr;
  }

  .osc-resource-overview-content.full .osc-resource-overview-resource-collection {
    grid-template-columns: 1fr 1fr;
  }
}

.osc-resource-overview-content-item-status {
  display: inline-block;
  margin: 0;
  padding: .125rem .25rem;
  border-radius: 2px;
  background-color: var(--osc-card);
}

.osc-resource-overview-content-item-description {
  max-height: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.osc-resource-overview-content-item-footer {
  display: flex;
  gap: 1rem;
}