.osc2-resource-overview-title-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.osc2-resource-overview-content {
  display: flex;
}

.osc2-resource-overview-filters {
}

.osc2-resource-overview-resource-collection {
  flex-grow: 1;
}