---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "openstad.cms.secret.fullname" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
data:
  apiKey: {{ .Values.secrets.cms.apiKey | default (randAlphaNum 32) | b64enc }}
  mongodbUri: {{ .Values.secrets.cms.mongodbUri | default (printf "%s-mongodb.%s.svc.cluster.local" .Release.Name .Release.Namespace) | b64enc }}
  mongodbPrefix: {{ .Values.secrets.cms.mongodbPrefix | default (printf "%s_" .Release.Namespace) | b64enc }}
