---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "openstad.ratelimit.secret.fullname" . }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  rateWindowMs: {{ .Values.rateLimit.windowMs | default "60000" | toString | b64enc }}
  rateLimit: {{ .Values.rateLimit.limit | default "100" | toString | b64enc }}
