.form-container .question .utrecht-form-field__input.help-text-active {
  padding-bottom: 20px;
  position: relative;
}

.form-container .question .utrecht-form-field__input .help-text {
  font-size: 12px;
  position: absolute;

  /* Defaults */
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  margin: 0;
}

.utrecht-form-field.utrecht-form-field--text:has(.utrecht-textbox[required])
  .utrecht-form-label::after {
  content: '(Verplicht)';
  font-weight: 300;
  font-style: italic;
  opacity: 0.7;
  margin-left: 0.5rem;
  font-size: 14px;
}

.utrecht-form-field.utrecht-form-field--text:has(.utrecht-textbox[required]) .utrecht-textbox--html-input:invalid{
    border-color: inherit;
    border-width: 1px 1px 3px 1px;
}

.question-type-text:has(.utrecht-form-field-error-message:not(:empty)) .utrecht-form-field .utrecht-textbox--html-input,
.question-type-text:has(.utrecht-form-field-error-message:not(:empty)) .utrecht-form-field .utrecht-textarea--html-textarea,
.question-type-text:has(.utrecht-form-field-error-message:not(:empty)) .utrecht-form-field .utrecht-textbox--html-input:invalid{
    border-color: var(--utrecht-textbox-invalid-border-color, var(--utrecht-form-control-invalid-border-color, var(--utrecht-textbox-border-color, var(--utrecht-form-control-border-color))));
}
