<div class="row form-field-row form-group">
  <div class="col-xs-12 col-sm-12">
    <label> Streetname </label> <br/>
    <input type="text" name="street_name" value="{{user.streetName}}"  class="form-input" required />
  </div>
</div>
<div class="row form-field-row form-group">
  <div class="col-xs-9">
    <label> House nr. </label> <br/>
    <input type="text" name="house_number" value="{{user.houseNumber}}" class="form-input" required />
  </div>
  <div class="col-xs-3">
    <label> Postfix </label> <br/>
    <input type="text" name="suffix" value="{{user.suffix}}" class="form-input" required />
  </div>
</div>
<div class="row form-field-row form-group">
  <div class="col-xs-6">
    <label> Postcode </label> <br/>
    <input type="text" name="postcode" value="{{user.postcode}}" class="form-input" required />
  </div>
  <div class="col-xs-6">
    <label> City </label> <br/>
    <input type="text" name="city" value="{{user.city}}" class="form-input" required />
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12 col-xs-12">
    <label for="phone">Phone number</label>
    <input type="text" name="phone" id="phone" class="form-input" value="{{user.phoneNumber}}" />
  </div>
</div>
