{% extends data.outerLayout %} {% block locale %}nl{% endblock %} {% set title =
[ data.piece.title or data.page.title, ' - ', data.global.siteTitle] | join %}
{% block title %} {{ title }} {% if not title %} {{ apos.log('Looks like you
forgot to override the title block in a template that does not have access to an
Apostrophe page or piece.') }} {% endif %} {% endblock %} {% block extraHead %}
<script src="/vendor/react.production.min.js"></script>
<script src="/vendor/react-dom.production.min.js"></script>
{% if data.global.favicon %} {% set faviconUrl = data.global.favicon._url or
data.global.favicon %} {% set faviconExtension = data.global.favicon.extension
or '' %} {% if faviconExtension == 'svg' %}
<link rel="icon" type="image/svg+xml" href="{{ faviconUrl }}" sizes="any" />
{% elseif faviconExtension == 'png' %}
<link rel="icon" type="image/png" href="{{ faviconUrl }}" />
{% elseif faviconExtension == 'gif' %}
<link rel="icon" type="image/gif" href="{{ faviconUrl }}" />
{% else %}
<link rel="icon" type="image/x-icon" href="{{ faviconUrl }}" />
<link rel="shortcut icon" href="{{ faviconUrl }}" />
{% endif %} {% endif %} {# Open Graph meta tags for social sharing #} {% set
ogTitle = data.activeResource.title or data.piece.title or data.page.title or
data.global.siteTitle %} {% set ogDescription = data.activeResource.summary or
data.piece.summary or data.piece.seoDescription or data.page.seoDescription or
'' %} {% set ogType = 'article' if (data.activeResource or data.piece) else
'website' %} {% if data.activeResource and data.activeResource.id %} {% set
ogUrl = (data.baseUrl or '') ~ (data.originalUrl or data.page._url or '') %} {%
else %} {% set ogUrl = data.piece._url or data.page._url or data.baseUrl or ''
%} {% endif %}
<meta property="og:title" content="{{ ogTitle | e }}" />
<meta property="og:type" content="{{ ogType }}" />
<meta property="og:locale" content="nl_NL" />
<meta property="og:url" content="{{ ogUrl | e }}" />
{% if data.global.siteTitle %}
<meta property="og:site_name" content="{{ data.global.siteTitle | e }}" />
{% endif %} {% if ogDescription %}
<meta property="og:description" content="{{ ogDescription | e }}" />
{% endif %} {% if data.activeResource and data.activeResource.images and
data.activeResource.images[0] and data.activeResource.images[0].url %}
<meta
  property="og:image"
  content="{{ data.activeResource.images[0].url | e }}" />
{% elif data.piece and data.piece.image %}
<meta
  property="og:image"
  content="{{ data.baseUrl }}{{ apos.attachment.url(data.piece.image, { size: 'full' }) }}" />
{% elif data.page and data.page.ogImage %}
<meta
  property="og:image"
  content="{{ data.baseUrl }}{{ apos.attachment.url(data.page.ogImage, { size: 'full' }) }}" />
{% elif data.global.fbImage %}
<meta
  property="og:image"
  content="{{ data.baseUrl }}{{ apos.attachment.url(data.global.fbImage, { size: 'full' }) }}" />
{% endif %} {% endblock %} {% block beforeMain %}

<div
  id="logout-data"
  data-logout-url="{{ data.global.logoutUrl | safe }}"></div>

<a
  class="skip-link utrecht-button-link utrecht-button-link--html-a utrecht-button-link--primary-action"
  href="#main">
  Ga naar de hoofdinhoud
</a>

{% include 'partials/openstaduser.html' %}
<div class="bp-wrapper" data-apos-level="1">
  {% include 'partials/css.html' %} {% include 'partials/cookie-warning.html' %}
  {% include 'partials/header.html' %} {% include 'partials/analytics.html' %}
  {% include 'partials/navbar.html' %}

  <main class="page" id="main" tabindex="-1">
    {% endblock %} {% block main %} {# Usually, your page templates in the
    @apostrophecms/pages module will override this block. It is safe to assume
    this is where your page-specific content should go. #} {% endblock %} {%
    block afterMain %}
  </main>
  {% include 'partials/footer.html' %}
</div>
{# Close .bp-wrapper #} {% endblock %}
