{# Automatically extends the right outer layout and also handles AJAX siutations #}

{% block locale %}nl{% endblock %}
{% set title = data.piece.title or data.page.title %}
{% block title %}
{{ title }}
{% if not title %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe
page or piece.') }}
{% endif %}
{% endblock %}


{% if data.global.inlineCss %}
<style>
 {{data.global.inlineCss | safe}}
</style>
{% endif %}

{% block beforeMain %}
{% include 'partials/header.html'%}
{% endblock %}

{% block main %}
{#
Usually, your page templates in the apostrophe-pages module will override
this block. It is safe to assume this is where your page-specific content
should go.
#}
{% endblock %}
{% include 'partials/footer.html'%}