<!DOCTYPE html>
<html lang="nl">
<head>
  <title>{{ client.name }}</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css?v=1.1">

  {% if envStyleSheets %}
  {% for sheet in envStyleSheets %}
  <link rel="stylesheet" type="text/css" href="{{sheet}}">
  {% endfor %}
  {% endif %}

  {% if clientStylesheets %}
  {% for sheet in clientStylesheets %}
  <link rel="stylesheet" type="text/css" href="{{sheet.url}}">
  {% endfor %}
  {% endif %}

  {% if favicon %}
  <link rel="icon" href="{{ favicon }}">
  {% endif %}

  {% if inlineCSS %}
  <style>{{inlineCSS}} </style>
  {% endif %}


  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.nl.js"></script>
  <script type="text/javascript" src="/javascripts/main.js?v=1.1"></script>
</head>
<body>
  {% include 'elements/header.html' %}
  {% include 'elements/navbar.html' %}

  <main id="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {% include 'elements/flash.html' %}

          {% block body %}{% endblock %}
        </div>
        <div class="col-xs-12 col-sm-3 pull-right">
          {% if displaySidebar %}
          {% include 'elements/sidebar.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </main>
  {% include 'elements/footer.html' %}
</body>
</html>
