.osc .icon {
    display: inline-flex;  
    justify-items: center;
    align-items: center;
    gap: .25rem;
    font-weight: 600;
  }

  .osc .icon.no-label {
    gap: 0rem;
  }

  .osc .icon.no-label p {
    width: 0;
    height: 0;
    overflow: clip;
  }


  .osc .icon > i.big {
    font-size: 24px;
  }

  .osc .icon > i.regular {
    font-size: 16px;
  }

  .osc .icon > i.small {
    font-size: 8px;
  }