.osc-2-icon {
    display: inline-flex;  
    justify-items: center;
    align-items: center;
    gap: .25rem;
    font-weight: 600;
  }

  .osc-2-icon > i {
    color: var(--foreground);
    font-size: 24px;
  }