.osc .icon {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    gap: var(--setIconGap, var(--iconGap, 0.25rem));
    font-weight: var(--setIconFontWeight, var(--iconFontWeight, 600));
  }

  .osc .icon.no-label {
    gap: 0rem;
  }

  .osc .icon.no-label p {
    width: 0;
    height: 0;
    overflow: clip;
  }

  .osc .icon > i.big {
    font-size: var(--setIconBigFontSize, var(--iconBigFontSize, 24px));
  }

  .osc .icon > i.regular {
    font-size: var(--setIconRegularFontSize, var(--iconRegularFontSize, 16px));
  }

  .osc .icon > i.small {
    font-size: var(--setIconSmallFontSize, var(--iconSmallFontSize, 8px));
  }