---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "openstad.api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openstad.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ template "openstad.api.fullname" . }}-deployment
spec:
  replicas: {{ .Values.api.replicas | default 1 }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ .Values.api.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.api.label }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      serviceAccountName: openstad-headless-ingress-sa
      containers:
        - securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          env:
          - name: URL
            value: https://{{ template "openstad.api.url" . }}

          - name: HOSTNAME
            value: www.{{ .Values.host.base}}

          # MySQL DATABASE
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                key: username

          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.passwordSecret.fullname" . }}
                key: mysql-password

          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                key: hostname

          - name: DB_PORT
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                key: hostport

          - name: DB_MAX_POOL_SIZE
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                key: maxPoolSize

          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: {{ template "openstad.api.secret.fullname" . }}
                key: {{ .Values.secrets.api.dbNameKey | default "database" }}

          - name: USER_ID_SALT
            valueFrom:
              secretKeyRef:
                key: userIdSalt
                name: {{ template "openstad.api.secret.fullname" . }}

          - name: EMAILADDRESS
            value: {{ .Values.api.emailAddress }}

          - name: PORT
            value: "{{ .Values.api.service.httpPort }}"

          - name: MAIL_FROM
            value: {{ .Values.secrets.mail.api.emailFrom | default "Openstad" }}

          - name: MAIL_TRANSPORTER_TYPE
            valueFrom:
              secretKeyRef:
                key: transporterType
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_MICROSOFT_GRAPH_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: msClientId
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_MICROSOFT_GRAPH_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                key: msClientSecret
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_MICROSOFT_GRAPH_TENANT_ID
            valueFrom:
              secretKeyRef:
                key: msTenantId
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: HASH_IP_ADDRESSES
            valueFrom:
              secretKeyRef:
                key: hashIpAddresses
                name: {{ template "openstad.ipaddress.secret.fullname" . }}

          - name: HASH_IP_SALT
            valueFrom:
              secretKeyRef:
                key: hashIpSalt
                name: {{ template "openstad.ipaddress.secret.fullname" . }}

          - name: MAIL_TRANSPORT_SMTP_PORT
            valueFrom:
              secretKeyRef:
                key: {{ .Values.secrets.mail.portKey | default "port" }}
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_TRANSPORT_SMTP_HOST
            valueFrom:
              secretKeyRef:
                key: {{ .Values.secrets.mail.hostKey | default "host" }}
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_TRANSPORT_SMTP_REQUIRESSL
            value: "true"

          - name: MAIL_TRANSPORT_SMTP_AUTH_USER
            valueFrom:
              secretKeyRef:
                key: {{ .Values.secrets.mail.usernameKey | default "username" }}
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: MAIL_TRANSPORT_SMTP_AUTH_PASS
            valueFrom:
              secretKeyRef:
                key: {{ .Values.secrets.mail.passwordKey | default "password" }}
                name: {{ template "openstad.email.secret.fullname" . }}

          - name: NOTIFICATIONS_ADMIN_EMAILADDRESS
            value: {{ .Values.api.emailAddress }}

          - name: DISABLE_PROJECT_ISSUE_WARNINGS
            value: "{{ .Values.api.disableProjectIssueWarnings }}"

          - name: AUTH_JWTSECRET
            valueFrom:
              secretKeyRef:
                key: jwtSecret
                name: {{ template "openstad.api.secret.fullname" . }}

          - name: AUTH_FIXEDAUTHTOKENS
            valueFrom:
              secretKeyRef:
                key: fixedAuthTokens
                name: {{ template "openstad.api.secret.fullname" . }}

          - name: AUTH_ADAPTER_OPENSTAD_SERVERURL
            value: https://{{ template "openstad.auth.url" . }}

          - name: AUTH_ADAPTER_OPENSTAD_SERVERURL_INTERNAL
            value: http://{{ template "openstad.auth.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.auth.service.httpPort }}

          - name: IMAGE_APP_URL
            value: https://{{ template "openstad.image.url" . }}

          - name: IMAGE_APP_URL_INTERNAL
            value: http://{{ printf "%s.%s.svc.cluster.local:%d" (include "openstad.image.fullname" .) .Release.Namespace (.Values.image.service.httpPort | int) }}



          - name: IMAGE_VERIFICATION_TOKEN
            valueFrom:
              secretKeyRef:
                key: verificationToken
                name: {{ template "openstad.image.secret.fullname" . }}

          - name: NODE_ENV
            value: production

          - name: CMS_URL
            value: https://{{ template "openstad.cms.url" . }}

          - name: REACT_CDN
            valueFrom:
              secretKeyRef:
                key: reactUrl
                name: {{ template "openstad.cdn.secret.fullname" . }}

          - name: REACT_DOM_CDN
            valueFrom:
              secretKeyRef:
                key: reactDomUrl
                name: {{ template "openstad.cdn.secret.fullname" . }}

          - name: ZIPCODE_AUTOFILL_API_URL
            valueFrom:
              secretKeyRef:
                key: zipCodeAutofillApiUrl
                name: {{ template "openstad.cdn.secret.fullname" . }}

          - name: ZIPCODE_API_URL
            valueFrom:
              secretKeyRef:
                key: zipCodeApiUrl
                name: {{ template "openstad.cdn.secret.fullname" . }}

          - name: BASE_DOMAIN
            value: {{ .Values.host.base }}

          - name: ADMIN_DOMAIN
            value: {{ template "openstad.admin.url" . }}

          - name: AUTH_ADMIN_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: admin_client_id
                name: {{ template "openstad.auth.secret.fullname" . }}

          - name: AUTH_ADMIN_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                key: admin_client_secret
                name: {{ template "openstad.auth.secret.fullname" . }}

          - name: KUBERNETES_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace

          - name: KUBERNETES_FRONTEND_SERVICE_NAME
            value: {{ template "openstad.cms.fullname" . }}

          - name: KUBERNETES_FRONTEND_SERVICE_PORT
            value: "{{ .Values.cms.service.httpPort }}"

          - name: KUBERNETES_INGRESS_USE_CLUSTER_ISSUER
            value: "{{ .Values.clusterIssuer.useProdIssuer }}"

          - name: KUBERNETES_INGRESS_ISSUER_NAME
            value: "{{ .Values.clusterIssuer.prodIssuerName }}"

          - name: KUBERNETES_INGRESS_CLASS_NAME
            value: "{{ .Values.api.createdIngresses.className | default "" }}"

          - name: KUBERNETES_INGRESS_DEFAULT_ANNOTATIONS
            value: '{{ .Values.api.createdIngresses.annotations | default "{}" | toJson }}'

          - name: KUBERNETES_INGRESS_TLS_MANAGED_BY_OPENSTAD
            value: "{{ .Values.api.createdIngresses.tlsManagedByOpenstad }}"

          - name: RATE_LIMIT
            valueFrom:
              secretKeyRef:
                key: rateLimit
                name: {{ template "openstad.ratelimit.secret.fullname" . }}

          - name: RATE_WINDOW_MS
            valueFrom:
              secretKeyRef:
                key: rateWindowMs
                name: {{ template "openstad.ratelimit.secret.fullname" . }}

          {{- if .Values.api.extraEnvVars }}
          {{- include "common.tplvalues.render" (dict "value" .Values.api.extraEnvVars "context" $) | nindent 10 }}
          {{- end }}
          image: {{ .Values.api.deploymentContainer.image }}
          imagePullPolicy: IfNotPresent
          name: {{ template "openstad.api.fullname" . }}
          ports:
            - containerPort: {{ .Values.api.service.httpPort }}
              name: http
              protocol: TCP
          {{- if .Values.api.customCommand }}
          command: {{ toYaml .Values.api.customCommand | nindent 12}}
          {{- end }}
          {{- if .Values.api.customWorkingDir }}
          workingDir: {{ .Values.api.customWorkingDir }}
          {{- end }}
          resources:
{{ toYaml .Values.api.resources | indent 12 }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.api.service.httpPort }}
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: {{ .Values.api.service.httpPort }}
            initialDelaySeconds: {{ .Values.api.probe.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.api.probe.liveness.periodSeconds }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      initContainers:
        - command: ["/bin/bash", "-c"]
          args:
            - nc $DB_HOST $DB_PORT -z -w1 && npm run init-database -w apps/api-server -- --only-if-empty && npm run migrate-database -w apps/api-server
          env:
            - name: URL
              value: https://{{ template "openstad.api.url" . }}

            - name: HOSTNAME
              value: www.{{ .Values.host.base}}

            # MySQL DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                  key: username

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "openstad.passwordSecret.fullname" . }}
                  key: mysql-password

            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                  key: hostname

            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ template "openstad.database.credentialsSecret.fullname" . }}
                  key: hostport

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ template "openstad.api.secret.fullname" . }}
                  key: {{ .Values.secrets.api.dbNameKey | default "database" }}

            - name: USER_ID_SALT
              valueFrom:
                secretKeyRef:
                  key: userIdSalt
                  name: {{ template "openstad.api.secret.fullname" . }}

            - name: EMAILADDRESS
              value: {{ .Values.api.emailAddress }}

            - name: PORT
              value: "{{ .Values.api.service.httpPort }}"

            - name: MAIL_FROM
              value: {{ .Values.secrets.mail.api.emailFrom | default "Openstad" }}

            - name: MAIL_TRANSPORTER_TYPE
              valueFrom:
                secretKeyRef:
                  key: transporterType
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_MICROSOFT_GRAPH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: msClientId
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_MICROSOFT_GRAPH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: msClientSecret
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_MICROSOFT_GRAPH_TENANT_ID
              valueFrom:
                secretKeyRef:
                  key: msTenantId
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: HASH_IP_ADDRESSES
              valueFrom:
                secretKeyRef:
                  key: hashIpAddresses
                  name: {{ template "openstad.ipaddress.secret.fullname" . }}

            - name: HASH_IP_SALT
              valueFrom:
                secretKeyRef:
                  key: hashIpSalt
                  name: {{ template "openstad.ipaddress.secret.fullname" . }}

            - name: MAIL_TRANSPORT_SMTP_PORT
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.secrets.mail.portKey | default "port" }}
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_TRANSPORT_SMTP_HOST
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.secrets.mail.hostKey | default "host" }}
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_TRANSPORT_SMTP_REQUIRESSL
              value: "true"

            - name: MAIL_TRANSPORT_SMTP_AUTH_USER
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.secrets.mail.usernameKey | default "username" }}
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: MAIL_TRANSPORT_SMTP_AUTH_PASS
              valueFrom:
                secretKeyRef:
                  key: {{ .Values.secrets.mail.passwordKey | default "password" }}
                  name: {{ template "openstad.email.secret.fullname" . }}

            - name: NOTIFICATIONS_ADMIN_EMAILADDRESS
              value: {{ .Values.api.emailAddress }}

            - name: AUTH_JWTSECRET
              valueFrom:
                secretKeyRef:
                  key: jwtSecret
                  name: {{ template "openstad.api.secret.fullname" . }}

            - name: AUTH_FIXEDAUTHTOKENS
              valueFrom:
                secretKeyRef:
                  key: fixedAuthTokens
                  name: {{ template "openstad.api.secret.fullname" . }}

            - name: AUTH_ADAPTER_OPENSTAD_SERVERURL
              value: https://{{ template "openstad.auth.url" . }}

            - name: AUTH_ADAPTER_OPENSTAD_SERVERURL_INTERNAL
              value: http://{{ template "openstad.auth.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.auth.service.httpPort }}

            - name: AUTH_ADMIN_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: admin_client_id
                  name: {{ template "openstad.auth.secret.fullname" . }}

            - name: AUTH_ADMIN_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: admin_client_secret
                  name: {{ template "openstad.auth.secret.fullname" . }}

            - name: IMAGE_APP_URL
              value: {{ template "openstad.image.url" . }}

            - name: IMAGE_VERIFICATION_TOKEN
              valueFrom:
                secretKeyRef:
                  key: verificationToken
                  name: {{ template "openstad.image.secret.fullname" . }}

            - name: NODE_ENV
              value: production

            - name: CMS_URL
              value: https://{{ template "openstad.cms.url" . }}

            - name: REACT_CDN
              valueFrom:
                secretKeyRef:
                  key: reactUrl
                  name: {{ template "openstad.cdn.secret.fullname" . }}

            - name: REACT_DOM_CDN
              valueFrom:
                secretKeyRef:
                  key: reactDomUrl
                  name: {{ template "openstad.cdn.secret.fullname" . }}

            - name: ZIPCODE_AUTOFILL_API_URL
              valueFrom:
                secretKeyRef:
                  key: zipCodeAutofillApiUrl
                  name: {{ template "openstad.cdn.secret.fullname" . }}

            - name: ZIPCODE_API_URL
              valueFrom:
                secretKeyRef:
                  key: zipCodeApiUrl
                  name: {{ template "openstad.cdn.secret.fullname" . }}

            - name: BASE_DOMAIN
              value: {{ .Values.host.base }}

            {{- if .Values.api.extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" .Values.api.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          image: {{ .Values.api.deploymentContainer.image }}
          imagePullPolicy: IfNotPresent
          name: init-db-ready
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
