.documentMap--container {
  height: calc(100vh - 193px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.documentMap--container.--largeDoc{
  grid-template-columns: 1fr 650px;
}

@media only screen and (max-width: 1000px) {
  .documentMap--container {
    grid-template-columns: 1fr;
    height: auto;
  }
  .documentMap--container.--largeDoc{
    grid-template-columns: 1fr;
    height: auto;
  }

  .documentMap--container .map-container .leaflet-container {
    height: 500px !important;
  }

  .documentMap--container .content {
    height: auto;
    overflow: visible;
  }

  .documentMap--container .content-intro.desktoponly {
    display: none !important;
  }
}

@media only screen and (min-width: 1001px) {
  .documentMap--container .map-container.right {
    order: 1;
  }

  .documentMap--container .content-container.mobileonly {
    display: none !important;
  }
}

.documentMap--container .content {
  overflow: auto;
  padding: 2rem;
}
.documentMap--container .content:empty {
  display: none;
}

.documentMap--container .content .content-intro {
  margin-block-end: 2rem;
}

.documentMap--container .content .content-intro p {
  margin-block-start: 0.5rem;
}

.documentMap--container .map-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.documentMap--container .map-container .content-container {
  align-self: start;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-right: solid 1px #ddd;
}
.documentMap--container .map-container .leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #808080;
}

.documentMap--container .map-container form {
  display: grid;
  grid-gap: 15px;
}

.documentMap--container .map-container textarea {
  width: 300px;
  margin-top: 8px;
}
.documentMap--container .map-container button {
  width: 100%;
  max-width: none;
  display: block;
}

.documentMap--container .content .comment {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  padding: 0;
  background: unset;
  cursor: pointer;
}
.documentMap--container .content p {
  white-space: pre-wrap;
}

.documentMap--container .content button .flex {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  opacity: 0.6;
  margin-top: 0.5rem;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  padding-top: 0.5rem;
}

.documentMap--container .content .comment {
  padding: 1rem;
}

.documentMap--container .content .comment.highlight {
  background: rgb(255, 227, 0, 0.35);
  border-radius: 4px;
}

.documentMap--container .content .comment + .comment {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.leaflet-container .leaflet-marker-pane .leaflet-marker-icon {
  opacity: 0.5;
}

.leaflet-container .leaflet-marker-pane .leaflet-marker-icon.--highlightedIcon {
  z-index: 999;
  opacity: 1;
}

.leaflet-container
  .leaflet-marker-pane
  .leaflet-marker-icon.basic-icon.--highlightedIcon {
  filter: hue-rotate(92deg) saturate(2);
}

.leaflet-popup-content p.--error {
  margin: 0;
  color: #d30000;
  font-style: italic;
  font-size: 14px;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  bottom: 10px !important;
}

.documentMap--header:not(:has(:empty)) {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.toggleMarkers {
  display: flex;
  gap: 0.5rem;
  float: right;
}
.--hideMarkers .leaflet-container .leaflet-marker-pane .leaflet-marker-icon {
  display: none;
}

.url-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a + .url-list:before {
  content: ' | ';
  position: absolute;
  margin-left: -10px;
}

.url-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.documentMap--container .document-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.documentMap--container .map-container button.info-trigger {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 55px;
  width: max-content;
  font-size: 20px;
  padding: 0;
}

.documentMap--container .map-container button.info-trigger.button-has-text {
  padding-left: 10px;
  padding-right: 10px;
}

.documentMap--container .map-container button.info-trigger .trigger-text {
  font-size: 15px;
  margin-left: 8px;
  font-weight: normal;
}

.modal-overlay[aria-hidden="true"] {
  display: none;
}

.modal-overlay[aria-hidden="false"] {
  display: block;
}

.documentMap--container .modal {
  position: absolute;
  z-index: 1;
  border: none;
  max-width: 90%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: auto;
  max-height: 90%;
}

.documentMap--container .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.documentMap--container:has(.content:empty) {
  grid-template-columns: 1fr;
  
}
.documentMap--container:has(.content:empty) .map-container {
  max-width: 1140px;
  justify-self: center;
  width: 100%;
}
.documentMap--container:has(.content:empty) .content-container {
  border-right: 0;
  border-bottom: 1px solid #ddd;
}

.documentMap--container .like-widget-container {
  padding: 0;
  background: none;
}

.documentMap--container .multi-select > button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  scale: 1 !important;
  font-size: 15px;
}

.documentMap--container .multi-select > button .icon p {
  display: none;
}

.documentMap--container .multi-select > button .icon i::before {
  color: #000;
}

.documentMap--container .multi-select .utrecht-paragraph {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0 0 8px !important;
}

.documentMap--container .multi-select .utrecht-form-field--checkbox {
  display: block;
}

.documentMap--container .multi-select .utrecht-paragraph .utrecht-checkbox {
  width: 18px;
  height: 18px;
  min-block-size: 18px;
  min-inline-size: 18px;
}

.documentMap--container .multi-select .utrecht-paragraph label {
  font-size: 15px;
}

.documentMap--container .multi-select .multiselect-container {
  margin-top: 10px;
}

.documentMap--container .multi-select {
  border: 1px solid rgb(102, 102, 102) !important;
  padding: 8px 16px;
  background-color: white;
  margin-top: 8px;
}

.documentMap--container .multi-select > button {
  border: none;
  padding: 0;
  min-block-size: 30px;
  background-color: transparent !important;
  color: black !important;
  max-inline-size: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.documentMap--container #stem-begroot-filter {
  margin-block-end: 1rem;
  width: 100%;
  margin-top: 15px;
  display: inline-block;
}

.documentMap--container .map-container + .content .content-intro {
  display: inline-block;
}

.documentMap--container form .utrecht-form-field > label + p {
  position: relative;
}

.documentMap--container form .utrecht-form-field > label + p::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  right: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.documentMap--container form .utrecht-form-field > label + p {
  margin-top: 8px;
  margin-bottom: 0;
}

.documentMap--container form .utrecht-form-field > label + p select {
  border: 1px solid rgb(102, 102, 102);
  padding: 10px 12px;
  font-size: 15px;
  color: black;
  border-radius: 0;
}

@media only screen and (min-width: 1001px) {
  .back-to-top {
    display: none !important;
  }
}

.back-to-top:not(.show) {
  display: none !important;
}

.back-to-top {
  position: sticky;
  bottom: 20px;
  background-color: var(--utrecht-button-background-color, white);
  color: var(--utrecht-button-color, black);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 0 10px #0000001a;
  width: 35px;
  height: 35px;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}