
 /* Dropdown */

 .DropdownMenuContent,
.DropdownMenuSubContent {
  background-color: var(--setDropdownBackground, var(--dropdownBackground, white));
  border-radius: var(--setDropdownBorderRadius, var(--dropdownBorderRadius, 6px));
  padding: var(--setDropdownPadding, var(--dropdownPadding, 1rem));
  box-shadow: var(--setDropdownShadow, var(--dropdownShadow, 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2)));
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  margin: 10px;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: var(--setDropdownItemFontSize, var(--dropdownItemFontSize, 13px));
  line-height: 1;
  color: var(--setDropdownItemColor, var(--dropdownItemColor, var(--violet-11, #5746af)));
  border-radius: var(--setDropdownItemBorderRadius, var(--dropdownItemBorderRadius, 3px));
  display: flex;
  align-items: center;
  height: 25px;
  padding: var(--setDropdownItemPadding, var(--dropdownItemPadding, 0 5px));
  position: relative;
  user-select: none;
  outline: none;
}
.DropdownMenuSubTrigger[data-state='open'] {
  background-color: var(--setDropdownItemOpenBackground, var(--dropdownItemOpenBackground, var(--primary, var(--osc-primary, #12B886))));
  color: var(--setDropdownItemOpenColor, var(--dropdownItemOpenColor, var(--primary-foreground, #ffffff)));
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--setDropdownItemDisabledColor, var(--dropdownItemDisabledColor, var(--mauve-8, #b2aba0)));
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--setDropdownItemHoverBackground, var(--dropdownItemHoverBackground, var(--primary, var(--osc-primary, #12B886))));
  color: var(--setDropdownItemHoverColor, var(--dropdownItemHoverColor, var(--primary-foreground, #ffffff)));
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: var(--setDropdownLabelFontSize, var(--dropdownLabelFontSize, 12px));
  line-height: 25px;
  color: var(--setDropdownLabelColor, var(--dropdownLabelColor, var(--mauve-11, #897f73)));
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--setDropdownSeparatorColor, var(--dropdownSeparatorColor, var(--primary, var(--osc-primary, #12B886))));
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: var(--setDropdownArrowFill, var(--dropdownArrowFill, white));
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: var(--setIconButtonSize, var(--iconButtonSize, 35px));
  width: var(--setIconButtonSize, var(--iconButtonSize, 35px));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--setIconButtonColor, var(--iconButtonColor, var(--primary, var(--osc-primary, #12B886))));
  background-color: var(--setIconButtonBackground, var(--iconButtonBackground, white));
  box-shadow: var(--setIconButtonShadow, var(--iconButtonShadow, 0 2px 10px var(--black-a7, rgba(0, 0, 0, 0.3))));
}
.IconButton:hover {
  background-color: var(--setIconButtonHoverBackground, var(--iconButtonHoverBackground, var(--primary, var(--osc-primary, #12B886))));
  color: var(--setIconButtonHoverColor, var(--iconButtonHoverColor, white));
}
.IconButton:focus {
  box-shadow: var(--setIconButtonFocusShadow, var(--iconButtonFocusShadow, 0 0 0 2px black));
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--setDropdownRightSlotColor, var(--dropdownRightSlotColor, var(--primary, var(--osc-primary, #12B886))));
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
    cursor: not-allowed;
    opacity: 0.5;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.DropdownMenuContent button,
.DropdownMenuSubContent button{
  width: 100%;
  max-width: unset;
}