.osc .progressbar {
  height: var(--nlds-progressbar-height, 0.5rem);
  width: 100%;
  background-color: var(--nlds-progressbar-background-color, #a9b2ba);
  border-radius: var(--nlds-progressbar-border-radius, 50px);
}

.osc .progressbar-tracker {
  appearance: none;
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  border-radius: inherit;
}

.osc .progressbar-tracker::-webkit-progress-bar {
  background-color: transparent;
  border-radius: inherit;
}

.osc .progressbar-tracker::-webkit-progress-value {
  background-color: var(
    --nlds-progressbar-fill-background-color,
    var(--utrecht-button-primary-action-background-color)
  );
  border-radius: inherit;
}

.osc .progressbar-tracker::-moz-progress-bar {
  background-color: var(
    --nlds-progressbar-fill-background-color,
    var(--utrecht-button-primary-action-background-color)
  );
  border-radius: inherit;
}

.osc .progressbar-counter {
  font-weight: 600;
  text-align: center;
  color: var(--nlds-progressbar-color, #010d0a);
}
