.osc .progressbar {
      height: var(--setProgressBarHeight, var(--progressBarHeight, 0.5rem));
      width: 100%;
      background-color: var(--setProgressBarBackground, var(--progressBarBackground, var(--osc-border, #A9B2BA)));
      border-radius: var(--setProgressBarBorderRadius, var(--progressBarBorderRadius, 50px));
      overflow-x: hidden;
}

.osc .progressbar-tracker {
  height: 100%;
  background-color: var(--setProgressBarColor, var(--progressBarColor, var(--osc-primary, #12B886)));
  border-radius: inherit;
}

.osc .progressbar-counter {
  font-weight: var(--setProgressBarCounterFontWeight, var(--progressBarCounterFontWeight, 600));
  text-align: center;
  color: var(--setProgressBarCounterColor, var(--progressBarCounterColor, var(--osc-foreground, #010D0A)));
}