<style>
  {{data.widget.formattedImageStyles}}
  .--negative {
    margin-block-start: calc(var(--nlds-default-margin-block-start, 3.5rem) * -1);
  }
</style>

<img
  id="{{data.widget.imageId}}"
  src="{{apos.attachment.url(data.widget.uploadedImage)}}"
  style="width: {{data.widget.width}}; height: {{data.widget.height}}; object-fit: {{data.widget.objectFit}}; "
  title="{{data.widget.uploadedImageTitle}}"
  alt="{{data.widget.uploadedImageAlt}}"
  class="{% if data.widget.banner %} --negative {% endif %}"
/>
