.comments-title {
  margin-bottom: var(--setCommentsTitleMarginBottom, var(--commentsTitleMarginBottom, 1rem));
 }

 .form-container {
   font-family: var(--setCommentsFormFontFamily, var(--commentsFormFontFamily, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif));
   display: grid;
   grid-gap: var(--setCommentsFormGridGap, var(--commentsFormGridGap, 1rem));
   justify-content: unset;
 }

 .utrecht-form-field {
   display: flex;
   flex-direction: column;
 }

 .utrecht-form-field__label {
   margin-bottom: 0.5rem;
 }

 .utrecht-form-field__input {
   display: flex;
   flex-direction: column;
 }

 .error-message {
     color: var(--setCommentsErrorColor, var(--commentsErrorColor, red));
 }

 .comment-description-inputfield {
     padding: var(--setCommentsInputfieldPadding, var(--commentsInputfieldPadding, 0.75rem));
 }

 .reaction-input-container {
 }

 hr {
  border-top: 1px solid var(--osc-border);
 }

.form-container button,
.form-container input{
  max-width: none;
}

 .comment-item{
  background-color: var(--setCommentsItemBackground, var(--commentsItemBackground, var(--nlds-comment-item-background-color, var(--nlds-default-background-color, #F0F4F8))));
  padding: var(--setCommentsItemPadding, var(--commentsItemPadding, 1rem));
 }
 .comment-item+.comment-item{
  margin-top: var(--setCommentsItemMarginTop, var(--commentsItemMarginTop, 1rem));
 }
 .comment-item-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--nlds-comment-item-header-border-color, --nlds-default-border-color, #A9B2BA);
  margin-bottom: 0.5rem;
 }

 .comment-item .utrecht-button-group{
  margin-top: 1rem;
 }


 .osc .utrecht-textarea{
  max-width: unset;
  width: 100%;
 }


 article.comment-item.selected {
  background: var(--setCommentsItemSelectedBackground, var(--commentsItemSelectedBackground, #fff4ce));
}

.reaction-container .comment-item{
  border-top: var(--setCommentsReactionItemBorderTop, var(--commentsReactionItemBorderTop, solid 1px rgba(0, 0, 0, 0.1)));
}

.--isAdmin{
  color: var(--setCommentsAdminColor, var(--commentsAdminColor, #000));
  font-weight: var(--setCommentsAdminFontWeight, var(--commentsAdminFontWeight, 300));
  font-size: var(--setCommentsAdminFontSize, var(--commentsAdminFontSize, 10px));
  padding-left: var(--setCommentsAdminPaddingLeft, var(--commentsAdminPaddingLeft, 5px));
  letter-spacing: var(--setCommentsAdminLetterSpacing, var(--commentsAdminLetterSpacing, 0.5px));
  text-transform: capitalize;
}

.comment-item .reaction-container .form-container {
 grid-gap: 0;
}

.comment-item .reaction-container .form-container .question-type-hidden {
 clip: rect(1px, 1px, 1px, 1px);
 -webkit-clip-path: inset(50%);
 clip-path: inset(50%);
 height: 1px;
 width: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
}

.comment-item .reaction-container .cancel-reply {
 width: 100%;
 max-width: 100%;
 background: var(--utrecht-button-secondary-action-background-color, #ff0021);
 color: var(--utrecht-button-secondary-action-color, white);
 border: 1px solid var(--utrecht-button-secondary-action-border-color, #ff0021);
}

.osc-comments-paginator .osc-paginator {
 justify-content: center;
}

.comment-item .comment-item-header {
 position: relative;
 z-index: 1;
}

.comment-item .comment-item-header .edit-delete-button-group {
 position: relative;
}

.comment-item .comment-item-header .edit-delete-button-group .DropdownMenuContent {
 position: absolute;
 top: 100%;
 left: auto;
 right: 0;
 min-width: 170px;
}

.comment-item .reply-container-button{
  width: 100%;
  max-width: none;
  margin-top: 1rem;
}