.comments-title {
  margin-bottom: 1rem;
 }

 .form-container {
   font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
   display: grid;
   grid-gap: 1rem;
 }

 .utrecht-form-field {
   display: flex;
   flex-direction: column;
 }

 .utrecht-form-field__label {
   margin-bottom: 0.5rem;
 }

 .utrecht-form-field__input {
   display: flex;
   flex-direction: column;
 }

 .error-message {
     color: red;
 }

 .comment-description-inputfield {
     padding: 0.75rem;
 }

 .reaction-input-container {
    text-align: right;
 }

 button[type="submit"] {
     padding: 0.5rem 1rem;
     font-size: 1rem;
     border: none;
     border-radius: 0.25rem;
     background-color: var(--osc-primary);
     color: white;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 button[type="submit"]:hover {
     background-color: var(--osc-primary-hover);
 }

 hr {
  border-top: 1px solid var(--osc-border);
 }
