.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}   

.step-container > .step-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--setStepperIconWidth, var(--stepperIconWidth, 0.5rem));
    height: var(--setStepperIconHeight, var(--stepperIconHeight, 0.5rem));
    padding: var(--setStepperIconPadding, var(--stepperIconPadding, 0.5rem));
    margin-right: var(--setStepperIconMarginRight, var(--stepperIconMarginRight, 0.5rem));
    border-width: var(--setStepperIconBorderWidth, var(--stepperIconBorderWidth, 1px));
    border-style: solid;
    border-color: var(--setStepperIconBorderColor, var(--stepperIconBorderColor, var(--osc-primary, #12B886)));
    border-radius: var(--setStepperIconBorderRadius, var(--stepperIconBorderRadius, 50%));
}

.stepper > .step-divider {
    height: var(--setStepperDividerHeight, var(--stepperDividerHeight, 1px));
    width: 100%;
    margin-left: var(--setStepperDividerMarginLeft, var(--stepperDividerMarginLeft, 1rem));
    margin-right: var(--setStepperDividerMarginRight, var(--stepperDividerMarginRight, 1rem));
    background-color: var(--setStepperDividerColor, var(--stepperDividerColor, var(--osc-border, #A9B2BA)));
}

.step-icon > p {
    color: var(--setStepperIconColor, var(--stepperIconColor, var(--osc-primary, #12B886)));
}

.step-icon.active {
    background-color: var(--setStepperIconActiveBackground, var(--stepperIconActiveBackground, var(--osc-primary, #12B886)));
}

.step-icon.done {
    background-color: var(--setStepperIconDoneBackground, var(--stepperIconDoneBackground, var(--osc-secondary, #1471EF)));
    border-color: var(--setStepperIconDoneBorderColor, var(--stepperIconDoneBorderColor, var(--osc-secondary, #1471EF)));
}

.step-icon.active > p{
    color: var(--setStepperIconActiveColor, var(--stepperIconActiveColor, var(--osc-primary-foreground, #ffffff)));
}
.step-icon.done > p{
    color: var(--setStepperIconDoneColor, var(--stepperIconDoneColor, var(--osc-secondary-foreground, #ffffff)));
}