@import "vendor/bootstrap/bootstrap";
@import "variables";

.container {
  max-width: 940px;
}

#main {
  min-height: 650px;
}

.row img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.intro {
  margin: 27px 0;
}

label {
  font-size: 18px;
 font-weight: 600;
}

a {
  color: #2b9ad6;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}


@import 'footer';
@import 'header';
@import 'fonts';
@import 'typography';
@import 'logo';
@import 'navbar';
@import 'buttons';
@import 'form';
@import 'flash';
