header {
  background: white;
  box-sizing: border-box;
  height: auto;
  margin: 0 0;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 11;
  background: white;

  &.--compact {
    margin-bottom: var(--nlds-header-compact-height, 1.5rem);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: var(--nlds-header-compact-height, 1.5rem);
      display: block;
      background: var(--nlds-header-compact-background-color, var(--utrecht-button-primary-action-background-color));
      left: 0;
      bottom: calc(var(--nlds-header-compact-height, 1.5rem) * -1);
    }
  }

  @include media-breakpoint-up(md) {
    width: 90%;
  }

  @include media-breakpoint-up(md) {
    height: auto;
    width: 100%;
    padding: 18px 13px;
  }

  a:visited h1,
  h1 {
    box-sizing: border-box;
    color: black;
    font-size: 22px;
    font-weight: 500;
    right: 0;
    line-height: 1em;
    margin: 0;
    max-width: 485px;
    text-decoration: none;
    padding-top: 22px;
    float: right;

    @media screen and (max-width: 411px) {
      font-size: 17px;
    }

    @media screen and (max-width: 341px) {

      font-size: 15px;
    }

    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      /*right: 10px;
			top: 8px;*/
    }
  }
}

.header_navbar-container{
  display: flex;
  gap: 20px;
}

.header-side-container {
  position: absolute;
  left: 115px;
  top: 0;
  right: 10px;

  @media screen and (max-width: 991px) {
    left: 138px;
  }

  @include media-breakpoint-up(md) {
    left: 115px;
    top: 7px;
  }

  &.without-site-title {
    left: 40%;
  }
}

.header-subtitle {
  font-size: 29px;
  color: #000;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;

  span {
    font-weight: 700;
  }

  @include media-breakpoint-up(md) {
    font-size: 18px;
    color: #000;
    padding: 0;
    line-height: 24px;
  }
}

.top-links {
  float: right;
  margin: 0;

  li {
    display: inline-block;
    float: right;

    a {
      padding-left: 17px;
      margin-left: 15px;
      margin-top: 7px;
      background-image: url(/modules/openstad-assets/img/arrow_right_black.svg);
      background-repeat: no-repeat;
      background-position: 0 1px;
      line-height: 1;
      font-weight: 500;
      height: 22px;
    }
  }
}

.logo-main-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  text-decoration: none;
}

.logo-default {
  width: 150px;
  display: block;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 0;

  @media screen and (max-width: 991px) {
    left: 28px;
  }

  @include media-breakpoint-up(md) {
    top: 0;
  }

  #amsterdam {
    color: #ec0000;
    top: 17px;
    left: 10px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 800;
    position: absolute;

    @include media-breakpoint-up(md) {
      top: 12px;
      left: -2px;
    }
  }

  img {
    border: 0;
    height: 65px;
    width: auto;
    left: -19px;
    top: 15px;
    position: absolute;
    display: block;
    max-width: none;
    height: 68px;
    width: 20px;

    @include media-breakpoint-up(md) {
      height: 41px;
      left: -21px;
      top: 12px;
      width: 12px;
    }

    @include media-breakpoint-up(lg) {
      left: 0;
    }

    @media screen and (max-width: 341px) {
      /*	width: 10px;
			padding-bottom: 40px;
			padding-top: 20px;*/
    }
  }

}



* {
  box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 100px;
  /* Should be removed. Only for demonstration */

  @media screen and (max-width: 310px) {
    height: 50px;
    width: 100%;
  }
}

header.amsterdam-header {
  height: 110px;
  padding: 0 15px;

  .header-side-container {
    top: 26px;

    @media screen and (max-width: 768px) {
      top: 7px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 63px;
    padding: 0;
  }
}