header {
  background: white;
  box-sizing: border-box;
  height: auto;
  margin: 0 0;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 11;
  background: white;

  &.--compact {
    margin-bottom: var(--nlds-header-compact-height, 1.5rem);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: var(--nlds-header-compact-height, 1.5rem);
      display: block;
      background: var(--nlds-header-compact-background-color, var(--utrecht-button-primary-action-background-color));
      left: 0;
      bottom: calc(var(--nlds-header-compact-height, 1.5rem) * -1);
    }
  }

  @include media-breakpoint-up(md) {
    width: 90%;
  }

  @include media-breakpoint-up(md) {
    height: auto;
    width: 100%;
    padding: 18px 13px;
  }

  a:visited h1,
  h1 {
    box-sizing: border-box;
    color: black;
    font-size: 22px;
    font-weight: 500;
    right: 0;
    line-height: 1em;
    margin: 0;
    max-width: 485px;
    text-decoration: none;
    padding-top: 22px;
    float: right;

    @media screen and (max-width: 411px) {
      font-size: 17px;
    }

    @media screen and (max-width: 341px) {

      font-size: 15px;
    }

    @include media-breakpoint-up(md) {
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      /*right: 10px;
			top: 8px;*/
    }
  }
}

.header_navbar-container {
  display: flex;
  gap: 10px;
}

.header-side-container {
  position: absolute;
  left: 115px;
  top: 0;
  right: 10px;

  @media screen and (max-width: 991px) {
    left: 138px;
  }

  @include media-breakpoint-up(md) {
    left: 115px;
    top: 7px;
  }

  &.without-site-title {
    left: 40%;
  }
}

.header-subtitle {
  font-size: 29px;
  color: #000;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;

  span {
    font-weight: 700;
  }

  @include media-breakpoint-up(md) {
    font-size: 18px;
    color: #000;
    padding: 0;
    line-height: 24px;
  }
}

.top-links {
  float: right;
  margin: 0;

  li {
    display: inline-block;
    float: right;

    a {
      padding-left: 17px;
      margin-left: 15px;
      margin-top: 7px;
      background-image: url(/modules/openstad-assets/img/arrow_right_black.svg);
      background-repeat: no-repeat;
      background-position: 0 1px;
      line-height: 1;
      font-weight: 500;
      height: 22px;
    }
  }
}

.logo-main-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  text-decoration: none;
}

.logo-default {
  width: 150px;
  display: block;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 0;

  @media screen and (max-width: 991px) {
    left: 28px;
  }

  @include media-breakpoint-up(md) {
    top: 0;
  }

  #amsterdam {
    color: #ec0000;
    top: 17px;
    left: 10px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 800;
    position: absolute;

    @include media-breakpoint-up(md) {
      top: 12px;
      left: -2px;
    }
  }

  img {
    border: 0;
    height: 65px;
    width: auto;
    left: -19px;
    top: 15px;
    position: absolute;
    display: block;
    max-width: none;
    height: 68px;
    width: 20px;

    @include media-breakpoint-up(md) {
      height: 41px;
      left: -21px;
      top: 12px;
      width: 12px;
    }

    @include media-breakpoint-up(lg) {
      left: 0;
    }

    @media screen and (max-width: 341px) {
      /*	width: 10px;
			padding-bottom: 40px;
			padding-top: 20px;*/
    }
  }

}



* {
  box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  height: 100px;
  /* Should be removed. Only for demonstration */

  @media screen and (max-width: 310px) {
    height: 50px;
    width: 100%;
  }
}

header.amsterdam-header {
  height: 110px;
  padding: 0 15px;

  .header-side-container {
    top: 26px;

    @media screen and (max-width: 768px) {
      top: 7px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 63px;
    padding: 0;
  }
}


// Mobile menu

body:has(.--mobile.--show) {
  overflow: clip;
}

.close-button {
  display: none;
}

#navbar.--hidden {
  display: none;
}

.header_navbar-container.--mobile .close-button {
  --background: var(--utrecht-button-primary-action-background-color, #333);
  --size: 16px;
  --border: 2px;
  display: block;
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;
  justify-self: end;
  align-self: end;

  &:before {
    content: '';
    position: absolute;
    height: var(--size);
    width: calc(var(--size) * 2);
    border: solid var(--background);
    border-width: var(--border) 0 var(--border) 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: '';
    position: absolute;
    height: var(--border);
    width: calc(var(--size) * 2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background);
  }

  span {
    overflow: clip;
    height: 0;
    width: 0;
    display: block;
  }
}

header:has(.header_navbar-container.--show)~#navbar {
  align-self: start;
  width: 100%;
  background: transparent;
  padding: 0;
  display: block;
  z-index: 11;
  padding-top: 40px;

  .container {
    max-width: none;
  }

  #main-menu {
    display: block;

    a {
      display: block;
    }

    .item-container:has(.toggle-submenu) {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    .toggle-submenu {
      pointer-events: all;
      margin: 0;
      border: solid 1px #ddd;
    }

    .submenu {
      position: relative;
      width: 100%;
      grid-column: 1 / -1;
      top: 0;
      box-shadow: none;
      background: #eee;
    }
  }
}

.header_navbar-container.--show {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 99;
  padding: 2rem 10px 10px 10px;
  justify-items: start;
  overflow: auto;
  gap: 0;

  display: flex;
  flex-direction: column;

  .close-button {
    grid-row: 1;

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
      height: 0px;
      border-bottom: 0;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .extra-menu-buttons {
    flex-direction: column;

    a {
      display: block;
      width: 100%;
      max-width: none;
      padding: 10px;
      min-height: unset;
    }
  }

  .cta-buttons {
    justify-self: center;
    grid-row: 3;
  }

  #navbar {
    align-self: start;
    width: 100%;
    background: transparent;
    padding: 0;
    display: block;

    .container {
      max-width: none;
    }

    #main-menu {
      display: block;

      a {
        display: block;
      }

      .item-container:has(.toggle-submenu) {
        display: grid;
        grid-template-columns: 1fr auto;
      }

      .toggle-submenu {
        pointer-events: all;
        margin: 0;
        border: solid 1px #ddd;
      }

      .submenu {
        position: relative;
        width: 100%;
        grid-column: 1 / -1;
        top: 0;
        box-shadow: none;
        background: #eee;
      }
    }
  }
}

.header_navbar-container.--mobile:not(.--show) {
  #navbar {
    display: none;
  }

  .cta-buttons {
    display: none;
  }
}

// Archive status banner
.archive-status-banner {
  background: var(--nlds-header-compact-background-color, var(--utrecht-button-primary-action-background-color));
  padding: 8px 0;
  text-align: center;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 99;

  p {
    display: inline-flex;
    color: var(--nlds-archiveBanner-color, var(--utrecht-button-primary-action-color));
    margin: 0;
    gap: .5rem;
    align-items: center;
    line-height: 1;

    &:before {
      content: '';
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Pro v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.--%3E%3Cpath d='M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM280 400C266.7 400 256 410.7 256 424C256 437.3 266.7 448 280 448L360 448C373.3 448 384 437.3 384 424C384 410.7 373.3 400 360 400L352 400L352 312C352 298.7 341.3 288 328 288L280 288C266.7 288 256 298.7 256 312C256 325.3 266.7 336 280 336L304 336L304 400L280 400zM320 256C337.7 256 352 241.7 352 224C352 206.3 337.7 192 320 192C302.3 192 288 206.3 288 224C288 241.7 302.3 256 320 256z'/%3E%3C/svg%3E");
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: var(--nlds-archiveBanner-color, var(--utrecht-button-primary-action-color));
    }
  }
}

// top bar buttons
.header-top-bar {
  background: #fff;
  margin: -18px -13px 18px -13px;
  border-bottom: solid 1px #f3f3f3;

  @media only screen and (max-width: 768px) {
    margin: -25px 0 0 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &>div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  a {
    font-size: 12px;
    padding: 3px 0;
    display: inline-block;
  }
}


#navbar.--compact {
  margin-right: -10px !important;
}

#navbar.--compact:has(+ .cta-buttons) {
  margin-right: 0;
}

.extra-menu-buttons {
  display: flex;
}

.cta-buttons {

  .utrecht-button-link.utrecht-button-link--account,
  .utrecht-button-link.utrecht-button-link--menu-button {
    padding: unset;
    border: unset;

    padding: 10px;
    text-decoration: none;
    color: var(--nlds-main-menu-item-color, #000);
    border-bottom: solid 2px transparent;
    white-space: nowrap;
    font-weight: 600;
    font-family: var(--bs-body-font-family);
    line-height: 1.125rem;
    background: unset;

    &:hover,
    &:focus-visible {
      scale: 1;
      color: var(--nlds-main-menu-item-color--hover, var(--utrecht-link-hover-color));
      border-color: var(--nlds-main-menu-item-border-color--hover, var(--utrecht-link-hover-color));
    }
  }
}