@import "vendor/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Default variable overrides
$body-bg: #fff;
$body-color: #111;

// 3. Include remainder of required Bootstrap stylesheets
@import "vendor/bootstrap/scss/variables";
@import "vendor/bootstrap/scss/mixins";
@import "vendor/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "vendor/bootstrap/scss/utilities";
@import "vendor/bootstrap/scss/reboot";
@import "vendor/bootstrap/scss/type";
@import "vendor/bootstrap/scss/images";
@import "vendor/bootstrap/scss/containers";
@import "vendor/bootstrap/scss/grid";
@import "vendor/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "vendor/bootstrap/scss/utilities/api";

@import "header.scss";
@import "navbar.scss";
@import "cookie-warning.scss";

.apos-popover {
  z-index: 10000 !important;
}

.row img {
  max-width: 100%;
}

body {
  max-width: 87.5rem;
  margin: 0 auto;
  background-color: var(--nlds-body-background-color, var(--nlds-default-background-color, #F0F4F8));
}

.utrecht-heading-1.utrecht-accordion__header {
  --utrecht-heading-1-line-height: 0;
}

// HACK: Dialog bug fix
body[data-apos-level] {
  padding: 0 !important;
  margin: 0 auto !important;
}

[data-apos-refreshable],
.bp-wrapper,
main {
  background: #fff;
}

.skip-link.utrecht-button-link.utrecht-button-link--html-a.utrecht-button-link--primary-action{
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;

  &:focus-visible{
    z-index: 99999999;
  }
}