
.osc-agenda {
  --icon-size: var(--setAgendaIconSize, var(--agendaIconSize, 20px));
  --padding-x: var(--setAgendaPaddingX, var(--agendaPaddingX, .8rem));
  --padding-y: var(--setAgendaPaddingY, var(--agendaPaddingY, .5rem));
  --padding: var(--padding-y) var(--padding-x);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--setAgendaGap, var(--agendaGap, 0.7rem));
  margin-top: var(--setAgendaMarginTop, var(--agendaMarginTop, 1rem));
}

.osc-agenda-item {
  background-color: var(--setAgendaItemBgColor, var(--agendaItemBgColor, var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8))));
  padding: var(--setAgendaItemPadding, var(--agendaItemPadding, var(--nlds-agenda-padding, var(--padding))));
  display: flex;
  position: relative;

}

.osc-agenda-item::before {
  content: '';
  width: var(--setAgendaLineWidth, var(--agendaLineWidth, 2px));
  background-color: var(--setAgendaLineColor, var(--agendaLineColor, var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color))));
  position: absolute;
  top: var(--setAgendaLineTop, var(--agendaLineTop, 1rem));
  height: calc(100% + var(--setAgendaLineHeightOffset, var(--agendaLineHeightOffset, 1rem)));
  left: calc((var(--icon-size) + var(--padding-x) - (var(--icon-size) / 2) - 1px));
  z-index: 1;
}

.osc-agenda-content {
  display: flex;
  flex-direction: column;
  gap: var(--setAgendaContentGap, var(--agendaContentGap, 0.3rem));
}

.osc-agenda-item.--active-item .osc-date-circle:before{
  content:'';
  width: calc(var(--icon-size) / 2);
  height: calc(var(--icon-size) / 2);
  border-radius: 50%;
  background-color: var(--setAgendaActiveDotColor, var(--agendaActiveDotColor, var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color))));
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
}

.osc-date-circle {
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--setAgendaCircleBgColor, var(--agendaCircleBgColor, var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8))));
  border: var(--setAgendaCircleBorderWidth, var(--agendaCircleBorderWidth, 2px)) solid var(--setAgendaCircleBorderColor, var(--agendaCircleBorderColor, var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color))));
  outline: var(--setAgendaCircleOutlineWidth, var(--agendaCircleOutlineWidth, 2px)) solid var(--setAgendaCircleOutlineColor, var(--agendaCircleOutlineColor, var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8))));
  border-radius: 50%;
  margin-right: var(--setAgendaCircleMarginRight, var(--agendaCircleMarginRight, 1rem));
  margin-top: var(--setAgendaCircleMarginTop, var(--agendaCircleMarginTop, 0.2rem));
  z-index: 2;
  position: relative;
  flex-shrink: 0;
}


/* The last item should not have a line extending down */
.osc-agenda > .osc-agenda-item:last-child::before,
.osc-agenda > .osc-agenda-item:has(+.utrecht-accordion__section)::before,
.osc-agenda > :nth-last-child(1 of .osc-agenda-item)::before,
.osc-agenda > .utrecht-accordion__section > .utrecht-accordion__panel > :nth-last-child(1 of .osc-agenda-item)::before {
  content: none;
}