
.osc-agenda-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.osc-agenda-item {
  background-color: var(--osc-card);
  color:var(--osc-muted);
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.osc-agenda-list {
  list-style-type: disc;
}
.osc-agenda-link {
  color:var(--osc-secondary);
  text-decoration: underline;
  margin-left: 1rem;
}