
.osc-agenda {
  --icon-size: 20px;
  --padding-x: .8rem;
  --padding-y: .5rem;
  --padding: var(--padding-y) var(--padding-x);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 1rem;
}

.osc-agenda-item {
  background-color: var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8));
  padding: var(--nlds-agenda-padding, var(--padding));
  display: flex;
  position: relative;

}

.osc-agenda-item::before {
  content: '';
  width: 2px;
  background-color: var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color));
  position: absolute;
  top: 1rem;
  height: calc(100% + 1rem);
  left: calc((var(--icon-size) + var(--padding-x) - (var(--icon-size) / 2) - 1px));
  z-index: 1;
}

.osc-agenda-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.osc-agenda-item.--active-item .osc-date-circle:before{
  content:'';
  width: calc(var(--icon-size) / 2);
  height: calc(var(--icon-size) / 2);
  border-radius: 50%;
  background-color: var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color));
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
}

.osc-date-circle {
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8));
  border: 2px solid var(--nlds-agenda-item-background-color, var(--utrecht-button-primary-action-background-color));
  outline: 2px solid var(--nlds-agenda-background-color,var(--nlds-default-background-color, #F0F4F8));
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 0.2rem;
  z-index: 2;
  position: relative;
  flex-shrink: 0;
}


/* The last item should not have a line extending down */
.osc-agenda > .osc-agenda-item:last-child::before {
  content: none;
}