{% extends 'layout-account.html' %}

{% block body %}
<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Openstad Account</h4>
    </div>
    <div class="column col-6">
      {% include 'elements/flash.html' %}
      <div class="card">
        <div class="card-body">
          <h5> Persoonlijke gegevens </h5>

          <form method="POST" action="/account" class="validate-form">
             <input type="hidden" name="_csrf" value="{{csrfToken}}" />
             <div class="form-group row">
               <label for="first-name">Email</label>
               <input
                 type="email"
                 id="email"
                 value="{{user.email}}"
                 name="email"
                 class="form-input"
                 required
               />
             </div>
            <div class="form-group row">
              <label for="first-name">Voornaam</label>
              <input
                type="text"
                name="firstName"
                id="first-name"
                value="{{user.firstName}}"
                class="form-input"
                required
              />
            </div>
            <div class="form-group row">
              <label for="last-name">Achternaam</label>
              <input
                type="text"
                name="lastName"
                id="last-name"
                value="{{user.lastName}}"
                class="form-input"
                required
              />
            </div>
            <div class="form-group row">
              <button type="submit" class="btn btn-primary pull-right">Bewaar</button>
            </div>
          </form>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body">
      <h5 class="margin-l-top margin-m-bottom"> Wachtwoord wijzigen </h5>

      <form method="POST" action="/password" class="validate-forma" >
         <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="form-group row">
            <label for="password">Huidig wachtwoord</label>
            <input type="password" name="password" id="password"  class="form-input">
        </div>
        <div class="form-group row">
            <label for="confirm">Nieuw wachtwoord</label>
            <input type="password" name="password_confirm" id="confirm"  class="form-input">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary pull-right">Bewaar</button>
        </div>
      </form>
      </div>
      </div>
      <br />

    </div>
    <div class="column col-6">
      <div class="info-box margin-m-hor">
        <div class="info-box-header">
          Wat is de privacy van mijn gegevens?
        </div>
        <div class="info-box-body">
          Er wordt discreet met je gegevens om gegaan.
          Alléén uw naam is publiekelijk zichtbaar bij uw reacties, plannen of aanvragen.
          De rest van de gegevens zijn alleen beschikbaar voor de beheerders van de gemeente
          en worden uitsluitend gebruikt om contact met u op te nemen wanneer nodig.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
