{% extends 'layouts/main.html' %}

{% block body %}
<div>
		<div class="upper-box card-body">
      {#<a href="{{ '/login?clientId='+clientId }}" class="backlink">
        Log opnieuw in
      </a>#}

			<h1 class="">
				{% if title %}
				 	{{title}}
				{% else %}
					E-mail verstuurd!
				{% endif %}
			</h1>
			<p class="intro">
				{% if description %}
					{{description}}
				{% else %}
				  Bekijk uw inbox om in te loggen.
          Het kan enkele minuten duren voor de e-mail verschijnt.
          <br /> <br />
          Geen mail gekregen na het versturen van de link?
          Kijk dan in uw spam-folder of <a href="/login?&clientId={{clientId}}&redirect_uri={{redirectUrl}}">probeer het opnieuw</a>.
          <br /> <br />
          Lukt het alsnog niet?
          <a href="mailto:{{clientEmail}}">Neem contact met ons op.</a>
				{% endif %}
	    </p>
      <br />

		</div>
		<br />
		<p>
			{% if helpText %}
				{{helpText | safe}}
			{% else %}

			{% endif %}
		</p>

</div>
{% endblock %}
