.osc-2-multi-select {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 6px;
}

.osc-2-multi-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 0rem;
}

.osc-2-multi-select-header > p{
   margin: 0 1rem;
}

.osc-2-multi-select-header > .osc-2-icon {
    font-weight: 100;
    gap: 0; 
}

.ocs-2-multi-select-item {
    padding: 0rem 1rem;
}

.ocs-2-multi-select-item:hover {
    background-color: var(--border);
}