.osc-2-multi-select {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 6px;
}

.osc-2-multi-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.ocs-2-multi-select-item {
    padding: 0rem 1rem;
}

.ocs-2-multi-select-item:hover {
    background-color: var(--border);
}