.osc .multi-select {
    background-color: var(--setMultiSelectBackground, var(--multiSelectBackground, var(--osc-background, #ffffff)));
}

.osc .multi-select button{
    width: 100%;
    justify-content: space-between;

    background-color: var(--setMultiSelectButtonBackground, var(--multiSelectButtonBackground, var(--utrecht-textbox-background-color, var(--utrecht-form-control-background-color))));
    block-size: initial;
    border-width: var(--setMultiSelectButtonBorderWidth, var(--multiSelectButtonBorderWidth, var(--utrecht-textbox-border-width, var(--utrecht-form-control-border-width))));
    border-block-end-width: var(--setMultiSelectButtonBorderBottomWidth, var(--multiSelectButtonBorderBottomWidth, var(--utrecht-textbox-border-bottom-width, var(--utrecht-textbox-border-width, var(--utrecht-form-control-border-width)))));
    border-color: var(--setMultiSelectButtonBorderColor, var(--multiSelectButtonBorderColor, var(--utrecht-textbox-border-color, var(--utrecht-form-control-border-color))));
    border-radius: var(--setMultiSelectButtonBorderRadius, var(--multiSelectButtonBorderRadius, var(--utrecht-textbox-border-radius, var(--utrecht-form-control-border-radius, 0))));
    border-style: solid;
    box-sizing: border-box;
    color: var(--setMultiSelectButtonColor, var(--multiSelectButtonColor, var(--utrecht-textbox-color, var(--utrecht-form-control-color))));
    font-family: var(--setMultiSelectButtonFontFamily, var(--multiSelectButtonFontFamily, var(--utrecht-textbox-font-family, var(--utrecht-form-control-font-family))));
    font-size: var(--setMultiSelectButtonFontSize, var(--multiSelectButtonFontSize, var(--utrecht-textbox-font-size, var(--utrecht-form-control-font-size, inherit))));
    font-weight: initial;
    inline-size: 100%;
    line-height: var(--setMultiSelectButtonLineHeight, var(--multiSelectButtonLineHeight, var(--utrecht-textbox-line-height, var(--utrecht-form-control-line-height, initial))));
    padding-block-end: var(--setMultiSelectButtonPaddingBlockEnd, var(--multiSelectButtonPaddingBlockEnd, var(--utrecht-textbox-padding-block-end, var(--utrecht-form-control-padding-block-end, 0))));
    padding-block-start: var(--setMultiSelectButtonPaddingBlockStart, var(--multiSelectButtonPaddingBlockStart, var(--utrecht-textbox-padding-block-start, var(--utrecht-form-control-padding-block-start, 0))));
    padding-inline-end: var(--setMultiSelectButtonPaddingInlineEnd, var(--multiSelectButtonPaddingInlineEnd, var(--utrecht-textbox-padding-inline-end, var(--utrecht-form-control-padding-inline-end, initial))));
    padding-inline-start: var(--setMultiSelectButtonPaddingInlineStart, var(--multiSelectButtonPaddingInlineStart, var(--utrecht-textbox-padding-inline-start, var(--utrecht-form-control-padding-inline-start, initial))));
    max-width: none;
    --utrecht-button-min-block-size: 38px;
    scale: 1 !important;
}
.osc .multi-select button .icon{
    height: 0;
}
.osc .multi-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--setMultiSelectHeaderPadding, var(--multiSelectHeaderPadding, 0.25rem 0rem));
}

.osc .multi-select-header > p{
   margin: var(--setMultiSelectHeaderPMargin, var(--multiSelectHeaderPMargin, 0 1rem));
   color: var(--setMultiSelectHeaderColor, var(--multiSelectHeaderColor, var(--osc-foreground, #010D0A)));
}

.osc .multi-select-header > .osc-icon {
    color: var(--setMultiSelectHeaderIconColor, var(--multiSelectHeaderIconColor, var(--osc-foreground, #010D0A)));
    font-weight: lighter;
    gap: 0;
}

.osc .multiselect-container{
    padding: var(--setMultiSelectContainerPadding, var(--multiSelectContainerPadding, 1rem));
    display: grid;
    grid-gap: var(--setMultiSelectContainerGap, var(--multiSelectContainerGap, 0.5rem));
}

.osc .multi-select{
    position: relative;
}

.osc .multi-select.multiselect-container--inline {
    background-color: transparent;
}

.osc .multi-select.multiselect-container--inline .multiselect-container {
    position: relative;
    background-color: transparent;
    padding: 0;
}

.osc .multi-select:not(.multiselect-container--inline) .multiselect-container {
    background: var(--setMultiSelectDropdownBackground, var(--multiSelectDropdownBackground, #fff));
    position: absolute;
    z-index: 999;
    width: 100%;
    max-height: 250px;
    overflow: auto;
    box-shadow: var(--setMultiSelectDropdownShadow, var(--multiSelectDropdownShadow, 0 0 6px hsl(0deg 0% 0% / 16.08%)));
}

.osc .multi-select .multiselect-container .utrecht-form-field__label--checkbox{
    display: flex;
}

.osc .multi-select .multiselect-container .utrecht-checkbox.utrecht-checkbox--html-input.utrecht-checkbox--custom {
    order: 0;
}