@import "mixin/amsterdam-vars";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ins {
  background-color: $color-lightyellow;
  color: $color-black;
  text-decoration: none;
}

mark {
  background-color: $color-lightyellow;
  color: $color-black;
  font-style: italic;
  font-weight: 600;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px solid $color-grey;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: verdana, sans-serif;
}

select,
input,
textarea,
button {
  font-family: sans-serif;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

ul,
ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul,
nav li {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

small {
  font-size: 85%;
}

strong,
th {
  font-weight: 700;
}

em {
  font-style: italic;
}

td {
  vertical-align: top;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

pre {
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

form.formulier div.selectie div.invoer div.antwoorden div.antwoord input[type="radio"] {
  vertical-align: top;
}

form.formulier div.selectie div.invoer div.antwoorden div.antwoord input[type="checkbox"] {
  vertical-align: top;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
}

a:link {
  -webkit-tap-highlight-color: $color-mediumgrey; // sass-lint:disable-line no-vendor-prefixes
}

button {
  overflow: visible;
  width: auto;
}

img {
  border-color: $color-black;
  border-style: solid;
}

.justprint {
  display: none;
}
