/*
 * Base styles that I'm changing for the web site.  This should only contain styles of default elements of the web
 * such as h1, body, etc...
 */


/**
 * Using some off white for the background color and
 * padding the top.
 */
body {
  background: #F3F3F3;
}

.header {
  background: white;
  padding: 10px;
}

.header--account {
  padding: 3px;
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar .navbar-brand .text {
  position: absolute;
  top: 15px;
  left: 35px;
  color: black;
  font-size: 15px;
}

.align-right {
  text-align: right;
}

.align-right > * {
  display: inline-block;
  margin: 0 5px;
}

.align-right > :last-child {
  margin-right: 0;
}

.toolbar {
  margin: 40px 0;
}

.form-input:not(:placeholder-shown):invalid {
  border: .05rem solid #bcc3ce;
}

.center-block {
  margin: 0 auto;
}

.small-container {
  margin: 0 auto;
  max-width: 300px;
}

.center-block > * {
  margin: 0 auto;
}

.mainlogo {
  position: relative;
  height: 56px;
  width: 130px;
}

.mainlogo .logoset img {
  border: 0;
  height: auto;
  left: auto;
  margin: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.mainlogo .logotexts {
  color: #EC0000;
  top: -3px;
  left: 27px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  position: absolute;
}

a:visited {
    color: #004699;
}

.form-input {
  font-size: 15px;
}

label.error {
  font-size: 11px;
  color: #ff5353;
}


.info-box .info-box-header {
  background-color: #e5e5e5;
  padding: 12px 15px;
  font-weight: 600;
  color: #000;
}
.info-box .info-box-body {
  padding: 15px;
  border-right: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  border-left: 3px solid #e5e5e5;
  background: #fff;
}
