
.osc .osc-imageselect {
  display: flex;
  justify-content: space-between;
  gap: var(--setImageSelectGap, var(--imageSelectGap, 0.5rem));
}

.osc .osc-imageselect p {
    color: var(--setImageSelectColor, var(--imageSelectColor, black)) !important;
  }

.osc .osc-imageselect-item {
    display: flex;
    flex-direction: column;
    background: var(--setImageSelectItemBackground, var(--imageSelectItemBackground, white));
    width: 50%;
    gap: var(--setImageSelectItemGap, var(--imageSelectItemGap, 0.5rem));
    padding: var(--setImageSelectItemPadding, var(--imageSelectItemPadding, 0.2rem));
    border-radius: var(--setImageSelectItemBorderRadius, var(--imageSelectItemBorderRadius, 4px));
    border: var(--setImageSelectItemBorder, var(--imageSelectItemBorder, 2px solid transparent));
    cursor: pointer;
  }

.osc .osc-imageselect-item-selected {
  border: var(--setImageSelectItemSelectedBorder, var(--imageSelectItemSelectedBorder, 2px solid var(--osc-secondary, #1471EF)));
}

input[type="radio"].osc-imageselect-radio  {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

.osc-imageselect-image {
    object-fit: cover;
    border-radius: var(--setImageSelectImageBorderRadius, var(--imageSelectImageBorderRadius, 0px));
}