:root {
    --osc-background:#ffffff;
    --osc-foreground: #010D0A;
    --osc-muted: #59636d;
    --osc-muted-foreground:#ffffff;
    --osc-card: #F0F4F8;
    --osc-card-dark:#DBDFE5;
    --osc-card-foreground:#010D0A;
    /* popover: */
    /* popover-foreground: */
    --osc-border: #A9B2BA;
    --osc-input: #ffffff;
    --osc-primary: #12B886;
    --osc-primary-hover: #009F6D;
    --osc-primary-foreground: #ffffff;
    --osc-secondary:#1471EF;
    --osc-secondary-hover: #0058D6;

    --osc-secondary-foreground:#ffffff;
    /* accent: */
 /* accent-foreground: */
    --osc-destructive: #962526;
    --osc-destructive-foreground:#ffffff;
    --osc-ring:#1471EF;
    --osc-radius: .25rem;
}

/* .osc, .osc * {
    font-family:'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
} */

/* .osc h1, .osc h2, .osc h3, .osc h4, .osc h5, .osc h6 {
    margin: 0;
    padding: 0;
} */

.osc figure {
    margin: 0;
}

/* .osc h1 {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: auto;
}

.osc h2  {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
} */

/* .osc h3 {
    font-size: 2.125rem;
    font-weight: bold;
    line-height: auto;
} */
/* .osc h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
} */

.osc p.strong {
    color: var(--osc-foreground, black);
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.osc p.helptext {
    margin: .5 0;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0px;
    text-align: left;
    color: var(--osc-muted);
}

.osc p.helptext > i {
    margin-right: .25rem;
}

.osc p.helptext.error {
    color: var(--osc-destructive);
}

.osc{
    /* --nlds-default-background-color: #F0F4F8; */
    /* --nlds-default-border-color: #A9B2BA; */

    /* --nlds-default-margin-block-start: 1rem; */
    /* --nlds-default-margin-block-end: 1rem; */

    /* --nlds-default-padding-block-start: 1rem; */
    /* --nlds-default-padding-block-end: 1rem; */
}
.osc .sr-only{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}
 
*:first-child { 
    --nlds-counter-margin-block-start: 0;
}

.--negative {
    margin-block-start: calc(var(--nlds-default-margin-block-start, 2rem) * -1);
  }

[lang="nl"] > *{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.document-download-container{
    background: var(--nlds-default-background-color, #F0F4F8);
    padding: 30px;
}