:root {
    --osc-background:#ffffff;
    --osc-foreground: #010D0A;
    --osc-muted: #768391;
    --osc-muted-foreground:#ffffff;
    --osc-card: #E9ECEF;
    --osc-card-foreground:#010D0A;
    /* popover: */
    /* popover-foreground: */
    --osc-border: #DBDFE5;
    --osc-input: #ffffff;
    --osc-primary: #12B886;
    --osc-primary-hover: #009F6D;
    --osc-primary-foreground: #ffffff;
    --osc-secondary:#1471EF;
    --osc-secondary-hover: #0058D6;

    --osc-secondary-foreground:#ffffff;
    /* accent: */
 /* accent-foreground: */
    --osc-destructive: #E8393B;
    --osc-destructive-foreground:#ffffff;
    --osc-ring:#1471EF;
    --osc-radius: .25rem;
}

.osc, .osc * {
    font-family:'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.osc h1, .osc h2, .osc h3, .osc h4, .osc h5, .osc h6 {
    color: var(--osc-foreground, black);
    margin: 0;
    padding: 0;
}

.osc figure {
    margin: 0;
}

.osc h1 {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: auto;
}

.osc h2  {
    font-size: 3rem;
    font-weight: bold;
    line-height: auto;
}

.osc h3 {
    font-size: 2.125rem;
    font-weight: bold;
    line-height: auto;
}
.osc h4 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: auto;
}
.osc h5 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: auto;
}

.osc h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.osc p { 
    color: var(--osc-muted, black);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
    text-align: left;
}

.osc p.strong {
    color: var(--osc-foreground, black);
    letter-spacing: 0px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.osc p.helptext {
    margin: .5 0;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0px;
    text-align: left;
    color: var(--osc-muted);
}

.osc p.helptext > i {
    margin-right: .25rem;
}

.osc p.helptext.error {
    color: var(--osc-destructive);
}