{% extends 'layouts/admin.html' %}

{% block toolbar %}
<div class="align-right">
  <a href="/admin/client" class="btn btn-primary"> Add new client </a>
</div>
{% endblock %}

{% block body %}
<div class="card">
<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      <tr>
          <td>
            {{client.name}}
          </td>
          <td>
            {{client.description}}
          </td>
          <td>
            <a href="/admin/client/{{client.id}}" target="_blank">
              Bewerken
            </a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
