<form
  method="post"
  action="/admin/client/{{client.id}}"
>
  <input type="hidden" name="_csrf" value="{{csrfToken}}" />

  <div class="form-group">
    <label> Name </label>
    <input
      type="text"
      required
      maxlength="60"
      name="name"
      class="form-input"
      {% if client %} value="{{client.name}}" {% endif %}
    />
  </div>

  <div class="form-group">
    <label> Site URL </label>
    <input
      type="text"
      required
      maxlength="60"
      name="siteUrl"
      class="form-input"
      {% if client %} value="{{client.siteUrl}}" {% endif %}
    />
  </div>
  <div class="form-group">
    <label> Redirect URL </label>
    <input
      type="text"
      required
      maxlength="60"
      name="redirectUrl"
      class="form-input"
      {% if client %} value="{{client.redirectUrl}}" {% endif %}
    />
  </div>
  <div class="form-group">
    <label> Description </label>
    <textarea
      required
      name="description"
      class="form-input"
      maxlength="244"
    >{{client.description}}</textarea>
  </div>
  {% if client %}
  <div class="form-group">
    <label> Client id </label>
    <input
      type="text"
      required
      class="form-input"
      disabled
      maxlength="60"
      {% if client %} value="{{client.clientId}}" {% endif %}
    />
  </div>
  <div class="form-group">
    <label> Client Secret</label>
    <input
      type="text"
      class="form-input"
      required
      disabled
      maxlength="60"
      {% if client %} value="{{client.clientSecret}}" {% endif %}
    />
  </div>
  {% endif %}

  <div class="form-group">
    <label> Authentication types </label> <br/>

    {% for authType in authTypes %}
    <label>
      <input
        type="checkbox"
        name="authTypes[]"
        value="{{authType.key}}"
        {% if (client) and (clientAuthTypes) and (clientAuthTypes.indexOf(authType.key)) >= 0 %} checked {% endif %}
      />
      {{authType.label}}
    </label>
    <br/>
    {% endfor %}
  </div>

  <div class="form-group">
    <label> Required fields </label><br/>
    {% for requiredField in requiredUserFields %}
    <label>
      <input
        type="checkbox"
        name="requiredUserFields[]"
        value="{{requiredField.key}}"
        {% if (client) and (clientRequiredUserFields) and (clientRequiredUserFields.indexOf(requiredField.key)) >= 0 %} checked {% endif %}
      />
       {{requiredField.label}}
    </label>
    <br/>
    {% endfor %}
  </div>



  <div class="form-group">
    <label> Exposed fields </label><br/>
    {% for exposedField in exposedUserFields %}
    <label>
      <input
        type="checkbox"
        name="exposedUserFields[]"
        value="{{exposedField.key}}"
        {% if (client) and (clientExposedUserFields) and (clientExposedUserFields.indexOf(exposedField.key)) >= 0 %} checked {% endif %}
      />
       {{exposedField.label}}
     </label>
    <br/>
    {% endfor %}
  </div>

  <button type="submit" class="btn btn-primary">
    Save
  </button>
</form>
<br />
<br />
