<form
  method="post"
  action="/admin/client/{{client.id}}"
>
  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
  <div class="form-group">
    <label> Name </label>
    <input
      type="text"
      required
      maxlength="60"
      class="form-input"
      {% if client %} value="{{client.name}}" {% endif %}
    />
  </div>
  <div class="form-group">
    <label> Description </label>
    <textarea
      required
      name="description"
      class="form-input"
      maxlength="244"
    >{{client.description}}</textarea>
  </div>
  {% if client %}
  <div class="form-group">
    <label> Client id </label>
    <input
      type="text"
      required
      class="form-input"
      disabled
      maxlength="60"
      {% if client %} value="{{client.clientId}}" {% endif %}
    />
  </div>
  <div class="form-group">
    <label> Client Secret</label>
    <input
      type="text"
      class="form-input"
      required
      disabled
      maxlength="60"
      {% if client %} value="{{client.clientSecret}}" {% endif %}
    />
  </div>
  {% endif %}

  <div class="form-group">
    <label> Authentication types </label>
    {% for authType in authTypes %}
    <label> {{authType.label}} <label>
    <input
      type="checkbox"
      name="required_field[]"
      value="{{authType.key}}"
    />
    {% endfor %}
  </div>

  <div class="form-group">
    <label> Required fields </label>
    {% for requiredField in requiredUserFields %}
    <label> {{requiredField.label}} <label>
    <input
      type="checkbox"
      name="required_field[]"
      value="{{requiredField.key}}"
    />
    {% endfor %}
  </div>



  <div class="form-group">
    <label> Exposed fields </label>
    {% for exposedField in exposedUserFields %}
    <label> {{exposedField.label}} <label>
    <input
      type="checkbox"
      name="required_field[]"
      value="{{authType.key}}"
    />
    {% endfor %}
  </div>

  <button type="submit">
    Save
  </button>
</form>
