@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.osc-DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1000;
}

.osc-DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 75vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  max-width: 82.5rem;
  overflow: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.osc-DialogContent > div {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.osc-DialogContent:focus {
  outline: none;
}

.osc-DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.osc-DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.osc-DialogContent > .osc-carousel > .carousel-button-container{
  position: absolute;
  display: flex;
  top: -36px;
  left: 0;
  flex-wrap: nowrap;
  gap: 10px;
}

.osc-DialogContent > .osc-carousel > .carousel-button-container .osc-carousel-previous,
.osc-DialogContent > .osc-carousel > .carousel-button-container .osc-carousel-next{
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  right: 0;
  left: 0;
}

.osc-DialogContent > .osc-carousel .carousel-button-container p{
  margin: 0;
}

.osc-DialogContent > div > button,
.osc-DialogContent > .osc-carousel .carousel-button-container button{
  aspect-ratio: 1;
  min-width: auto;
  min-height: auto;
  padding: 0;
  width: 36px;
  height: 36px;
}

.osc-DialogContent .carousel-items{
  padding-top: 10px;
}