[data-openstad-button]{
    margin-block-start: var(--setApostropheButtonMarginStart, var(--apostropheButtonMarginStart, var(--nlds-button-group-margin-block-start, var(--nlds-default-margin-block-start, 1.5rem));
    margin-block-end: var(--setApostropheButtonMarginEnd, var(--apostropheButtonMarginEnd, var(--nlds-button-group-margin-block-end, var(--nlds-default-margin-block-end, 0));
}