.sort-field-container {
    --setSortFieldTextColor: var(--sortFieldTextColor, var(--utrecht-document-color, #000));
    --setSortFieldFontSize: var(--sortFieldFontSize, var(--utrecht-form-label-font-size));
    --setSortFieldActiveBackground: var(--sortFieldActiveBackground, var(--nlds-enquete-background-color, var(--nlds-default-background-color, #F0F4F8)));
    --setSortFieldBorderColor: var(--sortFieldBorderColor, var(--nlds-enquete-border-color, var(--nlds-default-border-color, #D1D9E6)));
    --setSortFieldDragActiveBackgroundColor: var(--sortFieldDragActiveBackgroundColor, var(--utrecht-button-primary-action-background-color));
    --setSortFieldDragActiveColor: var(--sortFieldDragActiveColor, var(--utrecht-button-primary-action-color));
    --setSortFieldPadding: var(--sortFieldPadding, 12px);
    --setSortFieldGap: var(--sortFieldGap, 0.5rem);

    display: flex;
    flex-direction: column;
    gap: var(--setSortFieldGap);
    color: var(--setSortFieldTextColor);


    &.--none {
        ol {
            list-style: none;
            padding-left: 0;
        }
    }

    &.--decimal {
        ol {
            list-style: decimal;
            padding-left: var(--setSortFieldListPadding, var(--sortFieldListPadding, 32px));

            li {
                padding-left: var(--setSortFieldListItemPadding, var(--sortFieldListItemPadding, 10px));
            }
        }
    }

    &.--alphabetical {
        ol {
            list-style: lower-alpha;
            padding-left: var(--setSortFieldListPadding, var(--sortFieldListPadding, 32px));

            li {
                padding-left: var(--setSortFieldListItemPadding, var(--sortFieldListItemPadding, 10px));
            }
        }
    }

    &.--roman {
        ol {
            list-style: upper-roman;
            padding-left: var(--setSortFieldListPadding, var(--sortFieldListPadding, 32px));

            li {
                padding-left: var(--setSortFieldListItemPadding, var(--sortFieldListItemPadding, 10px));
            }
        }
    }


    .sortable-intro {
        margin-bottom: var(--setSortFieldIntroMarginBottom, var(--sortFieldIntroMarginBottom, 0.5rem));
    }

    .sortable-context {

        ol,
        ul {
            display: flex;
            flex-direction: column;
            gap: var(--setSortFieldSortableContextGap, var(--sortFieldSortableContextGap, 8px));
            margin: 0;
        }

        li>div {
            display: flex;
            align-items: center;
            gap: var(--setSortFieldPadding);
            background: var(--setSortFieldItemBackground, var(--sortFieldItemBackground, #ffffff));
            color: inherit;
            margin: 0;
            border: solid 1px var(--setSortFieldBorderColor);
            border-radius: var(--setSortFieldItemBorderRadius, var(--sortFieldItemBorderRadius, 3px));
            font-size: var(--setSortFieldFontSize);
            cursor: default;

            .ri-draggable {
                font-size: var(--setSortFieldDragIconFontSize, var(--sortFieldDragIconFontSize, 1.3rem));
                color: inherit;
                cursor: grab;
                padding: var(--setSortFieldPadding);
                display: block;
                transition: var(--setSortFieldDragIconTransition, var(--sortFieldDragIconTransition, color 0.2s ease-in-out));
            }

            span:has(.ri-draggable) {
                transition: var(--setSortFieldDragSpanTransition, var(--sortFieldDragSpanTransition, background 0.2s ease-in-out));
            }

            span:has(.ri-draggable:hover) {
                background: var(--setSortFieldDragActiveBackgroundColor);

                .ri-draggable {
                    color: var(--setSortFieldDragActiveColor);
                }
            }

            .sortable-item-title {
                flex-grow: 1;
                line-height: var(--setSortFieldItemTitleLineHeight, var(--sortFieldItemTitleLineHeight, 1));
            }

            div.sortable-item-actions {
                display: flex;
                gap: var(--setSortFieldItemActionsGap, var(--sortFieldItemActionsGap, 0.5rem));
                padding-right: var(--setSortFieldPadding);

                button {
                    background: none;
                    border: none;
                    color: inherit;
                    cursor: pointer;
                    padding: 0;
                    font-size: var(--setSortFieldButtonFontSize, var(--sortFieldButtonFontSize, 1.2rem));

                    &:hover {
                        color: var(--setSortFieldButtonHoverColor, var(--sortFieldButtonHoverColor, var(--utrecht-link-hover-color, #005EA2)));
                    }

                    &:disabled {
                        opacity: var(--setSortFieldButtonDisabledOpacity, var(--sortFieldButtonDisabledOpacity, 0.4));
                        cursor: not-allowed;
                    }
                }
            }


        }
    }
}