.sort-field-container {
  --sort-text-color: var(--utrecht-document-color, #000);
  --sort-font-size: var(--utrecht-form-label-font-size);
  --sort-active-background: var(
    --nlds-enquete-background-color,
    var(--nlds-default-background-color, #f0f4f8)
  );
  --sort-border-color: var(
    --nlds-enquete-border-color,
    var(--nlds-default-border-color, #d1d9e6)
  );
  --sort-drag-active-background-color: var(
    --utrecht-button-primary-action-background-color
  );
  --sort-drag-active-color: var(--utrecht-button-primary-action-color);
  --sort-padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--sort-text-color);
}
.sort-field-container.--none ol {
  list-style: none;
  padding-left: 0;
}
.sort-field-container.--decimal ol {
  list-style: decimal;
  padding-left: 32px;
}
.sort-field-container.--decimal ol li {
  padding-left: 10px;
}
.sort-field-container.--alphabetical ol {
  list-style: lower-alpha;
  padding-left: 32px;
}
.sort-field-container.--alphabetical ol li {
  padding-left: 10px;
}
.sort-field-container.--roman ol {
  list-style: upper-roman;
  padding-left: 32px;
}
.sort-field-container.--roman ol li {
  padding-left: 10px;
}
.sort-field-container .sortable-intro {
  margin-bottom: 0.5rem;
}
.sort-field-container .sortable-context ol,
.sort-field-container .sortable-context ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}
.sort-field-container .sortable-context li > div {
  display: flex;
  align-items: center;
  gap: var(--sort-padding);
  background: #fff;
  color: inherit;
  margin: 0;
  border: solid 1px var(--sort-border-color);
  border-radius: 3px;
  font-size: var(--sort-font-size);
  cursor: default;
}
.sort-field-container .sortable-context li > div .ri-draggable {
  font-size: 1.3rem;
  color: inherit;
  cursor: grab;
  padding: var(--sort-padding);
  display: block;
  transition: color 0.2s ease-in-out;
}
.sort-field-container .sortable-context li > div span:has(.ri-draggable) {
  touch-action: none;
  transition: background 0.2s ease-in-out;
}
.sort-field-container .sortable-context li > div span:has(.ri-draggable:hover) {
  background: var(--sort-drag-active-background-color);
}
.sort-field-container
  .sortable-context
  li
  > div
  span:has(.ri-draggable:hover)
  .ri-draggable {
  color: var(--sort-drag-active-color);
}
.sort-field-container .sortable-context li > div .sortable-item-title {
  flex-grow: 1;
  line-height: 1;
}
.sort-field-container .sortable-context li > div div.sortable-item-actions {
  display: flex;
  gap: 0.5rem;
  padding-right: var(--sort-padding);
}
.sort-field-container
  .sortable-context
  li
  > div
  div.sortable-item-actions
  button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
}
.sort-field-container
  .sortable-context
  li
  > div
  div.sortable-item-actions
  button:hover {
  color: var(--utrecht-link-hover-color, #005ea2);
}
.sort-field-container
  .sortable-context
  li
  > div
  div.sortable-item-actions
  button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
