
.osc .image-container {
    border-radius: var(--setImageBorderRadius, var(--imageBorderRadius, 4px));
    box-sizing: border-box;
    position: relative;
    overflow: clip;
    background: var(--setImageBackground, var(--imageBackground, #212529));
}

.osc .image-container.selected {
    border: var(--setImageSelectedBorder, var(--imageSelectedBorder, 4px solid var(--osc-primary, #12B886)));
}

.osc .image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.osc .image-container > .osc-image-footer {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    gap: var(--setImageFooterGap, var(--imageFooterGap, 1rem));
    box-sizing: border-box;
    background: var(--setImageFooterBackground, var(--imageFooterBackground, var(--osc-primary, #12B886)));
    color: var(--setImageFooterColor, var(--imageFooterColor, var(--osc-primary-foreground, #ffffff)));
}

.osc .image-container > .osc-image-footer p{
    color: inherit;
    padding: var(--setImageFooterPadding, var(--imageFooterPadding, 1rem 1rem));
}

.osc .image-container > .osc-image-header {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    gap: var(--setImageHeaderGap, var(--imageHeaderGap, 1rem));
    box-sizing: border-box;
    padding: var(--setImageHeaderPadding, var(--imageHeaderPadding, 0.5rem 0.5rem));
}

.osc .osc-image-footer > * {
    flex-grow: 1;
}



.osc.osc-resource-detail-column-container .carousel-button-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.osc.osc-resource-detail-column-container .carousel-button-container .osc-carousel-navigation-button-wrapper{
    top: 50%;
    transform: translateY(-50%);
}