
.osc .image-container {
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow: clip;
    background: #212529;

}

.osc .image-container.selected {
    border: 4px solid var(--osc-primary);
}

.osc .image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.osc .image-container > .osc-image-footer {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    gap: 1rem;
    box-sizing: border-box;
    background: var(--nlds-figcaption-background-color, var(--utrecht-button-primary-action-background-color));
    color: var(--nlds-figcaption-color, var(--utrecht-button-primary-action-color));    
}

.osc .image-container > .osc-image-footer p{
    color: inherit;
    padding: 1rem 1rem;
}

.osc .image-container > .osc-image-header {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    gap: 1rem;
    box-sizing: border-box;
    padding: .5rem .5rem;
}

.osc .osc-image-footer > * {
    flex-grow: 1;
}



.osc.osc-resource-detail-column-container .carousel-button-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.osc.osc-resource-detail-column-container .carousel-button-container .osc-carousel-navigation-button-wrapper{
    top: 50%;
    transform: translateY(-50%);
}