.form-container {
  display: flex;
  justify-content: space-between;
  max-width: 40vw;
  flex-direction: column;
}

.form-container > div{
  background-color: var(--osc-background);
  color: var(--osc-card-foreground);
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container > div:nth-child(even){
  background-color: var(--osc-card);
}

.form-container textarea {
  border-radius: 4px;
}

.form-container figure img {
  max-height: 15rem;
  object-fit: cover;
}

.form-container-checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding-left: 0.2rem;
}

.utrecht-textarea {
  border-radius: 4px;
  border: 1px solid var(--osc-border);
  padding: 0.5rem;
  background-color: white;
  width: 100%;
}

.utrecht-textarea:disabled {
  background-color: white;
  cursor: not-allowed;
}

.form-container-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--osc-card);
  border: 1px solid var(--osc-foreground);
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
}

.form-container-checkbox-container p {
  margin: 0;
}

.form-container-checkbox:checked {
  background-color: var(--osc-secondary);
  border-color: var(--osc-secondary);
}

.osc .utrecht-radio-button,
.osc .utrecht-checkbox {
  width: initial;
  border: none;
  margin-right: 7px;
}

.osc-enquete-item-content button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--osc-secondary);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.osc-enquete-item-content button[type="submit"]:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.osc-enquete-item-content button[type="submit"]:hover {
  background-color: var(--osc-secondary-hover);
}

.osc-enquete-item-content .range-slider-labels {
  display: flex;
  justify-content: space-between;
}

.question-type-imageChoice .image-choice-container {
  display: flex;
  gap: 1rem;
}

.question-type-imageChoice .image-choice-container > * {
  flex: 1;
}