{% if data.cookieConsent and data.global.tagmanager %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{data.global.tagmanager}}" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager -->
{% endif %}
{% if data.user %}
<!-- be sure to somehow safeguard against non-editor situations, as performance could unnecessarily suffer -->
{{ palette.palette(data.global, 'palette') }}
{% endif %}
{% if not (data.query.layout === 'none') %}
{% if data.global.logoLink %}
{% set logoLink = data.global.logoLink %}
{% else %}
{% set logoLink = appUrl %}
{% endif %}

{% if data.global.iconTheme %}
{% set iconTheme = '-' + data.global.iconTheme %}
{% endif %}
{{ apos.cookieWarning.renderCookieWarning() | safe }}