.utrecht-accordion__button {
    position: relative;
    padding-right: var(--setAccordionButtonPaddingRight, var(--accordionButtonPaddingRight, 2rem));
}

.utrecht-accordion__button::before {
    content: '';
    position: absolute;
    right: var(--setAccordionButtonBeforeRight, var(--accordionButtonBeforeRight, 1rem));
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: var(--setAccordionButtonBeforeSize, var(--accordionButtonBeforeSize, 0.5rem));
    height: var(--setAccordionButtonBeforeSize, var(--accordionButtonBeforeSize, 0.5rem));
    border-style: solid;
    border-width: var(--setAccordionButtonBorderWidth, var(--accordionButtonBorderWidth, 0.15em 0.15em 0 0));
    transform-origin: center;
    display: inline-block;
    transition: var(--setAccordionButtonTransition, var(--accordionButtonTransition, transform 0.3s ease));
}

.utrecht-accordion__button[aria-expanded="true"]::before {
    transform: translateY(-50%) rotate(-45deg);
}

figure.info-image-container {
    aspect-ratio: unset;
}

.button-group {
    display: var(--setButtonGroupDisplay, var(--buttonGroupDisplay, flex));
    gap: var(--setButtonGroupGap, var(--buttonGroupGap, 1rem));
}


html body .question .marginTop10.marginBottom15 {
    margin-top: var(--setQuestionMarginTop, var(--questionMarginTop, 10px));
    margin-bottom: var(--setQuestionMarginBottom, var(--questionMarginBottom, 15px));
}

.utrecht-form-field.utrecht-form-field--checkbox .utrecht-form-label--checkbox .utrecht-checkbox--custom.utrecht-checkbox--html-input:disabled {
    background-color: var(--utrecht-checkbox-disabled-background-color, var(--utrecht-checkbox-background-color));
    border-color: var(--utrecht-checkbox-disabled-border-color, var(--utrecht-checkbox-border-color));
    border-width: var(--utrecht-checkbox-disabled-border-width, var(--utrecht-checkbox-border-width));
    cursor: var(--utrecht-action-disabled-cursor, not-allowed);
    background-image: var(--utrecht-checkbox-disabled-background-image, none);
}

.form-fieldCounter {
    list-style: none;
    padding: 0;
    margin: 0;
    display: var(--setFormFieldCounterDisplay, var(--formFieldCounterDisplay, flex));
    gap: var(--setFormFieldCounterGap, var(--formFieldCounterGap, 8px));
    position: absolute;
    z-index: var(--setFormFieldCounterZIndex, var(--formFieldCounterZIndex, 9999));
    height: var(--setFormFieldCounterHeight, var(--formFieldCounterHeight, 4px));
    inset: var(--setFormFieldCounterInset, var(--formFieldCounterInset, 20px 20px auto 20px));

    li {
        width: 100%;
        height: var(--setFormFieldCounterLiHeight, var(--formFieldCounterLiHeight, 4px));
        background: var(--setFormFieldCounterLiBackground, var(--formFieldCounterLiBackground, rgba(0, 0, 0, 0.05)));
        border-radius: var(--setFormFieldCounterLiBorderRadius, var(--formFieldCounterLiBorderRadius, 2px));
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            background: var(--setFormFieldCounterLiBeforeBackground, var(--formFieldCounterLiBeforeBackground, rgba(0, 0, 0, 0.5)));

            position: absolute;
            inset: var(--setFormFieldCounterLiBeforeInsetDefault, var(--formFieldCounterLiBeforeInsetDefault, 0 100% 0 0));
            transition: var(--setFormFieldCounterLiBeforeTransition, var(--formFieldCounterLiBeforeTransition, all 0.3s ease));
        }

        &:has(~.--active),
        &.--active {
            &:before {
                inset: var(--setFormFieldCounterLiBeforeInsetActive, var(--formFieldCounterLiBeforeInsetActive, 0 0 0 0));
            }
        }
    }
}