.osc-raw-resource-container {
  display: var(--setRawResourceDisplay, var(--rawResourceDisplay, flex));
  flex-direction: var(--setRawResourceFlexDirection, var(--rawResourceFlexDirection, column));
}
