$background:#E9ECEF;
// $foreground:
// $muted:
// $muted-foreground:
// $card:
// $card-foreground:
// $popover:
// $popover-foreground:
$border: #DBDFE5;
$input: #DBDFE5;
$primary: #12B886;
// $primary-foreground:
// $secondary:
// $secondary-foreground:
// $accent:
// $accent-foreground:
$destructive: #E8393B;
// $destructive-foreground:
// $ring:
// $radius:






