.osc-pill {
    padding: var(--setPillPadding, var(--pillPadding, 0.25rem 1rem));
    background-color: var(--setPillBackground, var(--pillBackground, var(--osc-muted, #59636d)));
    color: var(--setPillColor, var(--pillColor, var(--osc-muted-foreground, #ffffff)));
    border-radius: var(--setPillBorderRadius, var(--pillBorderRadius, 0.125rem));
}

.osc-pill-rounded {
    border-radius: var(--setPillRoundedBorderRadius, var(--pillRoundedBorderRadius, 1rem));
}

.osc-pill-light {
    background-color: var(--setPillLightBackground, var(--pillLightBackground, var(--osc-card-dark, #DBDFE5)));
    color: var(--setPillLightColor, var(--pillLightColor, var(--osc-foreground, #010D0A)));
}

.osc-pill > p {
    text-align: center;
}