$widgetContainerBg: #E9ECEF;
$backgroundItemColor: #FFFFFF;
$titleTextColor: #000000;
$textColor: #667085;

$progressBarColor: #e0e0de;
$progressTrackerColor: #12B886;
$progressTextColor: #000000;



#like-widget-container {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  display: grid;
  color: $textColor;
  margin: 0px;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  background-color: $widgetContainerBg;
}

.like-widget-title {
  margin: 0;
  color:$titleTextColor;
}

.like-option {
  display: grid;
  grid-template-columns: 1fr 4rem;
  gap: 2px;
  font-weight: 600;
}

.like-kind {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  padding: 8px;
  align-items: center;
  background-color: $backgroundItemColor;
}

.like-counter {
  padding: 8px 16px;
  background-color: $backgroundItemColor;
}

p {margin: 0;}



.progressbar-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
  color: $progressTextColor;
  
  p {
    font-size: 14px;
  }
}

.progressbar {
    height: 8px;
    width: 100%;
    background-color: $progressBarColor;
    border-radius: 50px;
    overflow-x: hidden;
  }
  
  .progressbar-tracker {
    height: 100%;
    background-color: $progressTrackerColor;
    border-radius: inherit;
  }

  .progressbar-counter {
    font-weight: 600;
    text-align: center;
  }