.like-widget-container {
  display: grid;
  margin: 0;
  padding: 1.5rem;
  gap: .5rem;
  background-color: var(--osc-card);
  color: var(--osc-muted);
}

.like-option-container {
  display: grid;
  gap: .5rem;
}

.like-widget-container.medium .like-option-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.like-widget-title {
  margin: 0;
  color: var(--osc-foreground);
}

.like-option {
  display: grid;
  grid-template-columns: 1fr 4rem;
  gap: .125rem;
  font-weight: 600;
  border: 1px solid transparent;
}

.like-option.selected *{
  background-color: var(--osc-primary);
  color: var(--osc-primary-foreground);
}

.like-option:hover {
  border-color: var(--osc-border);
  transition: border-color .3s;
}

.like-option:hover {
  border: 1px solid var(--osc-border);
}

.like-kind:hover {
  cursor: pointer;
}

.like-option .osc-like-variant-label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--osc-muted);
}

.like-option.selected .osc-like-variant-label {
  color: var(--osc-primary-foreground);
}

.like-option:hover .osc-like-variant-label {
  text-decoration: underline;
}

.like-option.osc-no-counter {
  grid-template-columns: 1fr;
} 

.like-widget-container.small .like-option {
  grid-template-columns: 1fr 1fr;
  gap: .125rem;
}

.like-widget-container.small .like-option.osc-no-counter {
  grid-template-columns: 1fr;
  gap: .125rem;
}

.like-kind {
  display: flex;
  flex-grow: 1;
  gap: .5rem;
  padding: .5rem;
  align-items: center;
  background-color: var(--osc-input);
}

.like-widget-container.small .like-option > .like-kind {
  justify-content: center;
  align-items: center;
}

.like-counter {
  padding: .5rem 1rem;
  background-color: var(--osc-input);
}

.progressbar-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: .5rem;  
}

.progressbar-container p {
  font-size: 0.875rem;
}

.osc .like-widget-container p {
  text-align: center;
  margin: 0;
}
