#like-widget-container {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  display: grid;
  color: var(--muted);
  margin: 0;
  flex-direction: column;
  gap: .5rem;
  padding: 1.5rem;
  background-color: var(--card);
}

.like-widget-title {
  margin: 0;
  color: var(--foreground);
}

.like-option {
  display: grid;
  grid-template-columns: 1fr 4rem;
  gap: .125rem;
  font-weight: 600;
}

.like-kind {
  display: flex;
  flex-grow: 1;
  gap: .5rem;
  padding: .5rem;
  align-items: center;
  background-color: var(--input);
}

.like-counter {
  padding: .5rem 1rem;
  background-color: var(--input);
}

p {margin: 0;}



.progressbar-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: .5rem;  
  p {
    font-size: 0.875rem;
  }
}

.progressbar {
    height: .5rem;
    width: 100%;
    background-color: var(--border);
    border-radius: 50px;
    overflow-x: hidden;
  }
  
  .progressbar-tracker {
    height: 100%;
    background-color: var(--primary);
    border-radius: inherit;
  }

  .progressbar-counter {
    font-weight: 600;
    text-align: center;
    color: var(--foreground)
  }