.osc button {
    padding: 0.625rem 3rem 0.625rem 3rem;
    border: none;
    border-radius: 0.375rem;
    gap: .5rem;
    background-color: var(--osc-primary);
    color: var(--osc-primary-foreground);
    text-align: center;
}

.osc button.secondary {
    background-color: var(--osc-secondary);
}

.osc button.ghost {
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border: none;
    background-color: var(--osc-background);
    color: var(--osc-foreground)
}

.osc button > i {
    font-size: 1.5rem;
}

.osc button:hover {
    background-color: var(--osc-primary-hover);
}

.osc button.secondary:hover {
    background-color: var(--osc-secondary-hover);
}

.osc button.ghost:hover {
    color: var(--osc-muted);
    background-color: var(--osc-background);
}

.osc button:disabled {
    opacity: .5;
    cursor: not-allowed;
}