.osc .osc-button {
    padding: 0.625rem 3rem 0.625rem 3rem;
    border: none;
    border-radius: 0.375rem;
    gap: .5rem;
    background-color: var(--osc-primary);
    color: var(--osc-primary-foreground);
    text-align: center;
}

.osc .osc-button.osc-secondary {
    background-color: var(--osc-secondary);
}

.osc .osc-button.ghost {
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border: none;
    background-color: var(--osc-background);
    color: var(--osc-foreground);
    cursor: pointer;
}

.osc .osc-button.osc-plain {
    background-color: var(--osc-background);
    border: 1px solid var(--osc-border);
    color: var(--osc-muted);
}

.osc .osc-button.ghost.active i{
    color: var(--osc-primary);
}

.osc .osc-button > i {
    font-size: 1.5rem;
}

.osc .osc-button:hover {
    background-color: var(--osc-primary-hover);
}

.osc .osc-button.osc-secondary:hover {
    background-color: var(--osc-secondary-hover);
}

.osc .osc-button.ghost:hover {
    color: var(--osc-muted);
    background-color: var(--osc-background);
}

.osc .osc-button.osc-plain:hover {
    color: var(--osc-foreground);
    background-color: var(--osc-background);
}

.osc .osc-button:disabled {
    opacity: .5;
    cursor: not-allowed;
}