button.osc {
    padding: 0.625rem 3rem 0.625rem 3rem;
    border: none;
    border-radius: 0.375rem;
    gap: .5rem;
    background-color: var(--osc-primary);
    color: var(--osc-primary-foreground);
    text-align: center;
}

button.osc.secondary {
    background-color: var(--osc-secondary);
}

button.osc.ghost {
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border: none;
    background-color: var(--osc-background);
    color: var(--osc-foreground)
}

button.osc > i {
    font-size: 1.5rem;
}

button.osc:hover {
    background-color: var(--osc-primary-hover);
}

button.osc.secondary:hover {
    background-color: var(--osc-secondary-hover);
}

button.osc.ghost:hover {
    color: var(--osc-muted);
    background-color: var(--osc-background);
}

button.osc:disabled {
    opacity: .5;
    cursor: not-allowed;
}