<section
  class="related-posts section{% if data.widget.enableCarousel %} carousel-enabled{% endif %}">
  <h2 class="utrecht-heading-2 related-post-heading">
    {{ data.widget.title }}
  </h2>

  {% if data.widget.enableCarousel %}
  <div class="carousel-controls">
    <button
      class="utrecht-button osc-icon-button carousel-prev"
      data-carousel-prev
      aria-label="Vorige berichten">
      <span></span>
    </button>
    <button
      class="utrecht-button osc-icon-button carousel-next"
      data-carousel-next
      aria-label="Volgende berichten">
      <span></span>
    </button>
  </div>
  {% endif %}

  <div
    class="carousel-container{% if not data.widget.enableCarousel %} static-grid{% endif %}">
    <ul
      class="{% if data.widget.enableCarousel %}carousel-track{% else %}static-list{% endif %}"
      {%
      if
      data.widget.enableCarousel
      %}
      data-carousel-track
      data-items-visible="{{ data.widget.carouselItemsVisible or '3' }}"
      {%
      endif
      %}>
      {% for post in data.widget.relatedPosts %}
      <li>
        <div
          class="news-card{% if loop.first and data.widget.highlightedPost and data.widget.highlightedPost.length > 0 %} --highlight{% endif %}">
          {% if post.image %}
          <figure>
            <img
              src="{{ apos.attachment.url(post.image) }}"
              alt="{{ post.image.title or post.title }}" />
          </figure>
          {% endif %}
          <div class="card-content">
            <div class="date">{{ post.publishedAt | date('MMMM D, YYYY')}}</div>
            <h3 class="utrecht-heading-4">{{ post.title }}</h3>
            <p class="utrecht-paragraph">{{ post.summary | truncate(150) }}</p>

            <a
              href="{{ post._url }}"
              class="read-more"
              title="Lees meer over {{ post.title }}"
              aria-label="Lees meer over {{ post.title }}">
              <span>Lees meer over {{ post.title }}</span>
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% if data.widget.enableCarousel %}
    <div class="carousel-dots" data-carousel-dots></div>
    {% endif %}
  </div>
</section>
