.osc-choiceguide-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .osc-choiceguide-container {
    grid-template-columns: 1fr;
  }

  .osc-choiceguide-container .osc-choiceguide-form {
    grid-row: 1;
  }
  .osc-choiceguide-container .osc-choiceguide-sidebar-container {
    grid-row: 2;
    position: relative;
  }
}

figure.info-image-container {
  max-height: 300px;
}

#choice-plane {
  position: relative;
  width: 100%;
  height: auto;
}

#choice-plane .osc-point {
  position: absolute;
  top: 50px;
  left: 50px;
  margin: -11px 0 0 -11px;
  width: 20px;
  height: 20px;
  border: 10px solid var(--utrecht-button-primary-action-background-color, #bed200);
  border-radius: 10px;
}

#choice-plane .osc-choice-plane {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  display: inline-block;
}

#choice-plane .osc-choice-plane-background-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.osc-choiceguide-container {
  position: relative;
}

.osc-choiceguide-sidebar-container {
  position: sticky;
  top: 1rem;
  width: 100%;
  align-self: start;
  min-width: 200px;
}

.osc-choices-container {
  position: relative;
  z-index: 50;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .osc-choices-container {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
  }

  .osc-choices-container.sticky {
    top: 0px;
    box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.1);
  }
}

.osc-choices-container.sticky {
  position: fixed;
  top: 10px;
  box-shadow: none;
}

.osc-choices-container h4 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.osc-choices {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 2px solid #e5e5e5;
}

.osc-choices li {
  margin: 0;
  padding: 12px 10px 15px 10px;
}
.osc-choices li + li {
  border-top: 2px solid #e5e5e5;
}

.osc-choice .osc-minmax-labels {
  position: relative;
  width: 100%;
  margin-top: 3px;
  font-weight: 500;
  overflow: hidden;
}

.osc-choice .osc-min-label {
  float: left;
}

.osc-choice .osc-max-label {
  float: right;
}

.osc-choice-default .osc-choice-bar {
  position: relative;
  height: 14px;
  width: 100%;
  margin-top: 0px;
  background-color: #e5e5e5;
  border-radius: 7px;
  overflow: hidden;
}

.osc-choice-default .osc-choice-bar-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  background-color: var(--utrecht-button-primary-action-background-color, #bed200);
  border-top-left-radius: 7px;
}

.osc-choice-default .osc-choice-bar.osc-from-center::after {
  position: absolute;
  top: -2px;
  left: 50%;
  width: 1px;
  height: 18px;
  background-color: #767676;
  content: '';
}

.osc-choice-default .osc-choice-bar.osc-with-percentage {
  width: calc(100% - 55px);
  float: left;
}

.osc-choice-default .osc-percentage {
  float: left;
  width: 55px;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  color: black;
}

.osc .osc-choiceguide-container .question-type-range + .question-type-range {
  margin-top: 2rem;
}
.osc .osc-choiceguide-container .question-type-range {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin: 0;
  margin-bottom: 2rem;
}
.osc .osc-choiceguide-container .question-type-range .a-b-slider-container {
  max-width: unset;
}
.osc .osc-choiceguide-container .question-type-range .a-b-info-container {
  display: grid;
  margin-top: 1rem;
}
.osc .osc-choiceguide-container .question-type-range .label-b {
  text-align: revert;
}
.osc .osc-choiceguide-container .question-type-range .a-b-title .a-b-info {
  display: flex;
  gap: 1rem;
}
.osc
  .osc-choiceguide-container
  .question-type-range
  .a-b-label-container
  .label {
  font-weight: bold;
}
.osc
  .osc-choiceguide-container
  .question-type-range
  input[type='range'].a-to-b-range {
  margin-top: 2rem;
}

.osc
  .osc-choiceguide-container
  .question-type-range
  input[type='range'].a-to-b-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  width: 35px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><title>Layer 1</title><circle id="svg_1" stroke-width="2" stroke="rgba(20,113,239,1)" fill="rgba(20,113,239,1)" r="11" cy="12" cx="11.93554"/><path stroke="null" id="svg_2" fill="white" d="m9.3966,6.53503l-5.46488,5.46493l5.46488,5.46488l1.24515,-1.24518l-4.21982,-4.2197l4.21982,-4.21982l-1.24515,-1.24511zm5.20679,10.9299l5.46488,-5.46488l-5.46488,-5.46488l-1.24518,1.24511l4.21979,4.21978l-4.21979,4.21979l1.24518,1.2451z"/></g></svg>');
  background-size: cover;
}

/* Thumb: Firefox */
.osc
  .osc-choiceguide-container
  .question-type-range
  input[type='range'].a-to-b-range::-moz-range-thumb {
  height: 35px;
  width: 35px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><title>Layer 1</title><circle id="svg_1" stroke-width="2" stroke="rgba(20,113,239,1)" fill="rgba(20,113,239,1)" r="11" cy="12" cx="11.93554"/><path stroke="null" id="svg_2" fill="white" d="m9.3966,6.53503l-5.46488,5.46493l5.46488,5.46488l1.24515,-1.24518l-4.21982,-4.2197l4.21982,-4.21982l-1.24515,-1.24511zm5.20679,10.9299l5.46488,-5.46488l-5.46488,-5.46488l-1.24518,1.24511l4.21979,4.21978l-4.21979,4.21979l1.24518,1.2451z"/></g></svg>');
  background-size: cover;
  /*  rotate thumb  */
}

.osc-choice-default .osc-choice-bar-progress[data-score="0"] {width: 0%;}
.osc-choice-default .osc-choice-bar-progress[data-score="1"] {width: 1%;}
.osc-choice-default .osc-choice-bar-progress[data-score="2"] {width: 2%;}
.osc-choice-default .osc-choice-bar-progress[data-score="3"] {width: 3%;}
.osc-choice-default .osc-choice-bar-progress[data-score="4"] {width: 4%;}
.osc-choice-default .osc-choice-bar-progress[data-score="5"] {width: 5%;}
.osc-choice-default .osc-choice-bar-progress[data-score="6"] {width: 6%;}
.osc-choice-default .osc-choice-bar-progress[data-score="7"] {width: 7%;}
.osc-choice-default .osc-choice-bar-progress[data-score="8"] {width: 8%;}
.osc-choice-default .osc-choice-bar-progress[data-score="9"] {width: 9%;}
.osc-choice-default .osc-choice-bar-progress[data-score="10"] {width: 10%;}
.osc-choice-default .osc-choice-bar-progress[data-score="11"] {width: 11%;}
.osc-choice-default .osc-choice-bar-progress[data-score="12"] {width: 12%;}
.osc-choice-default .osc-choice-bar-progress[data-score="13"] {width: 13%;}
.osc-choice-default .osc-choice-bar-progress[data-score="14"] {width: 14%;}
.osc-choice-default .osc-choice-bar-progress[data-score="15"] {width: 15%;}
.osc-choice-default .osc-choice-bar-progress[data-score="16"] {width: 16%;}
.osc-choice-default .osc-choice-bar-progress[data-score="17"] {width: 17%;}
.osc-choice-default .osc-choice-bar-progress[data-score="18"] {width: 18%;}
.osc-choice-default .osc-choice-bar-progress[data-score="19"] {width: 19%;}
.osc-choice-default .osc-choice-bar-progress[data-score="20"] {width: 20%;}
.osc-choice-default .osc-choice-bar-progress[data-score="21"] {width: 21%;}
.osc-choice-default .osc-choice-bar-progress[data-score="22"] {width: 22%;}
.osc-choice-default .osc-choice-bar-progress[data-score="23"] {width: 23%;}
.osc-choice-default .osc-choice-bar-progress[data-score="24"] {width: 24%;}
.osc-choice-default .osc-choice-bar-progress[data-score="25"] {width: 25%;}
.osc-choice-default .osc-choice-bar-progress[data-score="26"] {width: 26%;}
.osc-choice-default .osc-choice-bar-progress[data-score="27"] {width: 27%;}
.osc-choice-default .osc-choice-bar-progress[data-score="28"] {width: 28%;}
.osc-choice-default .osc-choice-bar-progress[data-score="29"] {width: 29%;}
.osc-choice-default .osc-choice-bar-progress[data-score="30"] {width: 30%;}
.osc-choice-default .osc-choice-bar-progress[data-score="31"] {width: 31%;}
.osc-choice-default .osc-choice-bar-progress[data-score="32"] {width: 32%;}
.osc-choice-default .osc-choice-bar-progress[data-score="33"] {width: 33%;}
.osc-choice-default .osc-choice-bar-progress[data-score="34"] {width: 34%;}
.osc-choice-default .osc-choice-bar-progress[data-score="35"] {width: 35%;}
.osc-choice-default .osc-choice-bar-progress[data-score="36"] {width: 36%;}
.osc-choice-default .osc-choice-bar-progress[data-score="37"] {width: 37%;}
.osc-choice-default .osc-choice-bar-progress[data-score="38"] {width: 38%;}
.osc-choice-default .osc-choice-bar-progress[data-score="39"] {width: 39%;}
.osc-choice-default .osc-choice-bar-progress[data-score="40"] {width: 40%;}
.osc-choice-default .osc-choice-bar-progress[data-score="41"] {width: 41%;}
.osc-choice-default .osc-choice-bar-progress[data-score="42"] {width: 42%;}
.osc-choice-default .osc-choice-bar-progress[data-score="43"] {width: 43%;}
.osc-choice-default .osc-choice-bar-progress[data-score="44"] {width: 44%;}
.osc-choice-default .osc-choice-bar-progress[data-score="45"] {width: 45%;}
.osc-choice-default .osc-choice-bar-progress[data-score="46"] {width: 46%;}
.osc-choice-default .osc-choice-bar-progress[data-score="47"] {width: 47%;}
.osc-choice-default .osc-choice-bar-progress[data-score="48"] {width: 48%;}
.osc-choice-default .osc-choice-bar-progress[data-score="49"] {width: 49%;}
.osc-choice-default .osc-choice-bar-progress[data-score="50"] {width: 50%;}
.osc-choice-default .osc-choice-bar-progress[data-score="51"] {width: 51%;}
.osc-choice-default .osc-choice-bar-progress[data-score="52"] {width: 52%;}
.osc-choice-default .osc-choice-bar-progress[data-score="53"] {width: 53%;}
.osc-choice-default .osc-choice-bar-progress[data-score="54"] {width: 54%;}
.osc-choice-default .osc-choice-bar-progress[data-score="55"] {width: 55%;}
.osc-choice-default .osc-choice-bar-progress[data-score="56"] {width: 56%;}
.osc-choice-default .osc-choice-bar-progress[data-score="57"] {width: 57%;}
.osc-choice-default .osc-choice-bar-progress[data-score="58"] {width: 58%;}
.osc-choice-default .osc-choice-bar-progress[data-score="59"] {width: 59%;}
.osc-choice-default .osc-choice-bar-progress[data-score="60"] {width: 60%;}
.osc-choice-default .osc-choice-bar-progress[data-score="61"] {width: 61%;}
.osc-choice-default .osc-choice-bar-progress[data-score="62"] {width: 62%;}
.osc-choice-default .osc-choice-bar-progress[data-score="63"] {width: 63%;}
.osc-choice-default .osc-choice-bar-progress[data-score="64"] {width: 64%;}
.osc-choice-default .osc-choice-bar-progress[data-score="65"] {width: 65%;}
.osc-choice-default .osc-choice-bar-progress[data-score="66"] {width: 66%;}
.osc-choice-default .osc-choice-bar-progress[data-score="67"] {width: 67%;}
.osc-choice-default .osc-choice-bar-progress[data-score="68"] {width: 68%;}
.osc-choice-default .osc-choice-bar-progress[data-score="69"] {width: 69%;}
.osc-choice-default .osc-choice-bar-progress[data-score="70"] {width: 70%;}
.osc-choice-default .osc-choice-bar-progress[data-score="71"] {width: 71%;}
.osc-choice-default .osc-choice-bar-progress[data-score="72"] {width: 72%;}
.osc-choice-default .osc-choice-bar-progress[data-score="73"] {width: 73%;}
.osc-choice-default .osc-choice-bar-progress[data-score="74"] {width: 74%;}
.osc-choice-default .osc-choice-bar-progress[data-score="75"] {width: 75%;}
.osc-choice-default .osc-choice-bar-progress[data-score="76"] {width: 76%;}
.osc-choice-default .osc-choice-bar-progress[data-score="77"] {width: 77%;}
.osc-choice-default .osc-choice-bar-progress[data-score="78"] {width: 78%;}
.osc-choice-default .osc-choice-bar-progress[data-score="79"] {width: 79%;}
.osc-choice-default .osc-choice-bar-progress[data-score="80"] {width: 80%;}
.osc-choice-default .osc-choice-bar-progress[data-score="81"] {width: 81%;}
.osc-choice-default .osc-choice-bar-progress[data-score="82"] {width: 82%;}
.osc-choice-default .osc-choice-bar-progress[data-score="83"] {width: 83%;}
.osc-choice-default .osc-choice-bar-progress[data-score="84"] {width: 84%;}
.osc-choice-default .osc-choice-bar-progress[data-score="85"] {width: 85%;}
.osc-choice-default .osc-choice-bar-progress[data-score="86"] {width: 86%;}
.osc-choice-default .osc-choice-bar-progress[data-score="87"] {width: 87%;}
.osc-choice-default .osc-choice-bar-progress[data-score="88"] {width: 88%;}
.osc-choice-default .osc-choice-bar-progress[data-score="89"] {width: 89%;}
.osc-choice-default .osc-choice-bar-progress[data-score="90"] {width: 90%;}
.osc-choice-default .osc-choice-bar-progress[data-score="91"] {width: 91%;}
.osc-choice-default .osc-choice-bar-progress[data-score="92"] {width: 92%;}
.osc-choice-default .osc-choice-bar-progress[data-score="93"] {width: 93%;}
.osc-choice-default .osc-choice-bar-progress[data-score="94"] {width: 94%;}
.osc-choice-default .osc-choice-bar-progress[data-score="95"] {width: 95%;}
.osc-choice-default .osc-choice-bar-progress[data-score="96"] {width: 96%;}
.osc-choice-default .osc-choice-bar-progress[data-score="97"] {width: 97%;}
.osc-choice-default .osc-choice-bar-progress[data-score="98"] {width: 98%;}
.osc-choice-default .osc-choice-bar-progress[data-score="99"] {width: 99%;}
.osc-choice-default .osc-choice-bar-progress[data-score="100"] {width: 100%;}