.stem-begroot-budget-list {
  display: grid;
  grid-template-columns: var(--nlds--budget-budget-columns, 1fr auto);
  gap: var(--nlds--budget-budget-gap, 1rem);
  margin: var(--nlds--budget-budget-margin, 0 0 2rem 0);
  min-height: 3rem;
}

.budget-used-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 0.5rem;
  position: sticky;
  z-index: 99;
  top: 0;
  padding: 0.5rem 0;
  background: #fff;
}

.budget-used-list p {
  margin: var(--nlds--budget-price-margin, 1rem 0);
  padding: var(--nlds--budget-price-padding, 0);
}

.stem-begroot-helptext-and-budget-section {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 0.5rem;
}

.stem-begroot-helptext-and-budget-section-budget {
  padding: var(--nlds--budget-aside-padding, 1.5rem);
  background-color: var(--nlds--budget-aside-background-color, #dbdfe5);
  border-radius: var(--nlds--budget-aside-border-radius, 0);
  margin: var(--nlds--budget-aside-margin, 0);
}
.stem-begroot-helptext-and-budget-section-budget h5 {
  margin: var(--nlds--budget-aside-heading-margin, 0 0 0.5rem 0);
}
.stem-begroot-helptext-and-budget-section-budget p {
  margin: var(--nlds--budget-aside-paragraph-margin, 0 0 0.1rem 0);
  align-items: center;
}
.stem-begroot-helptext-and-budget-section-budget p span strong {
  color: var(--nlds-bergoot-aside-amount-color, inherit);
  font-size: var(--nlds--budget-aside-amount-font-size, inherit);
}

.info-budget-label {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.info-budget-label > p {
  margin: 0;
}

.budget-list-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: start;
}

.budget-list-action-hint-container.utrecht-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: dashed;
  border-color: var(--nlds-budget-hint-container-border-color, #a9b2ba);
  border-radius: var(--nlds-budget-hint-container-border-radius, 4px);
  background-color: var(--nlds-budget-hint-container-background-color, #fff);
  aspect-ratio: 16 / 9;
  cursor: pointer;
  height: 100%;
  width: 100%;
  max-width: none;
}

.budget-list-action-hint-container p {
  text-align: center;
}

.budget-list-selection-indicaction-container {
  display: grid;
  flex-grow: 1;
  align-items: end;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  gap: 0.5rem;
}

.budget-list-status-container {
  padding: 1rem 4rem;
  border: 1px dashed var(--osc-border);
  border-radius: 4px;
  background-color: var(--osc-background);
}

.budget-list-status-container .budget-list-status-text {
  word-wrap: none;
  margin: 0;
  text-align: center;
}

.begroot-placeholder-no-resources-selected {
  border-radius: 4px;
  background-color: var(--osc-border);
}

.budget-badge {
  border-width: 1px;
  border-style: solid;
  border-radius: var(
    --nlds-budget-badge-border-radius,
    var(--utrecht-button-border-radius, 0)
  );
  background-color: var(--nlds-budget-badge-background-color, #dbdfe5);
  border-color: var(--nlds-budget-badge-border-color, #dbdfe5);
}

.budget-badge p {
  padding: 0 1rem;
  text-align: center;
}

.budget-badge-primary {
  background-color: var(
    --nlds-budget-badge-active-background-color,
    var(--utrecht-button-primary-action-background-color)
  );
  border-color: var(
    --nlds-budget-badge-active-border-color,
    var(--utrecht-button-primary-action-background-color)
  );
}

.budget-badge-primary > p {
  color: var(--nlds-budget-badge-active-color, #fff);
}

.total-budget {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 0.5rem;
  position: sticky;
  z-index: 99;
  top: 74px;
  background: #dbdfe5;
  padding: 10px;
  font-size: 14px;
  justify-content: center;
  border-radius: 0 0
    var(
      --nlds-budget-badge-border-radius,
      var(--utrecht-button-border-radius, 0)
    )
    var(
      --nlds-budget-badge-border-radius,
      var(--utrecht-button-border-radius, 0)
    );
}

.total-budget > * {
  font-size: inherit;
}