.filepond--wrapper .filepond--credits {
 display: none !important;
}

.filepond--wrapper .filepond--browser:focus-visible{
    height: 100%;
    width: 100%;
    opacity: 1;
    outline-offset: 2px;
    padding: 10px;
    border-radius: 3px;
}

.filepond--wrapper .filepond--drop-label,
.filepond--wrapper .filepond--drop-label label{
    cursor: pointer;
}