.account {
  display: var(--setAccountDisplay, var(--accountDisplay, flex));
  flex-direction: column;
  gap: var(--setAccountContainerGap, var(--accountContainerGap, 2rem));
  margin: var(--setAccountMargin, var(--accountMargin, 0 auto));
}

.account input {
  max-width: unset;
}

.account > div:not(.banner) {
  display: grid;
  grid-template-columns: var(--setAccountColumns, var(--accountColumns, 1fr 1fr));
  grid-gap: var(--setAccountGap, var(--accountGap, 1rem));
  position: relative;
}

.account > div + div {
  border-block-start: solid var(--setAccountBorderWidth, var(--accountBorderWidth, 1px)) var(--setAccountBorderColor, var(--accountBorderColor, hsla(0, 0%, 0%, 0.1)));
  padding-top: var(--setAccountDivPaddingTop, var(--accountDivPaddingTop, 2rem));
}

.account > div:not(:has(h2)):has(.account-edit-button) {
  padding-top: var(--setAccountEditButtonPaddingTop, var(--accountEditButtonPaddingTop, 5rem));
}

.account h2,
.account p {
  grid-column: span 2;
}

.account .account-edit-button {
  grid-column: 2;
  align-self: end;
  justify-self: end;
}

@media screen and (max-width: 700px) {
  .account > div {
    grid-template-columns: var(--setAccountMobileColumns, var(--accountMobileColumns, 1fr));
  }
  
  .account .account-edit-button,
  .account > div > *{
    grid-column: 1;
  }
}

.consent-checkbox-container .utrecht-form-field__label--checkbox {
  margin-inline-start: 0 !important;
}

.consent-checkbox-container .utrecht-form-field__label--checkbox input[type="checkbox"]:hover {
  border-color: var(--utrecht-checkbox-disabled-border-color, var(--utrecht-checkbox-border-color));
}
