/*
 * Base styles that I'm changing for the web site.  This should only contain styles of default elements of the web
 * such as h1, body, etc...
 */


/**
 * Using some off white for the background color and
 * padding the top.
 */
body {
  background: #F3F3F3;
}

.header {
  background: white;
  padding: 10px;
}

.header--account {
  padding: 3px;
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar .navbar-brand .text {
  position: absolute;
  top: 15px;
  left: 35px;
  color: black;
  font-size: 15px;
}

.align-right {
  text-align: right;
}

.align-right > * {
  display: inline-block;
  margin: 0 5px;
}

.align-right > :last-child {
  margin-right: 0;
}

.toolbar {
  margin: 40px 0;
}

.form-input:not(:placeholder-shown):invalid {
  border: .05rem solid #bcc3ce;
}

.center-block {
  margin: 0 auto;
}

.small-container {
  margin: 0 auto;
  max-width: 300px;
}

.center-block > * {
  margin: 0 auto;
}

.mainlogo {
  position: relative;
  height: 56px;
  width: 130px;
}

.mainlogo .logoset img {
  border: 0;
  height: auto;
  left: auto;
  margin: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.mainlogo .logotexts {
  color: #EC0000;
  top: -3px;
  left: 27px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  position: absolute;
}

a:visited {
    color: #004699;
}

.form-input {
  font-size: 15px;
}

label.error {
  font-size: 11px;
  color: #ff5353;
}


.info-box .info-box-header {
  background-color: #e5e5e5;
  padding: 12px 15px;
  font-weight: 600;
  color: #000;
}
.info-box .info-box-body {
  padding: 15px;
  border-right: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  border-left: 3px solid #e5e5e5;
  background: #fff;
}

.fade.in {
    opacity: 1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}



@inward-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
@outward-easing: cubic-bezier(0.77, 0, 0.175, 1);
@downward-easing: cubic-bezier(0.47, 0, 0.745, 0.715);

.flash-container {
    align-items: center;
    right: 0;
    bottom: 2rem;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    position: fixed;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    padding: .75rem;
}

.flash-message {
    background: #f3f3f3;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    cursor: default;
    display: flex;
    max-width: 400px;
    pointer-events: auto;
    position: relative;
    font-weight: 700;
    line-height: 1.25;


}

.flash-message .flash-message {
  margin-bottom: .75rem;
}

.flash-message--error {
  border-left: 3px solid #ec0000;
}

.flash-message--success {
  border-left: 3px solid #00a03c;
}

.flash-message__content {
  margin: 0;
  padding: 1rem 2rem;
  font-weight: 700;
  color: black;
}

.flash-message__close-button {
  border-left: 1px solid rgba(255, 255, 255, .2);
  display: flex;

}

.flash-message__close-button  .close-button {
  background: transparent;
  appearance: none;
  border: 0;
  color: rgba(0, 0, 0, .88);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 1.25rem;
}

.flash-message--is-animating-in {
  animation-duration: 0.333333s;
  animation-name: flashAnimateIn;
  animation-timing-function: @inward-easing;
}

.flash-message--is-animating-out {
  animation-duration: 0.333333s;
  animation-name: flashAnimateOut;
  animation-timing-function: @outward-easing;
}

.flash-message--is-animating-down {
  animation-duration: 0.333333s;
  animation-name: flashAnimateDown;
  animation-timing-function: @downward-easing;
}


/*================ animations ================*/

@keyframes flashAnimateIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flashAnimateOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes flashAnimateDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(var(--element-height));
  }
}
