{% extends 'layout-admin.html' %}

{% block toolbar %}
<div class="align-right">
  <a href="/admin/code" class="btn btn-primary"> Add new code </a>
  <a href="/admin/code/bulk" class="btn btn-primary"> Bulk upload codes </a>
</div>
{% endblock %}

{% block body %}
<div class="card">
<table class="table table-striped table-hover">
  <thead>
      <tr>
        <th>Code</th>
        <th>ClientID</th>
        <th>UserID</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    {% for code in codes %}
      <tr>
          <td>
            {{code.code}}
          </td>
          <td>
            <a href="/admin/client/{{code.clientId}} " target="_blank"> {{code.clientId}} </a>
          </td>
          <td>
            {% if code.userId %}
            <a href="/admin/user/{{code.userId}} " target="_blank"> {{code.userId}} </a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            <a href="/admin/code/{{code.id}}" target="_blank">
              Bewerken
            </a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
