<form
  method="POST"
  action="/admin/code?_csrf={{csrfToken}}"
>
  <div class="form-group">
    <label> Unique Code </label>
    <input
      type="text"
      required
      name="code"
      maxlength="60"
      class="form-input"
      {% if client %} value="{{code.code}}" {% endif %}
    />
  </div>
  <br />
  <br />

  <select name="clientId">
    {% for client in clients %}
      <option value="{{client.id}}">{{client.name}}</option>
    {% endfor %}
  </select>
  <br />
  <br />

  <button type="submit" class="btn btn-primary">
    Save
  </button>
</form>
<br />
<br />
