.full-screen-section {
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

//  /* @media @phone {
//     top: 113px;
//   }*/

  .full-screen-section-inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;

    .apos-area,
    .apos-area-widgets,
    .apos-area-widget,
    .apos-areas-widgets-list,
    .apos-area-widget-inner,
    // the admin wraps a random idea, break 100% width, only way to select widget wrapper among controls is this
    .apos-area-widget-inner > div[id],
    .apos-area-widget-wrapper {
      height: 100%;
      position: relative;
    }
  }
}

.container {
  position: relative;
}


.section-bg-image {
  position: absolute;
  top: 0;
  //left: floor(($grid-gutter-width / 2));
  //right: floor(($grid-gutter-width / 2));
  bottom: 0;
}

.section.margin-up {
  margin-top: -70px;
}
.section.--solid {
  background-color: var(--nlds-section-background-color, var(--nlds-default-background-color, #F0F4F8));
  border-radius: var(--nlds-section-border-radius, 0);
  padding: 2.5rem 1.5rem;
}

.section:not(.--negative) {
  margin-block-start: var(--nlds-default-margin-block-start, 3.5rem);
}

.section.--negative{
  margin-block-start: calc((var(--nlds-default-margin-block-start, 3.5rem) + 5rem) * -1);
}
.section.--mt-0{
  margin-block-start: 0;
}
.section .container{
  padding-left: 0;
  padding-right: 0;
}

.section.--background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.howDoesItWork {
  .howDoesItWorkButton {
    &:focus {
      outline: 5px auto -webkit-focus-ring-color !important;
    }
  }
}

.dashboard-container {
  .dashboard-sidebar {
    // background: red;
    width: 250px;
    padding: 20px 0px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 0px 30px rgb(200 208 216 / 30%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .dashboard-main {
    //    background: orange;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-left: 250px;
    min-height: 100vh;
    position: relative;

  }
}

.section {

  .toggle-title {
    color: black;
    padding: 15px 20px;
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 600;
    background: #f5f5f5;

    &:focus {
      outline: 5px auto -webkit-focus-ring-color !important;
    }
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color !important;
  }


  &.mobileonly {
    .toggle-title {
      display: none;
    }

    .row,
    .full-width-container,
    .full-screen-section {
      display: block !important;
    }

    @media only screen and (max-width: 767px) {
      .toggle-title {
        display: block;
      }

      &.closed {

        .container,
        .full-width-container,
        .full-screen-section {
          display: none !important
        }

        .arrow {
          transform: rotate(0deg);
        }
      }

      &.open {

        .container,
        .full-width-container,
        .full-screen-section {
          display: block !important;
        }

        .arrow {
          transform: rotate(180deg);
        }
      }
    }
  }

  &.closed:not(.mobileonly) {

    .container,
    .full-width-container,
    .full-screen-section {
      display: none
    }

    .arrow {
      transform: rotate(0deg);
    }

  }

  &.open:not(.mobileonly) {

    .container,
    .full-width-container,
    .full-screen-section {
      display: block
    }

    .arrow {
      transform: rotate(180deg);
    }

  }
}
