{% extends 'layouts/main.html' %}

{% block body %}
<div>
	<div class="upper-box card-body">
		<h1 class="title">{{title}}</h1>
		<p class="intro">
      {{description}}
		</p>
		<h2 class="title">{{subtitle}}</h2>
		<form
		method="post"
		action="{{loginUrl}}?&clientId={{clientId}}&redirect_uri={{redirectUrl}}"
		>
			<div class="form-group">
				<label for="input_field">
					{{label}}
				</label>

				<div {% if (messages.error) %} class="side-error" {% endif%}>
					{% if (messages.error)  %}
					{% for error in messages.error %}
					<span class="error-label"> {{ error.msg }} </span>
					{% endfor %}
					{% endif %}

					<input
					type="text"
					value=""
					name="phoneNumber"
					class="form-input"
					required
					autocomplete="off"
					autofocus
					id="input_field"
					/>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" name="clientId" value="{{clientId}}">
			<br />
			<input type="submit" value="{{buttonText}}" class="btn btn-primary">
		</form>
	</div>
	<p>
		<br />

		{{helpText | safe}}
	</p>
</div>
{% endblock %}
