.osc-card {
    display: inline-block;
    margin: 0;
    padding: var(--setCardPadding, var(--cardPadding, 0.25rem 0.35rem));
    border-radius: var(--setCardBorderRadius, var(--cardBorderRadius, 3px));
    background: var(--setCardGradientStart, var(--cardGradientStart, #e8e8e8));
    background: linear-gradient(
        var(--setCardGradientStart, var(--cardGradientStart, #e8e8e8)) 50%,
        var(--setCardGradientEnd, var(--cardGradientEnd, #ffffff)) 50%
    );
}

.osc-card p {
    color: var(--setCardTextColor, var(--cardTextColor, black)) !important;
    font-weight: var(--setCardFontWeight, var(--cardFontWeight, 800));
    font-size: var(--setCardFontSize, var(--cardFontSize, 1rem));
}