---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "openstad.admin.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openstad.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ template "openstad.admin.fullname" . }}-deployment
spec:
  replicas: {{ .Values.admin.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.admin.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.admin.label }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      serviceAccountName: openstad-headless-ingress-sa
      containers:
      - name: {{ template "openstad.admin.fullname" . }}
        image: {{ .Values.admin.deploymentContainer.image }}
        imagePullPolicy: IfNotPresent
        securityContext:
          readOnlyRootFilesystem: true
        ports:
          - containerPort: {{ .Values.admin.service.httpPort }}
            name: http
        env:
          - name: PORT
            value: "{{ .Values.admin.service.httpPort }}"
          - name: URL
            value: https://{{ template "openstad.admin.url" . }}
          - name: COOKIE_SECRET
            valueFrom:
              secretKeyRef:
                key: cookieSecret
                name: {{ template "openstad.admin.secret.fullname" . }}
          - name: CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: admin_client_id
                name: {{ template "openstad.auth.secret.fullname" . }}
          - name: CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                key: admin_client_secret
                name: {{ template "openstad.auth.secret.fullname" . }}
          - name: OAUTH_URL
            value: https://{{ template "openstad.auth.url" . }}
          - name: OAUTH_URL_INTERNAL
            value: http://{{ printf "%s.%s.svc.cluster.local:%d" (include "openstad.auth.fullname" .) .Release.Namespace (.Values.auth.service.httpPort | int) }}
          - name: API_URL
            value: https://{{ template "openstad.api.url" . }}
          - name: API_URL_INTERNAL
            value: http://{{ printf "%s.%s.svc.cluster.local:%d" (include "openstad.api.fullname" .) .Release.Namespace (.Values.api.service.httpPort | int) }}
          - name: API_FIXED_AUTH_KEY
            valueFrom:
              secretKeyRef:
                key: apiKey
                name: {{ template "openstad.admin.secret.fullname" . }}
          - name: RATE_LIMIT
            valueFrom:
              secretKeyRef:
                key: rateLimit
                name: {{ template "openstad.ratelimit.secret.fullname" . }}
          - name: RATE_WINDOW_MS
            valueFrom:
              secretKeyRef:
                key: rateWindowMs
                name: {{ template "openstad.ratelimit.secret.fullname" . }}
          - name: NEXT_PUBLIC_HASH_IP_ADDRESSES
            valueFrom:
              secretKeyRef:
                key: hashIpAddresses
                name: {{ template "openstad.ipaddress.secret.fullname" . }}
          # Inject extra environment variables
          {{- if .Values.admin.extraEnvVars }}
          {{- include "common.tplvalues.render" (dict "value" .Values.admin.extraEnvVars "context" $) | nindent 10 }}
          {{- end }}
        {{- if .Values.admin.customCommand }}
        command: {{ toYaml .Values.admin.customCommand | nindent 12}}
        {{- end }}
        {{- if .Values.admin.customWorkingDir }}
        workingDir: {{ .Values.admin.customWorkingDir }}
        {{- end }}
        resources:
{{ toYaml .Values.admin.resources | indent 12 }}
