<header class="{{ 'amsterdam-header' if data.global.siteLogo === 'amsterdam' }} {{ '--compact' if data.global.compactMenu }}">

      <div class="header-top-bar">
        <div class="container">
        {% if data.global.showLoginButton and not data.loggedIn %}
        <div class="login-button">
          <a href="{{data.baseUrlWithPrefix}}/login">{{data.global.loginButtonLabel}}</a>
        </div>
      {% endif %}

      {% if data.global.showAccountButton and data.loggedIn %}
        <div class="account-button">
          <a href="{{data.global.accountButtonHref}}">{{ data.global.accountButtonLabel | replace('[[name]]', data.openstadUser.displayName) | replace('[[displayName]]', data.openstadUser.displayName) }}</a>
        </div>
      {% endif %}

      {% if data.loggedIn %}
        <div class="logout-button">
          <a href="{{data.baseUrlWithPrefix}}/logout">{{ data.global.logoutButtonLabel | replace('[[name]]', data.openstadUser.displayName) | replace('[[displayName]]', data.openstadUser.displayName) }}</a>
        </div>
      {% endif %}
    </div>
      </div>
  <div class="container relative main-header-container">

      <div class="row ">

      <div class="col-xs-12">
        {% if data.global.siteLogo === 'amsterdam' %}
        <a href="{{data.baseUrlWithPrefix}}{{logoLink}}/" class="logo-container">
          <img src="/modules/openstad-assets/img/andreas.svg" alt="logo">
          <div id="amsterdam">
            Gemeente<br>Amsterdam
          </div>
        </a>
        {% elif data.global.siteLogo %}
        <a href="{{data.baseUrlWithPrefix}}{{logoLink}}/" class="logo-uploaded logo-main-container">
          <img src="{{apos.attachment.url(data.global.siteLogo)}}" alt="{{data.global.logoAltText}}" id="logo-image">
          {% if not data.global.hideSiteTitle %}
          {% if data.global.siteTitle.length > 0%}
          <h2 class="header-subtitle">
            {{data.global.siteTitle}}
          </h2>
        {% endif %}
        {% endif %}
        </a>
        {% else %}
        <a href="{{data.baseUrlWithPrefix}}{{logoLink}}/" class="logo-default logo-main-container">
          <img class="default" src="/images/logo.png" alt="{{data.global.logoAltText}}" id="logo-image">
        </a>
        {% endif %}
        <div class="header-side-container {{ 'without-site-title' if data.global.hideSiteTitle}}">
          <div class="row">
            <div class="{{ 'col-xs-12' if data.global.hideSiteTitle else 'col-sm-5 col-md-6' }}  hidden-xs">
              {% if data.global.topLinks or data.global.displayLoginTopLink %}
              <ul class="top-links">
                {% if data.global.displayLoginTopLink %}
                <li>
                  {% if data.loggedIn %}
                  <a href="{{data.baseUrlWithPrefix}}/oauth/logout" class="link-caret--black">
                    {{ __('Uitloggen') }}
                  </a>
                  {% else %}
                  <a href="{{data.baseUrlWithPrefix}}/oauth/login" class="link-caret--black">
                    <!-- <span class=" glyphicon glyphicon-user"></span> !-->
                    {{ __('Inloggen') }}
                  </a>
                  {% endif %}
                </li>
                {% endif %}
                {% for topLink in data.global.topLinks.reverse() %}
                {% if (not topLink.displayWhen) or (topLink.displayWhen === 'always') or (topLink.displayWhen ===
                'loggedIn' and data.loggedIn) or (topLink.displayWhen === 'notLoggedIn' and not data.loggedIn) %}
                <li>
                  <a href="{{topLink.url | safeRelativeUrl}}" {% if topLink.targetBlank %} target="_blank" {% endif %}
                    class="link-caret--black" {% if data.currentPath.startsWith(topLink.url) %} aria-current="page" {%
                    endif %}>
                    {{topLink.label}}
                  </a>
                </li>
                {% endif%}
                {% endfor %}

              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        {% if data.global.translations and data.global.translations.length > 0 %}
        <div class="language-menu">
          <ul>
            {% for translation in data.global.translations %}
            <li class="language"><a
                href="{{translation.translationUrl | safeRelativeUrl}}">{{translation.translation}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

        <div class="header_navbar-container">
          <button class="close-button"><span>Menu tonen</span></button>
          {% if data.global.compactMenu %}
            {% set menuData = data.home._children | json | replace("'", "&#39;") %}
            <div id="navbar"
              class="--compact"
              data-home='
              [{
                "_url": "{{ data.home._url }}",
                "title": "{{ data.home.title }}"
              }]'
              data-content='{{ menuData }}'
             data-prefix='{{ data.prefix }}'
            ></div>
          {% endif %}

          {% if data.global.ctaButtons.length > 0 %}
            <div class="cta-buttons">
              {% for ctaButton in data.global.ctaButtons %}
              {% set buttonHref = data.prefix + ctaButton.href if (ctaButton.href and ctaButton.href.startsWith('/'))  else ctaButton.href %}
              <a href="{{buttonHref}}" class="utrecht-button-link utrecht-button-link--html-a utrecht-button-link--{{ctaButton.appearance}}">{{ctaButton.label}}</a>
              {% endfor %}
              </div>
          {% endif %}
        </div>
      </div>
  </div>
</header>
