<nav id="navbar" class="navbar navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle visibility-toggle body-backdrop-toggle" data-target=".navbar-menu"
      aria-expanded="false" aria-controls="mainMenu">
      <span class="sr-only">Toggle navigation</span>
      <div class="visible-active">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="hidden-active">
        <!--<span class="glyphicon glyphicon-remove"></span>!-->
        <img src="/modules/openstad-assets/img/close-icon.svg" width="14" />
      </div>
    </button>
    <div class="navbar-menu toggle-menu">
      <nav id="mainMenu" class="navbar navbar-expand-lg navbar-light " role="menubar">
        <ul class="nav navbar-left">
          {% if data.global.arrangeMainMenu and data.global.arrangeMainMenu == 'manually' %}

          {% for item in data.global.mainMenuItems %}
          <li class="nav-item">
            <a class="
              nav-link
              {% if item.mainMenuUrl === '\/' %}
              {% if  data.currentPath and data.currentPath === '\/' %}  active {% endif %}
              {% else %}
              {% if  data.currentPath and data.currentPath.startsWith(item.mainMenuUrl) %} active {% endif %}
              {% endif %}
              " href="{{ item.mainMenuUrl | safeRelativeUrl }}" {% if item.mainMenuTarget %} target="_blank" {% endif
              %} role="menuitem" {% if item.mainMenuUrl==='\/' %} {% if  data.currentPath and data.currentPath==='\/' %} aria-current="page"
              {% endif %} {% else %} {% if  data.currentPath and data.currentPath.startsWith(item.mainMenuUrl) %} aria-current="page" {% endif
              %} {% endif %}>
              {{ item.mainMenuLabel }}
            </a>
          </li>
          {% endfor %}

          {% else %}
          <li class="nav-item">
            <a href="{{ data.home._url  }}" class="nav-link {% if data.originalUrl === '/' %} active {% endif %}"
              role="menuitem" {% if data.originalUrl==='/' %} aria-current="page" {% endif %}>
              {{ data.home.title }}
            </a>
          </li>
          {% for tab in data.home._children %}
          <li class="nav-item">
            <a class="nav-link {% if data.currentPath and data.currentPath.startsWith(tab._url) %} active {% endif %}" href="{{ tab._url }}"
              role="menuitem" {% if data.currentPath and  data.currentPath.startsWith(tab._url) %} aria-current="page" {% endif %}>
              {{ tab.title }}
            </a>
          </li>
          {% endfor %}

          {% endif %}

          {% if data.global.topLinks or data.global.displayLoginTopLink %}
          <li class="li-spacer visible-xs"></li>
          {% for topLink in data.global.topLinks.reverse() %}
          <li class="visible-xs">
            <a href="{{topLink.url | safeRelativeUrl}}" {% if link.targetBlank %} target="_blank" {% endif %}
              class="nav-link ">
              <b> {{topLink.label}} </b>
            </a>
          </li>

          {% endfor %}

          {% if data.global.displayLoginTopLink %}
          <li class="visible-xs">
            {% if data.loggedIn %}
            <a href="{{data.siteUrl}}/oauth/logout" class="nav-link ">
              {{ __('Uitloggen') }}
            </a>
            {% else %}
            <a href="{{data.siteUrl}}/oauth/login" class="nav-link ">
              <!-- <span class="glyphicon glyphicon-user"></span>  !-->
              {{ __('Inloggen') }}
            </a>
            {% endif %}
          </li>
          {% endif %}

          {% endif %}
        </ul>

        <nav id="subMenu" class="" role="navigation">
          <div>
            {% if data.global.ctaButtonText %}
            <a href="{{data.global.ctaButtonUrl | safeRelativeUrl}}" class="menu-cta-button" role="button" {% if
              data.currentPath.startsWith(data.global.ctaButtonUrl) %} aria-current="page" {% endif %}>
              {{data.global.ctaButtonText}}
            </a>
            {% endif %}
            {% if data.global.displayMyAcount %}
            {% if data.loggedIn %}
            <a href="{{data.siteUrl}}/oauth/logout" class="account logout-button" role="button">
              <!-- <span class="glyphicon glyphicon-log-out"></span> !-->
              {{ __('Uitloggen') }}
            </a>
            {% else %}
            <a href="{{data.siteUrl}}/oauth/login" class="account" role="button">
              <!-- <span class="glyphicon glyphicon-user"></span>  !-->
              <img src="/modules/openstad-assets/img/avatar.svg" />
              {% if data.global.myAccountButtonText %} {{ data.global.myAccountButtonText | safe }} {% else %} {{
              __('Mijn Account') }} {% endif %}
            </a>
            {% endif %}
            {% endif %}
          </div>
        </nav>
      </nav>
    </div>
    {% if data.global.displayMyAcount %}
    <a href="#" class="account-menu-toggle visibility-toggle body-backdrop-toggle" data-target=".account-menu"
      aria-expanded="false" aria-controls="accountMenu" role="button">
      <div class="visible-active">
        <img src="/modules/openstad-assets/img/avatar.svg" />
      </div>
      <div class="hidden-active">
        <img src="/modules/openstad-assets/img/close-icon.svg" width="14" />
      </div>
    </a>
    <div id="accountMenu" class="account-menu toggle-menu">
      <nav class="" role="navigation">
        <div>
          {% if data.loggedIn %}
          <a href="{{data.siteUrl}}/oauth/logout" class="logout-button" role="button">
            <!--  <span class="glyphicon glyphicon-log-out"></span> !-->
            <img src="/modules/openstad-assets/img/avatar.svg" />
            {{ __('Uitloggen') }}
          </a>
          {% else %}
          <a href="{{data.siteUrl}}/oauth/login" role="button">
            <!-- <span class="glyphicon glyphicon-user"></span>  !-->
            {{ __('Mijn account') }}
          </a>
          {% endif %}
        </div>
      </nav>
    </div>
    {% endif %}
  </div>
</nav>