.banner {
    display: flex;
    background-color: var(--card);
    padding:.5rem
}

.banner > p {
    color: var(--card-foreground);
}

.banner.big {
    justify-content: center;
    padding: 3rem 2rem;
}