name: Build and Publish Docker Image
on:
  push:
    paths-ignore:
      - 'operations/deployments/openstad-headless/environments/acc/images.yml'
      - 'operations/deployments/openstad-headless/environments/prod/images.yml'
      - 'charts/openstad-headless/values.yaml'
    branches:
      - '*'
  pull_request:
    branches:
      - 'develop'
      - 'main'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run this workflow on'
        required: true
        default: 'develop'
jobs:

  generate-ci-build-id:
    name: Generate CI build ID
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      build_id: ${{ steps.set_build_id.outputs.build_id }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Set build ID
        id: set_build_id
        # This step generates a unique build ID based on the current timestamp with the github sha.
        run: |
          BUILD_ID=${GITHUB_SHA}-$(date +%s)
          echo "build_id=$BUILD_ID" >> "$GITHUB_OUTPUT"

  get-openstad-version:
    name: Get Openstad version from Helm Chart
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
        openstad_version: ${{ steps.chart_version.outputs.openstad_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Get chart version
        id: chart_version
        run: echo "openstad_version=$(yq '.version' ./charts/openstad-headless/Chart.yaml)" >> $GITHUB_OUTPUT

  version-check:
    name: Helm chart version check
    if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
    needs: [get-openstad-version]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

        # Get all releases from openstad-headless repository
      - name: Get releases and check if current version exists
        id: get-releases
        run: |
          RELEASES=$(curl -s "https://api.github.com/repos/${{ github.repository }}/releases" | jq -r '.[].tag_name')
          if echo "$RELEASES" | grep -q "^v${{ needs.get-openstad-version.outputs.openstad_version }}$"; then
              echo "Error: version ${{ needs.get-openstad-version.outputs.openstad_version }} already exists in ${{ github.repository }} releases."
              exit 1
          fi
          echo "Version ${{ needs.get-openstad-version.outputs.openstad_version }} does not exist in ${{ github.repository }} releases."

  unit-test:
    name: Run unit tests
    needs: [version-check]
    if: always() && (needs.version-check.result == 'success' || needs.version-check.result == 'skipped')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup safe-chain
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install dependencies
        run: npm ci --safe-chain-skip-minimum-package-age

      - name: Run Vitest tests
        run: npm run test:unit


  component-test:
    name: Run Component tests
    runs-on: ubuntu-latest
    needs: [generate-ci-build-id, version-check]
    if: always() && (needs.version-check.result == 'success' || needs.version-check.result == 'skipped')
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup safe-chain
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install dependencies
        run: npm ci --safe-chain-skip-minimum-package-age

      - name: Run Cypress tests
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          record: true
          install: false
          component: true
          command: npm run test:component
          ci-build-id: ${{ needs.generate-ci-build-id.outputs.build_id }}
        env:
            CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BUILD_ID: ${{ needs.generate-ci-build-id.outputs.build_id }}

  build-builder-stage:
    name: Build `builder` stage
    runs-on: ubuntu-latest
    needs: [unit-test, component-test, get-openstad-version, version-check]
    if: always() && (needs.version-check.result == 'success' || needs.version-check.result == 'skipped')
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: docker-base-${{ github.sha }}
          restore-keys: |
            docker-base-

      - name: Build base stage
        run: |
          docker buildx build \
            --target=builder \
            --cache-to=type=local,dest=/tmp/.buildx-cache,mode=max \
            --cache-from=type=local,src=/tmp/.buildx-cache \
            --load \
            --build-arg OPENSTAD_VERSION=${{ needs.get-openstad-version.outputs.openstad_version }} \
            -t builder-stage:latest \
            .
  # define job to build and publish docker image
  build-and-push-docker-image:
    needs: [get-openstad-version, build-builder-stage, version-check]
    if: always() && (needs.version-check.result == 'success' || needs.version-check.result == 'skipped')
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        app: [admin-server, api-server, auth-server, image-server, cms-server]
        include:
          - app: api-server
            build-target: release-with-packages
    name: '[${{ matrix.app }}] Build & push image'
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.image_output.outputs.image_tag }}
    env:
      IMAGE: 'ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}'
      APP: ${{ matrix.app }}
      BUILD_TARGET: release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Restore base build cache
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: docker-base-${{ github.sha }}
          restore-keys: |
            docker-base-

      - if: ${{ matrix.build-target }}
        name: Set correct build target
        run: echo "BUILD_TARGET=${{ matrix.build-target}}" >> $GITHUB_ENV

      - name: Determine image tags
        id: set_tags
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" || ( "${GITHUB_EVENT_NAME}" == "workflow_dispatch" && "${{ github.event.inputs.branch }}" == "main" ) ]]; then
            echo "tags<<EOF" >> $GITHUB_OUTPUT
            echo "type=raw,value=v${{ needs.get-openstad-version.outputs.openstad_version }}",priority=900 >> $GITHUB_OUTPUT
            echo "type=ref,event=branch,suffix=-{{sha}}",priority=700 >> $GITHUB_OUTPUT
            echo "type=ref,event=tag" >> $GITHUB_OUTPUT
            echo "type=ref,event=pr,suffix=-{{sha}}" >> $GITHUB_OUTPUT
            echo "type=raw,value=latest,enable={{is_default_branch}}" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          else
            echo "tags<<EOF" >> $GITHUB_OUTPUT
            echo "type=ref,event=branch,suffix=-{{sha}}",priority=700 >> $GITHUB_OUTPUT
            echo "type=ref,event=tag" >> $GITHUB_OUTPUT
            echo "type=ref,event=pr,suffix=-{{sha}}" >> $GITHUB_OUTPUT
            echo "type=raw,value=latest,enable={{is_default_branch}}" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: ${{ steps.set_tags.outputs.tags }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to GitHub Container Registry
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: 'ghcr.io/${{ steps.meta.outputs.tags }}'
          build-args: |
            APP=${{ matrix.app }}
            OPENSTAD_VERSION=${{ needs.get-openstad-version.outputs.openstad_version }}
          cache-from: type=local,src=/tmp/.buildx-cache

      - name: Add image output
        id: image_output
        run: echo "image_tag=${{ steps.meta.outputs.version }}" >> "$GITHUB_OUTPUT"

  e2e-test:
    name: Run E2E tests
    runs-on: ubuntu-latest
    needs: [generate-ci-build-id, build-and-push-docker-image]
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Load .testing.env into environment
        run: |
          set -a
          source .testing.env
          set +a
          printenv > $GITHUB_ENV

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup safe-chain
        run: |
          npm i -g @aikidosec/safe-chain
          safe-chain setup-ci

      - name: Install Cypress
        run: npm install cypress

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Add release version to .testing.env
        run: echo "RELEASE_VERSION=${{ needs.build-and-push-docker-image.outputs.image_tag }}" >> .testing.env

      - name: Generate Auth certs
        working-directory: ./apps/auth-server
        run: |
          mkdir -p ./certs
      
          openssl genrsa -out ./certs/privatekey.pem 2048
          chmod 644 ./certs/privatekey.pem
      
          openssl req -new -key ./certs/privatekey.pem -out ./certs/certrequest.csr -subj "/C=NL/ST=All/L=Amsterdam/O=openstad/CN=www.openstad.org"
          chmod 644 ./certs/certrequest.csr
      
          openssl x509 -req -in ./certs/certrequest.csr -signkey ./certs/privatekey.pem -days 3650 -out ./certs/certificate.pem
          chmod 644 ./certs/certificate.pem

      - name: Start API & Auth in init mode with docker compose
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env up -d

      - name: Initialize Auth database
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env exec openstad-auth-server bash -c "NODE_ENV=development npm run init-database -w apps/auth-server -- --force && NODE_ENV=development npm run migrate-database -w apps/auth-server"

      - name: Migrate Auth database
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env exec openstad-auth-server bash -c "NODE_ENV=development npm run migrate-database -w apps/auth-server"

      - name: Start API service with docker compose
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env up openstad-api-server -d

      - name: Initialize Api database
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env exec openstad-api-server bash -c "NODE_ENV=development npm run init-database -w apps/api-server -- --only-if-empty && NODE_ENV=development npm run migrate-database -w apps/api-server"

      - name: Shut down initialization services
        run: docker compose -f docker-compose.e2e.init.yml --env-file .testing.env down

      - name: Start all services with docker compose
        run: docker compose -f docker-compose.e2e.yml --env-file .testing.env up -d

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          record: true
          install: false
          wait-on: '${{env.ADMIN_URL}}/health,${{env.API_URL}}/health,${{env.CMS_URL}}/health,${{env.AUTH_APP_URL}}/health,${{env.IMAGE_APP_URL}}/health'
          wait-on-timeout: 160
          group: "E2E"
          ci-build-id: ${{ needs.generate-ci-build-id.outputs.build_id }}
          tag: "e2e"
        env:
            CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Stop docker compose
        if: always()
        run: docker compose --env-file .testing.env down

  release-helm-chart:
    name: Release helm chart
    if: always() && ((github.event_name == 'workflow_dispatch' && (github.event.inputs.branch == 'main')) || (github.ref == 'refs/heads/main')) && (needs.e2e-test.result == 'success' || needs.e2e-test.result == 'skipped') && (needs.build-and-push-docker-image.result == 'success')
    runs-on: ubuntu-latest
    needs: [e2e-test, build-and-push-docker-image, get-openstad-version]
    permissions:
      contents: write
      packages: write
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.branch || github.ref }}
          persist-credentials: false

      - name: Install yq
        run: sudo snap install yq --channel=v4/stable

      - name: "[PROD] Set images"
        if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
        run: |
          git config --global user.email github@ci.push && \
          git config --global user.name "Github action" && \
          git remote add pat-origin https://${{ secrets.GH_COMMIT_PAT }}@github.com/${{ github.repository }}.git && \
          /snap/bin/yq -i '.admin.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/admin-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./operations/deployments/openstad-headless/environments/prod/images.yml && \
          /snap/bin/yq -i '.admin.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/admin-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./charts/openstad-headless/values.yaml && \
          /snap/bin/yq -i '.api.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/api-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./operations/deployments/openstad-headless/environments/prod/images.yml && \
          /snap/bin/yq -i '.api.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/api-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./charts/openstad-headless/values.yaml && \
          /snap/bin/yq -i '.cms.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/cms-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./operations/deployments/openstad-headless/environments/prod/images.yml && \
          /snap/bin/yq -i '.cms.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/cms-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./charts/openstad-headless/values.yaml && \
          /snap/bin/yq -i '.auth.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/auth-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./operations/deployments/openstad-headless/environments/prod/images.yml && \
          /snap/bin/yq -i '.auth.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/auth-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./charts/openstad-headless/values.yaml && \
          /snap/bin/yq -i '.image.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/image-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./operations/deployments/openstad-headless/environments/prod/images.yml && \
          /snap/bin/yq -i '.image.deploymentContainer.image = "ghcr.io/${{ github.repository_owner }}/image-server:${{ needs.build-and-push-docker-image.outputs.image_tag }}"' ./charts/openstad-headless/values.yaml

      - name: "[PROD] Install Helm"
        if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
        uses: azure/setup-helm@v3
        with:
          version: v3.19.2

      - name: "[PROD] Helm Lint Charts"
        if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
        run: |
          for dir in $(ls -d charts/*/); do
          # remove trailing slash from dir
            dir=$(echo $dir | sed 's:/*$::')
            helm lint $dir -f $dir/values.yaml --strict || exit 1
          done

      - name: "[PROD] Helm Deps"
        if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 | head -n -1 | awk '{ print "helm repo add " $1 " " $3 }' | while read cmd; do $cmd; done
          done

      - name: "[PROD] Release Helm Chart"
        if: (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == 'main') || (github.ref == 'refs/heads/main')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io \
            --username "${{ github.repository_owner }}" \
            --password-stdin && \
          helm package charts/openstad-headless && \
          helm push openstad-headless-${{ needs.get-openstad-version.outputs.openstad_version }}.tgz oci://ghcr.io/${{ github.repository }} && \
          gh release create "v${{ needs.get-openstad-version.outputs.openstad_version }}" openstad-headless-${{ needs.get-openstad-version.outputs.openstad_version }}.tgz --repo ${{ github.repository }} --title "v${{ needs.get-openstad-version.outputs.openstad_version }}" --notes "Release Openstad Headless version v${{ needs.get-openstad-version.outputs.openstad_version }}." --generate-notes
