{% extends "layout.html" %} {% import "filters.html" as filters %} {% import
"@apostrophecms/pager:macros.html" as pager with context %} {% block title %}{{
data.page.title }} {% endblock %} {% block main %} {% area data.page, 'top' %}

<div class="section">
  <div class="container u-small-dropdowns">
    <div class="row">
      <div class="col-xs-12">
        <div class="news-overview-header">
          <h1 class="utrecht-heading-1">{{ data.page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% if data.pieces.length %}
        <ul class="news-grid" role="list">
          {% for piece in data.pieces %}
          <li>
            <article class="news-card" aria-labelledby="news-{{ piece._id }}">
              <figure>
                <img
                  src="{{ apos.attachment.url(piece.image, { size: 'full' }) }}"
                  alt="{{ piece.image.title or piece.title }}"
                  loading="lazy" />
              </figure>
              <div class="card-content">
                <div class="date">
                  <time datetime="{{ piece.publishedAt | date('YYYY-MM-DD') }}">
                    {{ piece.publishedAt | date('D MMMM YYYY') }}
                  </time>
                </div>
                <h2 class="utrecht-heading-4" id="news-{{ piece._id }}">
                  <a href="{{ piece._url }}" class="stretched-link">
                    {{ piece.title }}
                  </a>
                </h2>
                <p class="utrecht-paragraph">{{ piece.summary }}</p>
              </div>
            </article>
          </li>
          {% endfor %}
        </ul>

        <nav class="pagination" aria-label="Paginering nieuwsberichten">
          {{ pager.render({ page: data.currentPage, total: data.totalPages },
          data.url) }}
        </nav>
        {% else %}
        <p class="utrecht-paragraph">Er zijn nog geen nieuwsberichten.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% area data.page, 'bottom' %} {% endblock %}
