{% extends "layout.html" %} {% extends data.outerLayout %} {% block title %}{{
data.piece.title }}{% endblock %} {% block main %}

<div class="section news-detail">
  <div class="container u-small-dropdowns">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="news-detail-header">
          <figure>
            <img
              src="{{ apos.attachment.url(data.piece.image, { size: 'full' }) }}"
              role="presentation" />
          </figure>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <aside class="news-detail-sidebar">
          <div class="publication-date">
            <h2 class="utrecht-heading-4">Gepubliceerd op</h2>
            <p class="utrecht-paragraph">
              {{ data.piece.publishedAt | date('D MMMM YYYY') }}
            </p>
          </div>

          <div data-openstad-sharelinks data-title="Deel dit"></div>
        </aside>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="news-detail-title">
          <h1 class="utrecht-heading-1">{{ data.piece.title }}</h1>
        </div>

        <article>{% area data.piece, 'content' %}</article>
      </div>
    </div>
  </div>
</div>

{% endblock %}
