:root {
  --basemap-map-width: 100%;
  --basemap-map-height: 420px;
  --basemap-map-aspect-ratio: unset;
}

.map-container.osc-map {
  width: var(--basemap-map-width);
  height: var(--basemap-map-height);
  aspect-ratio: var(--basemap-map-aspect-ratio);
}

.osc-base-map-widget-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.osc-base-map-widget-container .osc-map-marker-faded {
  opacity: .35;
}

.osc-base-map-widget-container .osc-map-marker-cluster-faded {
  opacity: .35;
}

.leaflet-container a {
  display: inline-block;
  font-size: 18px;
  color: var(--utrecht-button-primary-action-background-color);
}
.leaflet-bottom.leaflet-right{
  display: none;
}


.leaflet-popup .leaflet-popup-content{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.osc .resource-card--link .osc-resource-overview-content-item-footer .icon > p {
  margin: 0;
}

.map-container .osc-base-map-widget-container .lr-map-visually-hidden {
  word-wrap: normal !important;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  opacity: 0;
}

.osc-base-map-widget-container .lr-map-interaction-overlay {
  background-color: rgba(0, 0, 0, .75);
  border-radius: .5rem;
  color: #fff;
  font-size: 1rem;
  left: 50%;
  max-width: calc(100% - 2rem);
  padding: 1rem 1.5rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: -moz-max-content;
  width: max-content;
  z-index: 1000;
  opacity: 1;
}

.osc-map-legend.legend {
  list-style: none;
  padding: 8px;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  bottom: 1rem;
  right: 1rem;
  left: auto;
  z-index: 5;
  background-color: white;
}

.osc-map-legend.legend .legend-item {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.osc-map-legend.legend .legend-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
}

.osc-map-legend.legend .legend-info {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.osc-map-legend.legend .legend-icon {
  width: 10px;
  height: 13px;
  margin-right: 5px;
  display: inline-block;
}

.osc-map-legend.legend .legend-icon--line {
  width: 13px;
}

.osc-map-legend.legend input[type="checkbox"] {
  margin-right: 3px;
}

.leaflet-tooltip-pane .leaflet-tooltip {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
  text-shadow: 0 0 4px black;
  font-size: .9rem;
  pointer-events: all;
}

.leaflet-overlay-pane .leaflet-interactive {
  pointer-events: none;
}