.osc-base-map-widget-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.osc-base-map-widget-container .osc-map-marker-faded {
  opacity: .35;
}

.osc-base-map-widget-container .osc-map-marker-cluster-faded {
  opacity: .35;
}