.osc-resource-overview-map-button {
}

/* .osc-resource-overview-map-button.osc-first-button {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  left: 20px;
  bottom: 20px;
}

.osc-resource-overview-map-button.osc-second-button {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  left: 20px;
  bottom: 76px;
} */

.map-container--buttons{
  position: relative;
}
.map-buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
}

.map-buttons .utrecht-button--secondary-action{
  scale: 1 !important;
  cursor: default !important;
  border: none !important;
}

.map-container--buttons .legend {
  list-style: none;
  padding: 8px;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  bottom: 1rem;
  right: 1rem;
  left: auto;
  z-index: 5;
  background-color: white;
}

.map-container--buttons .legend-item {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.map-container--buttons .legend-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
}

.map-container--buttons .legend-info {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.map-container--buttons .legend-icon {
  width: 10px;
  height: 13px;
  margin-right: 5px;
  display: inline-block;
}

.map-container--buttons input[type="checkbox"] {
  margin-right: 3px;
}