.osc-resource-overview-map-button {
}

/* .osc-resource-overview-map-button.osc-first-button {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  left: 20px;
  bottom: 20px;
}

.osc-resource-overview-map-button.osc-second-button {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  left: 20px;
  bottom: 76px;
} */

.map-container--buttons{
  position: relative;
}
.map-buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
}