.resourceOverviewWithMap-container {
  display: grid;
  grid-template-columns: var(--setResourceOverviewMapFilterColumns, var(--resourceOverviewMapFilterColumns, 1fr 1fr));
  height: var(--setResourceOverviewMapHeight, var(--resourceOverviewMapHeight, calc(100vh - 193px)));
}

.resourceOverviewWithMap-container
  .osc-resourceoverview-search-container.col-span-full:not(:empty) {
  margin-block-end: var(--setResourceOverviewMapMarginBlock, var(--resourceOverviewMapMarginBlock, 1.5rem));
}

.resourceOverviewWithMap-container .osc-resource-overview-content {
  grid-template-columns: var(--setResourceOverviewMapMobileColumns, var(--resourceOverviewMapMobileColumns, 1fr));
  gap: var(--setResourceOverviewMapGap, var(--resourceOverviewMapGap, 0 2rem));
}
.resourceOverviewWithMap-container
  .osc-resource-overview-content
  #stem-begroot-filter {
  grid-column: 1 / -1;
  margin-block-end: var(--setResourceOverviewMapFilterMarginBlock, var(--resourceOverviewMapFilterMarginBlock, 3rem));
}
.resourceOverviewWithMap-container
  .osc-resource-overview-content
  #stem-begroot-filter
  .osc-resources-filter.osc-flex-columned {
  width: var(--setResourceOverviewMapFilterWidth, var(--resourceOverviewMapFilterWidth, calc(100% + 2rem)));
  padding-inline-start: var(--setResourceOverviewMapFilterPaddingStart, var(--resourceOverviewMapFilterPaddingStart, 2rem));
  padding-inline-end: var(--setResourceOverviewMapFilterPaddingEnd, var(--resourceOverviewMapFilterPaddingEnd, 2rem));
  box-sizing: border-box;

  display: grid;
  grid-template-columns: var(--setResourceOverviewMapFilterColumns, var(--resourceOverviewMapFilterColumns, 1fr 1fr));
}

.resourceOverviewWithMap-container .detail-container {
  overflow: scroll;
}
.resourceOverviewWithMap-container .map-container {
  aspect-ratio: unset !important;
  height: 100% !important;
}

.resourceOverviewWithMap-container #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.resourceOverviewWithMap-container
  .osc-resource-overview-content
  .osc-resource-overview-resource-collection {
  grid-template-columns: 1fr !important;
}
.resourceOverviewWithMap-container .resource-card--link {
  display: grid;
  grid-template-columns: var(--setResourceOverviewMapCardColumns, var(--resourceOverviewMapCardColumns, 230px auto));
  border-bottom: solid var(--setResourceOverviewMapCardBorderWidth, var(--resourceOverviewMapCardBorderWidth, 1px)) var(--setResourceOverviewMapCardBorderColor, var(--resourceOverviewMapCardBorderColor, var(--nlds-default-border-color, #a9b2ba)));
  padding-bottom: var(--setResourceOverviewMapCardPaddingBottom, var(--resourceOverviewMapCardPaddingBottom, 1rem));
  padding-inline-start: var(--setResourceOverviewMapCardPaddingStart, var(--resourceOverviewMapCardPaddingStart, 1rem));
  padding-inline-end: var(--setResourceOverviewMapCardPaddingEnd, var(--resourceOverviewMapCardPaddingEnd, 1rem));
  align-content: center;
  grid-gap: var(--setResourceOverviewMapCardGap, var(--resourceOverviewMapCardGap, 0 1.5rem));
  margin-block-start: var(--setResourceOverviewMapCardMarginBlock, var(--resourceOverviewMapCardMarginBlock, -1rem));
  justify-content: stretch;
}

.resourceOverviewWithMap-container .osc .image-container {
  grid-row: span 2;
  align-self: center;
}

.resourceOverviewWithMap-container .osc-resource-overview-content-item-footer {
  grid-column: 2;
}
.osc-filter-search-bar.utrecht-textbox {
  max-width: revert;
  width: 100%;
}

/* @media only screen and (max-width: 1400px) {
  .resourceOverviewWithMap-container {
    grid-template-columns: 3fr 2fr; 
  }

}
} */

/* Define containers */
.map-wrapper {
  container-type: inline-size;
  container-name: resourceOverviewWithMapContainer;
}

.resourceOverviewWithMap-container .detail-container {
  container-type: inline-size;
  container-name: detailContainer;
}

.resourceOverviewWithMap-container .map-container--buttons {
  container-type: inline-size;
  container-name: MapContainerButtons;
}

@container resourceOverviewWithMapContainer (max-width: 1400px) {
  .resourceOverviewWithMap-container {
    grid-template-columns: 3fr 2fr;
  }
}

@container resourceOverviewWithMapContainer (max-width: 1000px) {
  .resourceOverviewWithMap-container {
    grid-template-columns: var(--setResourceOverviewMapMobileColumns, var(--resourceOverviewMapMobileColumns, 1fr));
    height: var(--setResourceOverviewMapMobileHeight, var(--resourceOverviewMapMobileHeight, auto));
    grid-template-rows: var(--setResourceOverviewMapRows, var(--resourceOverviewMapRows, 250px auto));
  }
  .resourceOverviewWithMap-container .map-container {
    grid-row: 1;
  }
  .resourceOverviewWithMap-container .detail-container {
    grid-row: 2;
  }

  .resourceOverviewWithMap-container .map-buttons {
    flex-direction: row;
  }

  .resourceOverviewWithMap-container
    .osc-resource-overview-content
    #stem-begroot-filter
    .osc-resources-filter.osc-flex-columned {
    padding-inline: 1rem;
  }
}

@container resourceOverviewWithMapContainer(max-width: 768px) {
  .resourceOverviewWithMap-container .resource-card--link {
    display: block;
  }
  .osc .image-container > img {
    aspect-ratio: var(--setResourceOverviewMapImageAspectRatio, var(--resourceOverviewMapImageAspectRatio, 16/5));
  }
}

@container detailContainer (max-width: 600px) {
  .map-wrapper .resourceOverviewWithMap-container .resource-card--link {
    display: flex;
    flex-direction: column;
  }
  .resourceOverviewWithMap-container .osc-resource-overview-content #stem-begroot-filter .osc-resources-filter.osc-flex-columned{
    grid-template-columns: var(--setResourceOverviewMapMobileColumns, var(--resourceOverviewMapMobileColumns, 1fr));
  }
}

.osc-resource-overview-resource-collection .osc-loading-results-text,
.osc-resource-overview-resource-collection .osc-no-results-text {
  position: relative;
  width: 100%;
  text-align: center;
}