.resourceOverviewWithMap-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 193px);
}

.resourceOverviewWithMap-container
  .osc-resourceoverview-search-container.col-span-full:not(:empty) {
  margin-block-end: 1.5rem;
}

.resourceOverviewWithMap-container .osc-resource-overview-content {
  grid-template-columns: 1fr;
  gap: 0 2rem;
}
.resourceOverviewWithMap-container
  .osc-resource-overview-content
  #stem-begroot-filter {
  grid-column: 1 / -1;
  margin-block-end: 3rem;
}
.resourceOverviewWithMap-container
  .osc-resource-overview-content
  #stem-begroot-filter
  .osc-resources-filter.osc-flex-columned {
  width: calc(100% + 2rem);
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resourceOverviewWithMap-container .detail-container{
  overflow: scroll;
}
.resourceOverviewWithMap-container .map-container {
  aspect-ratio: unset !important;
  height: 100% !important;
}

.resourceOverviewWithMap-container #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.resourceOverviewWithMap-container
  .osc-resource-overview-content
  .osc-resource-overview-resource-collection {
  grid-template-columns: 1fr !important;
}
.resourceOverviewWithMap-container .resource-card--link {
  display: grid;
  grid-template-columns: 230px auto;
  border-bottom: solid 1px var(--nlds-default-border-color, #a9b2ba);
  padding-bottom: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  align-content: center;
  grid-gap: 0 1.5rem;
  margin-block-start: -1rem;
  justify-content: stretch;
}

.resourceOverviewWithMap-container .osc .image-container {
  grid-row: span 2;
  align-self: center;
}

.resourceOverviewWithMap-container .osc-resource-overview-content-item-footer {
  grid-column: 2;
}
.osc-filter-search-bar.utrecht-textbox{
  max-width: revert;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .resourceOverviewWithMap-container {
    grid-template-columns: 3fr 2fr; 
  }

}

@media only screen and (max-width: 1000px) {

  .resourceOverviewWithMap-container {
    grid-template-columns: 1fr;
    height: auto;
    grid-template-rows: 250px auto;
  }

  .resourceOverviewWithMap-container .map-container{
    grid-row: 1;
  }
  .resourceOverviewWithMap-container .detail-container{
    grid-row: 2;
  }

  .resourceOverviewWithMap-container .map-buttons{
    flex-direction: row;
  }

  .resourceOverviewWithMap-container .osc-resource-overview-content #stem-begroot-filter .osc-resources-filter.osc-flex-columned{
    padding-inline: 1rem;
  }

}

@media only screen and (max-width: 768px) {
  .resourceOverviewWithMap-container .resource-card--link{
    display: block;
  }
  .osc .image-container>img {
    aspect-ratio: 16/5;
  }
}
